<div class="container footer">
    <div class="row">
        <div class="col-sm-24 footer-top">
            <div class="left">
                <ul class="menu">
                    <li>
                        <a routerLink="/historia">Historia</a>
                    </li>
                    <li>
                        <a routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a routerLink="/terminos-y-condiciones">Términos y condiciones</a>
                    </li>
                    <li>
                        <a routerLink="/aviso-legal">Aviso legal</a>
                    </li>
                </ul>
                <div class="social">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/chepexpress">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <!--<a class="twitter" target="_blank" href="https://twitter.com/chepeexpress"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                    <a class="instagram" target="_blank" href="https://www.instagram.com/chepeexpress">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24 footer-bottom">
            <div class="col-sm-8 logo-left">
                <img class="img-responsive" src="assets/img/GRUPO_MEXICO_TRANSPORTES.png">
            </div>
            <div class="col-sm-8">
                <p class="copyright">Derechos reservados © Ferromex 2018.</p>
            </div>
            <div class="col-sm-8 logo-right">
                <a target="_blank" href="https://www.tripadvisor.com.mx/Attraction_Review-g1028202-d1127501-Reviews-Chepe_Express-Chihuahua_Northern_Mexico.html/">
                    <img class="img-responsive" src="assets/img/tripadvisor.png" style="margin-top: 15px;">
                </a>
            </div>
        </div>
    </div>
</div>