<div class="container footer">
    <div class="row">
        <div class="col-sm-24 footer-top">
            <div class="left">
                <ul class="menu">
                    <li><a href="historia.html">Historia</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="terminos-condiciones.html">Términos y condiciones</a></li>
                    <li><a href="aviso-legal.html">Aviso legal</a></li>
                </ul>
                <div class="social">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/FerromexOficial"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/Ferromex"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/ferromex_oficial/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-24 footer-bottom">
            <div class="col-sm-8 logo-left">
                <img class="img-responsive" src="assets/img/GRUPO_MEXICO_TRANSPORTES.png">
            </div>
            <div class="col-sm-8">
                <p class="copyright">Derechos reservados © Ferromex 2017.</p>
            </div>
            <div class="col-sm-8 logo-right">
                <img class="img-responsive" src="assets/img/secured-by-rapidssl.png">
            </div>
        </div>
    </div>
</div>