<div class="main-content transparent margintop70">
  <div class="container">
    <div class="row">
      <div class="col-sm-15 no-gutter-left text-justify bg-six col transparent equalheight paddingtop50">
        <div class="row">
          <div class=" col-sm-24 gap-left">
            <h1 class="">{{'Comm-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class=" col-sm-24 gap-left">
            <h3 class="">{{'Comm-P01' | translate}}</h3>
          </div>

          <div class="col-sm-24 gap-left">
            <p>{{'Comm-P02' | translate}}</p>
            <p>{{'Comm-P03' | translate}}</p>
            <p>{{'Comm-P04' | translate}}</p>
            <p>{{'Comm-P05' | translate}}</p>
            <p>{{'Comm-P06' | translate}}</p>
            <p>{{'Comm-P07' | translate}}</p>
            <p>{{'Comm-P08' | translate}}</p>
            <p>{{'Comm-P09' | translate}}</p>
            <p>{{'Comm-P10' | translate}}</p>
            <p>{{'Comm-P11' | translate}}</p>
          </div>

        </div>

      </div>
      <div class="col-sm-9 no-gutter bg-one col transparent equalheight paddingtop130">
        <div class="row">
          <div class=" col-sm-24 center">
            <div class="box-carousel-thumbnail">
              <img src="assets/img/atraciones/comunidades/comunidades-indigenas.jpg" class="img-responsive">
            </div>
            <a class="btn btn-link c-white margintop50" href="#" data-toggle="modal" data-target="#modal-galeria">
              <div>
                <img src="assets/img/icon_gallery.png">
              </div>
              <div>{{'Comm-P12' | translate}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- modal galeria -->
<div class="modal galeria fade" id="modal-galeria" tabindex="-1" role="dialog">
  <div class="modal-center__default" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carousel-slider-thumbnail" class="carousel slide " data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-1.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-2.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-3.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-4.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-5.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-6.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-7.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-8.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/comunidades/comunidades-9.jpg">
              <!--<div class="excerpt">Comunidades</div>-->
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->