<div class="main-content transparent margintop70 bg-white ">
  <div class="container margintop50 marginbot50">
    <div class="row">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-20 gap-left">
            <h1 class="">Destinos y actividades</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left">
            <p>Deja que el espíritu aventurero sea tu guía durante el viaje. Hay mucho que ver, hacer, conocer, disfrutar y
              vivir.</p>
          </div>

        </div>
      </div>
    </div>
    <div class="row margintop30 grid-image">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class="col-sm-24 gap-left gap-right">
            <div class="row">
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/los-mochis">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/los-mochis_thumbnail.jpg">
                    <div class="hover-text">LOS MOCHIS</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/el-fuerte">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/el-fuerte_thumbnail.jpg">
                    <div class="hover-text">EL FUERTE</div>
                  </div>
                </a>
              </div>
              <div class="col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/bahuichivo">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/bahuichivo_thumbnail.jpg">
                    <div class="hover-text">BAHUICHIVO</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/barrancas-cobre">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/barancas-cobre_thumbnail.jpg">
                    <div class="hover-text">DIVISADERO
                      <br>(Barrancas del Cobre)</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/creel">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/creel_thumbnail.jpg">
                    <div class="hover-text">CREEL</div>
                  </div>
                </a>
              </div>
              <div class="col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/cuauhtemoc">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/cuauhtemoc_thumbnail.jpg">
                    <div class="hover-text">CUAUHTÉMOC</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/destinos-y-actividades/chihuahua">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/chihuahua_thumbnail.jpg">
                    <div class="hover-text">Chihuahua</div>
                  </div>
                </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>