<div class="main-content">
  <div class="container">
    <div class="row margintop60">

      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-20 gap-left">
            <h1>Itinerarios sugerido</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">

          <!-- bloc panel -->
          <div class="col-sm-24 gap-left gap-right ">
            <h3>Chepe Express</h3>

            <div class="row">
              <div class="col-sm-24 center">
                <div class="bg-one uppercase panel-separator">Tours 3 días 2 noches
                  <span class="arrow">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>


            <div class="panel-group" id="ChepeExpressAccordion" role="tablist" aria-multiselectable="true">

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressOne"
                  aria-expanded="true" aria-controls="ChepeExpressOne">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingOne">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 1
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - El Fuerte - Divisadero - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingOne">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>15:50 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero</td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>07:20 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>



                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!--  <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <div class="row">
                <div class="col-sm-24 center">
                  <div class="bg-one uppercase panel-separator">Tours 4 días 3 noches
                    <span class="arrow">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressTwo"
                  aria-expanded="true" aria-controls="ChepeExpressTwo">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingTwo">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 2
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - El Fuerte - Divisadero - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingTwo">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>El Fuerte</td>
                                <td>15:50 hrs</td>
                                <td>18:00 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>El Fuerte</td>
                                <td>Divisadero</td>
                                <td>18:05 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>07:20 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressThree"
                  aria-expanded="true" aria-controls="ChepeExpressThree">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingThree">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 3
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - Creel - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingThree">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>15:50 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Divisadero</td>
                                <td>Creel</td>
                                <td>23:25 hrs</td>
                                <td>00:50 hrs</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td colspan="2" class="center">Creel </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Creel</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Creel</td>
                                <td>Los Mochis</td>
                                <td>06:00 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressFour"
                  aria-expanded="true" aria-controls="ChepeExpressFour">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingFour">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 4
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - El Fuerte - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingFour">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>15:50 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>El Fuerte</td>
                                <td>07:20 hrs</td>
                                <td>12:40 hrs</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>El Fuerte</td>
                                <td>Los Mochis</td>
                                <td>12:45 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->


              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressFive"
                  aria-expanded="true" aria-controls="ChepeExpressFive">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingFive">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 5
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingFive">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>15:50 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>07:20 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div>
--></div>
                </div>
              </div>
              <!-- end panel -->

              <div class="row">
                <div class="col-sm-24 center">
                  <div class="bg-one uppercase panel-separator">Tours 5 días 4 noches
                    <span class="arrow">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressSix"
                  aria-expanded="true" aria-controls="ChepeExpressSix">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingSix">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 6
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - El Fuerte - Divisadero - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingSix">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>El Fuerte</td>
                                <td>15:50 hrs</td>
                                <td>18:00 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>El Fuerte</td>
                                <td>Divisadero</td>
                                <td>18:05 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center ">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>07:20 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressSeven"
                  aria-expanded="true" aria-controls="ChepeExpressSeven">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingSeven">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 7
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - El Fuerte - Divisadero - Creel - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingSeven">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Creel</td>
                                <td>15:50 hrs</td>
                                <td>00:50 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Creel </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Creel</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Creel</td>
                                <td>Divisadero</td>
                                <td>06:00 hrs</td>
                                <td>07:15 hrs</td>
                              </tr>

                              <tr>
                                <td>4</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>07:20 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->


              <!-- panel -->
              <div class="panel panel-default">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeExpressAccordion" href="#ChepeExpressEight"
                  aria-expanded="true" aria-controls="ChepeExpressEight">
                  <div class="panel-heading" role="tab" id="ChepeExpressHeadingEight">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 8
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - El Fuerte - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeExpressEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeExpressHeadingEight">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>15:50 hrs</td>
                                <td>23:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Divisadero</td>
                                <td>El Fuerte</td>
                                <td>07:20 hrs</td>
                                <td>12:40 hrs</td>
                              </tr>


                              <tr>
                                <td>5</td>
                                <td>El Fuerte</td>
                                <td>Los Mochis</td>
                                <td>12:45 hrs</td>
                                <td>14:50 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!--<div class="row margintop20"> 

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

            </div>

          </div>
          <!-- end bloc panel -->



          <!-- bloc panel -->
          <div class="col-sm-24 gap-left gap-right ">
            <h3 class="c-five">Chepe Regional</h3>
            <div class="panel-group" id="ChepeRegionalAccordion" role="tablist" aria-multiselectable="true">

              <div class="row">
                <div class="col-sm-24 center">
                  <div class="bg-five uppercase panel-separator">Tours 4 días 3 noches
                    <span class="arrow">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalOne"
                  aria-expanded="true" aria-controls="ChepeRegionalOne">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingOne">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 1
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - Creel - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingOne">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>07:00 hrs</td>
                                <td>15:25 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>Creel</td>
                                <td>15:40 hrs</td>
                                <td>16:45 hrs</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Creel</td>
                                <td>Los Mochis</td>
                                <td>12:50 hrs</td>
                                <td>22:30 hrs</td>
                              </tr>





                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalTwo"
                  aria-expanded="true" aria-controls="ChepeRegionalTwo">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingTwo">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 2
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Bahuichivo - Divisadero - Creel - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingTwo">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Bahuichivo</td>
                                <td>07:00 hrs</td>
                                <td>13:25 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Bahuichivo</td>
                                <td>Divisadero</td>
                                <td>13:25 hrs</td>
                                <td>15:25 hrs</td>
                              </tr>

                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>Creel</td>
                                <td>15:40 hrs</td>
                                <td>16:45 hrs</td>
                              </tr>


                              <tr>
                                <td>4</td>
                                <td>Creel</td>
                                <td>Los Mochis</td>
                                <td>12:50 hrs</td>
                                <td>22:30 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!--   <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalThree"
                  aria-expanded="true" aria-controls="ChepeRegionalThree">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingThree">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 3
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - El Fuerte - Divisadero - Creel - Chihuahua

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingThree">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>El Fuerte</td>
                                <td>07:00 hrs</td>
                                <td>09:20 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>El Fuerte</td>
                                <td>Divisadero</td>
                                <td>09:20 hrs</td>
                                <td>15:25 hrs</td>
                              </tr>

                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>Creel</td>
                                <td>15:40 hrs</td>
                                <td>16:45 hrs</td>
                              </tr>


                              <tr>
                                <td>4</td>
                                <td>Creel</td>
                                <td>Chihuahua</td>
                                <td>16:45 hrs</td>
                                <td>22:35 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalFour"
                  aria-expanded="true" aria-controls="ChepeRegionalFour">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingFour">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 4
                      </div>

                      <div class="col-sm-19">
                        Chihuahua - Creel - Divisadero - El Fuerte - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingFour">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Chihuahua</td>
                                <td>Creel</td>
                                <td>07:00 hrs</td>
                                <td>12:50 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Creel</td>
                                <td>Divisadero</td>
                                <td>12:50 hrs</td>
                                <td>14:45 hrs</td>
                              </tr>

                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>El Fuerte</td>
                                <td>15:00 hrs</td>
                                <td>20:20 hrs</td>
                              </tr>


                              <tr>
                                <td>4</td>
                                <td>El Fuerte</td>
                                <td>Los Mochis</td>
                                <td>20:20 hrs</td>
                                <td>22:30 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!--  <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <div class="row">
                <div class="col-sm-24 center">
                  <div class="bg-five uppercase panel-separator">Tours 5 días 4 noches
                    <span class="arrow">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalFive"
                  aria-expanded="true" aria-controls="ChepeRegionalFive">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingFive">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 5
                      </div>

                      <div class="col-sm-19">
                        Los Mochis - Divisadero - Creel - Chihuahua

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingFive">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Los Mochis</td>
                                <td>Divisadero</td>
                                <td>07:00 hrs</td>
                                <td>15:25 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>

                              <tr>
                                <td>3</td>
                                <td>Divisadero</td>
                                <td>Creel</td>
                                <td>15:40 hrs</td>
                                <td>16:45 hrs</td>
                              </tr>

                              <tr>
                                <td>4</td>
                                <td colspan="2" class="center">Creel </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Creel</td>
                              </tr>


                              <tr>
                                <td>5</td>
                                <td>Creel</td>
                                <td>Chihuahua</td>
                                <td>16:45 hrs</td>
                                <td>22:35 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!--   <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                  </div>
                </div>
              </div>
              <!-- end panel -->

              <!-- panel -->
              <div class="panel panel-alternative">
                <a class="panel-link collapsed" role="button" data-toggle="collapse" data-parent="#ChepeRegionalAccordion" href="#ChepeRegionalSix"
                  aria-expanded="true" aria-controls="ChepeRegionalSix">
                  <div class="panel-heading" role="tab" id="ChepeRegionalHeadingSix">
                    <div class="row uppercase">

                      <div class="col-md-3 col-md-offset-2">
                        TOUR 6
                      </div>

                      <div class="col-sm-19">
                        Chihuahua - Creel - Divisadero - Los Mochis

                      </div>
                    </div>
                  </div>
                </a>
                <div id="ChepeRegionalSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ChepeRegionalHeadingSix">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-22 col-md-offset-2">
                        <div class="table-responsive">
                          <table class="table itinerarios-sugeridos chepe uppercase ">
                            <thead>
                              <tr>
                                <th>Día</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Salida</th>
                                <th>Llegada</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Chihuahua</td>
                                <td>Creel</td>
                                <td>07:00 hrs</td>
                                <td>12:50 hrs</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td colspan="2" class="center">Creel </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Creel</td>
                              </tr>

                              <tr>
                                <td>3</td>
                                <td>Creel</td>
                                <td>Divisadero</td>
                                <td>12:50 hrs</td>
                                <td>14:45 hrs</td>
                              </tr>

                              <tr>
                                <td>4</td>
                                <td colspan="2" class="center">Divisadero </td>
                                <td colspan="2" class="bg-transparent center">Pernocta en Divisadero</td>
                              </tr>


                              <tr>
                                <td>5</td>
                                <td>Divisadero</td>
                                <td>Los Mochis</td>
                                <td>15:00 hrs</td>
                                <td>22:30 hrs</td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--  <div class="row margintop20">

                                       <div class=" col-xs-12 col-sm-4  col-sm-offset-20 center">
                                          <a class="btn btn-link c-one" href="#" role="button">
                                              <div> <img src="assets/img/icon_calendar.png"></div>
                                              <div>Reservar</div>
                                          </a>
                                      </div>
                                  </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- end panel -->

            </div>

          </div>
          <!-- end bloc panel -->

        </div>
      </div>
    </div>

  </div>
</div>

<script>
  (function ($) {
    $(document).on('ready', function () {
      $('.input-group.date').datepicker({
        format: "dd/mm/yyyy",
        language: "es",
        orientation: "bottom left",
        todayHighlight: true
      });
    });
  })(jQuery);
</script>