<div class="main-content">
  <div class="container">
    <div class="row margintop60">
      <div class="col-sm-24 col-md-24 no-gutter-left">
        <div class="row marginbot20">
          <div class=" col-sm-24 gap-left ">
            <h1>{{'Test-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-24  no-gutter-left">
        <div class="row">
          <div class=" col-sm-12 col-md-15 gap-left ">
            <!--                                 <img class="img-responsive" src="assets/img/guia-viaje/testimonios.jpg"> -->

            <div id="TA_selfserveprop370" class="TA_selfserveprop">
              <ul id="iLDfHEl4Z" class="TA_links khxkWd">
                
              </ul>
            </div>

          </div>
          <div class=" col-sm-12 col-md-8 ">
            <img class="img-responsive" src="assets/img/guia-viaje/testimonios-left.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
