<div class="main-content">
  <div class="container">
    <div class="row margintop60">
      <div class="col-sm-24 col-md-24 no-gutter-left">
        <div class="row marginbot20">
          <div class=" col-sm-24 gap-left ">
            <h1>{{'Test-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-24  no-gutter-left">
        <div class="row">
          <div class=" col-sm-12 col-md-15 gap-left ">
            <!--                                 <img class="img-responsive" src="assets/img/guia-viaje/testimonios.jpg"> -->
            <div id="TA_selfserveprop361" class="TA_selfserveprop">
              <ul id="Fa4wVbyDJ28" class="TA_links hdPgrLkSi7">
                <li id="9tqn9ef" class="Hsdrgn0Q">
                  <a target="_blank" href="https://www.tripadvisor.com.mx/Attraction_Review-g1028202-d1127501-Reviews-Chepe_Express-Chihuahua_Northern_Mexico.html/">
                    <img src="https://www.tripadvisor.com.mx/Attraction_Review-g1028202-d1127501-Reviews-Chepe_Express-Chihuahua_Northern_Mexico.html/img/cdsi/img2/branding/150_logo-11900-2.png"
                      alt="TripAdvisor" />
                  </a>
                </li>
              </ul>
            </div>
            <script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=361&amp;locationId=1127501&amp;lang=es_MX&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=true&amp;display_version=2"></script>

          </div>
          <div class=" col-sm-12 col-md-8 ">
            <img class="img-responsive" src="assets/img/guia-viaje/testimonios-left.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>