<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div id="carousel-slider-header" class="carousel carousel-home slide border-img-bot c-border-one" data-ride="carousel">

      <div class="carousel-home-title">
        <h1 class="c-white">
          <span>{{'home-title' | translate}}</span>
        </h1>
      </div>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img-slider" style="background-image: url('assets/img/header6.jpg');"></div>
        </div>
        <div class="item">
          <div class="img-slider" style="background-image: url('assets/img/header7.jpg');"></div>
        </div>
        <div class="item">
          <div class="img-slider" style="background-image: url('assets/img/header3.jpg');"></div>
        </div>
        <div class="item">
          <div class="img-slider" style="background-image: url('assets/img/header4.jpg');"></div>
        </div>
        <div class="item">
          <div class="img-slider" style="background-image: url('assets/img/header8.jpg');"></div>
        </div>
        <div class="item">
          <div class="img-slider" style="background-image: url('assets/img/header9.jpg');"></div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-slider-header" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-slider-header" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="" style="background: url(assets/img/bg/mountain-water.jpg) no-repeat center center; background-size: cover;">
  <div class="main-content transparent">
    <div class="container margintop100">
      <div class="row">
        <div class="col-sm-15 no-gutter-left text-justify bg-six col transparent equalheight">
          <div class="row">
            <div class=" col-sm-24 gap-left margintop20">
              <h1>Chepe</h1>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
              <span class="title-underline c-border-one"></span>
            </div>

            <div class="col-sm-24 gap-left margintop20">


              <p class="fontweight700 c-one">{{'contenedor1-P0' | translate}}</p>

              <p>{{'contenedor1-P1' | translate}}</p>

              <p>{{'contenedor1-P2' | translate}}</p>

              <p>{{'contenedor1-P3' | translate}}</p>

              <p>{{'contenedor1-P4' | translate}}
                <span class="fontweight600">
                  <a href="#" data-toggle="modal" data-target="#modal-altitudes">{{'contenedor1-P5' | translate}}</a>
                </span>{{'contenedor1-P6' | translate}}
              </p>

            </div>

          </div>

        </div>
        <div class="col-sm-9 paddingtop100 bg-one col transparent equalheight">
          <div class="row">
            <div class=" col-sm-24 center">
              <h3 class="c-white">{{'contenedor2-P0' | translate}}</h3>
            </div>
            <div class="col-xs-24 center margintop30">
              <a class="btn btn-link c-white" routerLink="/trenes/chepe-express" role="button">
                <div>
                  <img src="assets/img/icon_train_white.png">
                </div>
                <div>CHEPE EXPRESS</div>
              </a>
              <a class="btn btn-link c-white" routerLink="/trenes/chepe-regional" role="button">
                <div>
                  <img src="assets/img/icon_train_white.png">
                </div>
                <div>CHEPE REGIONAL</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- modal altitudes -->
  <div class="modal mapa fade" id="modal-altitudes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/img/chepe_altitudes.png" class="img-responsive">
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->



  <app-footer></app-footer>
</div>

<!-- Modalbox -->
<div class="modalbox modalbox-special">
  <div class="modalbox-content">
    <div class="modalbox-top__blue">
      <figure class="modalbox-figure">
          <img src="assets/img/logo-chepe-express_white.png" />
        </figure>
        <a href="#" class="icon-close__modal js-specialClose__modal">
          <i class="fa fa-times icon-close__item"></i>
        </a>
    </div>
    <div class="modalbox-inside">
      <div class="modalbox-text text-center">
        <h3 class="mt-0">AVISO IMPORTANTE</h3>
       
        <p>Para evitar ser defraudado recuerde que nuestra única página web oficial es:</p>

        <a href="https://chepe.mx" target="_blank" class="modalbox-link">https://chepe.mx</a>

        <p>No nos hacemos resonsables por la compra de boletos en cualquier página ajena a esta.</p>
        <p>Para mayores informes favor de comunicarse a <a href="tel:01 800 122 43 73">01 800 122 43 73</a> o al correo <a href="mailto:chepe@ferromex.mx">chepe@ferromex.mx</a></p>

      </div>
    </div>
  </div>
</div>


<!-- Modal video -->
<div id="modal-video" class="modal-video">

  <a href="#" class="video-close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </a>

  <div class="logo">
    <img src="assets/img/chepe_white.png" width="350px">
    <div class="carousel-home-title">
      &nbsp;
    </div>
  </div>
</div>

