input.orange, select.orange, div.orange, span.orange{
border:2px solid #f18a21;
}
#pp{
    appearance: none;
    width: 20px;
    height:20px;
    margin-right:10px;
    border:2px solid #f18a21;
    background-color: white;
    border-radius:10px;
}