<div class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-sm-16 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-20 gap-left">
                        <h1 class="c-two">{{session.route.name}}</h1>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-two"></span>
                    </div>

                </div>
            </div>
            <app-cost-box></app-cost-box>
            <rch-status></rch-status>
            <!--<div class="col-sm-8 col-md-offset-2 col-md-6 paddingtop20 no-gutter-right">
        <table class="table uppercase">
            <tbody>
                <tr>
                    <th class="bg-three border2 c-one" scope="row">Total</th>
                    <td class="bg-two-darker border2 c-one">$3,277.00 MXN</td>
                </tr>
                <tr>
                    <th class="bg-three c-one" scope="row">Pasajeros</th>
                    <td class="bg-two-darker c-one">2</td>
                </tr>
            </tbody>
        </table>
    </div>-->
        </div>

        <div class="row">
            <div class="col-sm-20 no-gutter-left">
                <div class="row">
                    <div class="col-sm-24 gap-left">
                        <div class="table-responsive">
                            <table class="table chepe three center">

                                <thead class="uppercase">
                                    <tr>
                                        <th>{{'Step4-P00' | translate}}</th>
                                        <th>{{'Step4-P01' | translate}}</th>
                                        <th>{{'Step4-P02' | translate}}</th>
                                        <th>{{'Step4-P03' | translate}}</th>
                                        <th>{{'Step4-P04' | translate}}</th>
                                        <th>{{'Step4-P05' | translate}}</th>
                                        <th>{{'Step4-P06' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let segment of segments">
                                        <td>{{segment.n}}</td>
                                        <td class="bg-two-medium">{{segment.src.name}}</td>
                                        <td>{{segment.selected_travel.getDate()}}</td>
                                        <td class="bg-three">{{segment.selected_travel.departure.time}} hrs</td>
                                        <td class="bg-two-medium">{{segment.dst.name}}</td>
                                        <td>{{segment.selected_travel.arrival.time}} hrs</td>
                                        <td class="bg-three">{{segment.selected_travel.getDuration()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-20 no-gutter-left">
                <div class="row">
                    <div class="col-sm-24 gap-left">
                        <h3 class="no-mar-top">{{'Step4-P07' | translate}}</h3>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left bg-three">
                        <div *ngFor="let person of session.rb.persons;let i = index;">
                            <div class="row">
                                <div class="col-sm-24">
                                    <p class="fontweight700">{{'Step4-P08' | translate}}
                                        <span class="c-one">{{person.type.name}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label for="nombre1">{{'Step4-P09' | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="person.name" id="p_{{i}}_name">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label for="apellido1">{{'Step4-P10' | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="person.lastname" id="p_{{i}}_lastname">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 padd5">
                                    <div class="form-group">
                                        <label for="pais-residencia2">{{'Step4-P11' | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-4 padd5">
                                    <div class="form-group">
                                        <!--<input type="text" class="form-control" [(ngModel)]="person.country" id="p_{{i}}_country">-->
                                        <select class="form-control" [(ngModel)]="person.country" id="p_{{i}}_country">
                                                <option [ngValue]="null">{{'Step4-P12' | translate}}</option>
                                                <option *ngFor="let c of this.paises" [ngValue]="c.id">{{c.nombre_es}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-20 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-24 gap-left">
                        <h3>{{'Step4-P13' | translate}}</h3>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left bg-three paddingtop20 paddingbot10">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="form-group">
                                    <label for="correos">{{'Step4-P14' | translate}}</label>
                                    <input type="text" class="form-control" aria-describedby="helpBlock" [(ngModel)]="session.rb.etickets_email" id="etickets_email">
                                    <span id="helpBlock" class="help-block">{{'Step4-P15' | translate}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="form-group">
                                    <label for="celular">{{'Step4-P16' | translate}}</label>
                                    <input type="text" class="form-control" id="celular" [(ngModel)]="session.rb.etickets_email2" id="etickets_email2">
                                    <span id="helpBlock" class="help-block">{{'Step4-P17' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>







        <div class="row margintop20 marginbot40">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">

                    <div class="col-sm-14 gap-left marginbot20">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="pp" [(ngModel)]="session.rb.pp"> &nbsp; 
                                <span class="c-two">{{'Step4-P18' | translate}}
                                    <br>{{'Step4-P19' | translate}}
                                    <a class="underline c-two" routerLink="/terminos-y-condiciones">{{'Step4-P20' | translate}}</a>{{'Step4-P21' | translate}}
                                    <a class="underline c-two" routerLink="aviso-legal">{{'Step4-P22' | translate}}</a>
                                </span>
                            </label>
                        </div>
                        <small>{{'Step4-P23' | translate}}</small>
                    </div>

                    <div class="col-xs-12 col-sm-3 center">
                        <a class="btn btn-link" routerLink="/reservaciones/{{session.route.name}}/paso3" role="button">
                            <div>
                                <img src="assets/img/icon_left.png">
                            </div>
                            <div>{{'Step4-P24' | translate}}</div>
                        </a>
                    </div>

                    <div class=" col-xs-12 col-sm-3 center">
                        <a class="btn btn-link c-one" routerLink="/reservaciones/{{session.route.name}}/paso5" *ngIf="readyToGoNext()" role="button">
                            <div>
                                <img src="assets/img/icon_right.png">
                            </div>
                            <div>{{'Step4-P25' | translate}}</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>