<div class="row" >
                    
    <div class="col-sm-16 no-gutter-left">
        <div class="row">
            <div class=" col-sm-20 gap-left">
                    <h1 class="c-two">Chepe Regional</h1>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
                <span class="title-underline c-border-two"></span>
            </div>
            
        </div>
    </div>
    <div class="col-sm-8 col-md-offset-2 col-md-6 paddingtop20 no-gutter-right">
        <table class="table uppercase">
            <tbody>
                <tr>
                    <th class="bg-three border2 c-one" scope="row">Total</th>
                    <td class="bg-two-darker border2 c-one">$3,277.00 MXN</td>
                </tr>
                <tr>
                    <th class="bg-three c-one" scope="row">Pasajeros</th>
                    <td class="bg-two-darker c-one">2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-20 no-gutter-left">
        <div class="row">
            <div class="col-sm-24 gap-left">
                <div class="table-responsive">
                    <table class="table chepe three center">

                        <thead class="uppercase">
                            <tr>
                                <th>Escalas</th>
                                <th>Origen</th>
                                <th>Fecha</th>
                                <th>Salida</th>
                                <th>Destino</th>
                                <th>Llegada</th>
                                <th>Destino</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="bg-two-medium">CHIHUAHUA</td>
                                <td>LUN 10/04/2017</td>
                                <td class="bg-three">06:00 am</td>
                                <td class="bg-two-medium">CREEL</td>
                                <td>11:20 am</td>
                                <td class="bg-three">05:20 hrs</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="bg-two-medium">CREEL</td>
                                <td>JUE 13/04/2017</td>
                                <td class="bg-three">11:20 am</td>
                                <td class="bg-two-medium">DIVISADERO</td>
                                <td>13:04 pm</td>
                                <td class="bg-three">01:30 hrs</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="bg-two-medium">DIVISADERO</td>
                                <td>SAB 15/04/2017</td>
                                <td class="bg-three">13:04 pm</td>
                                <td class="bg-two-medium">EL FUERTE</td>
                                <td>18:23 pm</td>
                                <td class="bg-three">05:00 hrs</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="bg-two-medium">EL FUERTE</td>
                                <td>DOM 16/04/2017</td>
                                <td class="bg-three">18:23 pm</td>
                                <td class="bg-two-medium">LOS MOCHIS</td>
                                <td>20:23 pm</td>
                                <td class="bg-three">2:00 hrs</td>
                            </tr>
                   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">                    
    <div class="col-sm-20 no-gutter-left">
        <div class="row">
            <div class="col-sm-24 gap-left">
                <h3 class="no-mar-top">Agregar datos de los pasajeros</h3>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
                <span class="title-underline c-border-one"></span>
            </div>
            
            <div class="col-sm-24 gap-left bg-three">
                <div class="row">
                    <div class="col-sm-24">
                        <p class="fontweight700">Tipo de pasajero: <span class="c-one">Adulto</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label for="nombre1">Nombre*</label> 
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <div class="form-group">
                             <input type="text" class="form-control" id="nombre1">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label for="apellido1">Apellido*</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="apellido1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 padd5">
                        <div class="form-group">
                            <label for="pais-residencia2">País de residencia</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4 padd5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="pais-residencia2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24">
                        <p class="fontweight700">Tipo de pasajero: <span class="c-one">Menor</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label for="nombre2">Nombre*</label> 
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <div class="form-group">
                             <input type="text" class="form-control" id="nombre2">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <label for="apellido2">Apellido*</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="apellido2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 padd5">
                        <div class="form-group">
                            <label for="pais-residencia2">País de residencia</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-4 padd5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="pais-residencia2">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="row">                    
    <div class="col-sm-20 no-gutter-left">
        <div class="row">
            <div class=" col-sm-24 gap-left">
                <h3>Ingresar datos de contacto para entrega de eTICKETS</h3>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
                <span class="title-underline c-border-one"></span>
            </div>
            
            <div class="col-sm-24 gap-left bg-three paddingtop20 paddingbot10">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            <label for="correos">Cuenta(s) de correo*</label>
                            <input type="text" class="form-control" id="correos" aria-describedby="helpBlock">
                            <span id="helpBlock" class="help-block">Ej.: ana@dominio.com, pepe@yahoo.com, etc.</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            <label for="celular">Celular para envío de SMS</label>
                            <input type="text" class="form-control" id="celular">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>







 <div class="row margintop20 marginbot40">
     <div class="col-sm-24 no-gutter-left">
         <div class="row">
             
             <div class="col-sm-14 gap-left marginbot20">
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> <span class="c-two">AVISO DE PRIVACIDAD <br>Acepto las <a class="underline c-two" href="terminos-condiciones.html">políticas de servicio</a> y <a class="underline c-two" href="aviso-legal.html">aviso de privacidad</a></span>
                    </label>
                </div>
                 <small>* Campos obligatorios.</small>
             </div>
             
            <div class="col-xs-12 col-sm-3 center">
                <a class="btn btn-link" routerLink="/paso3" role="button">
                    <div> <img src="assets/img/icon_left.png"></div>
                    <div>Regresar</div>
                </a>
            </div>
             
             <div class=" col-xs-12 col-sm-3 center">
                <a class="btn btn-link c-one" routerLink="/paso5" role="button">
                    <div> <img src="assets/img/icon_right.png"></div>
                    <div>Continuar</div>
                </a>
            </div>
             
         </div>
     </div>
</div>