<div class="main-content">
    <section class="billing">

        <!-- BEGIN: TITLE -->
        <div class="row margintop50 mb-1">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-24 col-md-24  no-gutter-left">
                        <div class=" col-sm-24 gap-left ">
                            <h1>Facturación en línea
                        
                        </h1>
                    </div>
                    </div>
                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: TITLE -->
        <!-- BEGIN: STEPS -->
        <div class="wizard-steps">
            <ul>
                <li class="complete">
                    <a href="#">
                        <span>Ingresar</span>
                    </a>
                </li>
                <li class="complete">
                    <a href="#">
                        <span>Confirmar</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span>Datos físcales
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Finalizar</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END: STEPS -->
        <!-- BEGIN: BILLING -->
        <section class="billing-box">

            <!-- BEGIN: BILLING BLOCK 3 -->
            <div class="billing-block billing-3">
                <div class="col-md-17 row">
                    <div class="blling-form">
                        <form>
                            <div class="row-field set-keyDate row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Clave de reserva</label>
                                        <input class="form-control disabled-style" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input class="form-control datepicker datepicker-icon disabled-style" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row-field row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre o Razón social*
                                            </label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>R.F.C.*                                                </label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row-field row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Forma de pago </label>
                                        <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Uso de CFDI</label>
                                        <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row-field row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Calle</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>No. exterior*
                                            </label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>No. interior
                                            </label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row-field row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CP</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Colonia*
                                            </label>
                                        <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Delegacion</label>
                                        <input type="text" class="form-control disabled-style">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input type="text" class="form-control  disabled-style">
                                    </div>
                                </div>
                            </div>
                            <div class="row-field row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-info">
                                <p><strong>Nota</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, accusantium officia laborum quisquam modi voluptates obcaecati pariatur esse beatae impedit, consequuntur neque, fugit debitis
                                    sunt sint hic! Odio, ut nemo?
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 float-right row">
                    <div class="bill-total-sumary">
                        <div class="row-field row">
                            <div class="col-md-12">
                                <strong>Subtotal</strong>
                            </div>
                            <div class="col-md-12 align-right">
                                <span>$9890</span>
                            </div>
                        </div>
                        <div class="row-field row">
                            <div class="col-md-12">
                                <strong>Iva</strong>
                            </div>
                            <div class="col-md-12 align-right">
                                <span>$9890</span>
                            </div>
                        </div>
                        <div class="row-field row total-row ">
                            <div class="col-md-12">
                                <strong>Total</strong>
                            </div>
                            <div class="col-md-12 align-right">
                                <span>$9890</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-set">
                    <a href="#" class="btnForm btn-gray back-btn btn-size1">Regresar</a>
                    <a href="#" class="btnForm btn-blue next-btn btn-size1" data-toggle="modal" data-target="#confirmacion">Continuar</a>
                </div>
            </div>

            <!-- END: BILLING BLOCK 3 -->

            <!-- END: BILLING BLOCK 6-->
            <!-- BEGIN: ERROR RFC-->
            <div class="modal  modal-error fade in" id="errorBill" role="dialog" tabindex="-1" style="display:block">
                <div class="modal-center__default2" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span  aria-hidden="true">×</span>
                                    </button>
                        </div>
                        <div class="modal-body">
                            <div class="lightbox1_content">
                                <div class="lightbox-title">
                                    <figure>
                                        <img src="assets/img/alert.svg" />
                                    </figure>
                                    <h4>Ocurrió un error</h4>
                                </div>
                                <div class="lightbox1-info">
                                    <p>RFC no válido,no es posible emitir una factura
                                </div>
                                <div class="btn-set">
                                    <a href="#" class="btnForm btn-blue next-btn btn-size1" aria-label="Close" data-dismiss="modal">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: ERROR RFC-->

        </section>
        <!-- END: BILLING -->
    </section>
</div>