<!-- Loader -->
<section class="loader-wrapp" *ngIf="this.isLoading">
        <div class="loader"></div> 
</section>

<div class="main-content">
    <div class="container">
        <div class="row row--relative">

            <div class="col-sm-10 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-20 gap-left">
                        <h1 class="c-two">{{session.route.name}}</h1>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-two"></span>
                    </div>

                </div>
            </div>
            <rch-status></rch-status>
        </div>

        
        
        <!-- <div class="row margintop40 marginbot40">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">

                    <div class="col-xs-12 col-sm-3 col-sm-offset-15 center margintop30">
                        <a class="btn btn-link" routerLink="/reservaciones/{{session.route.name}}/paso1" role="button">
                            <div>
                                <img src="assets/img/icon_left.png">
                            </div>
                            <div>{{'Step3-P09' | translate}}</div>
                        </a>
                    </div>

                    <div class=" col-xs-12 col-sm-3 center margintop30">
                        <button class="btn btn-link c-one" hidden="{{btnNext}}" routerLink="/reservaciones/{{session.route.name}}/paso4" role="button">
                            <div>
                                <img src="assets/img/icon_right.png">
                            </div>
                            <div>{{'Step3-P10' | translate}}</div>
                        </button>
                    </div>

                </div>
            </div>
        </div> -->

        <!-- modal menu 1 -->
        <div id="menu1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{'Step3-P11' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

        <!-- modal menu 2 -->
        <div id="menu2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{'Step3-P12' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal modal-appear" *ngIf="this.displayModal">
            <div class="modal-dialog" role="document">
                <div class="modal-header cearfix">
                    <button type="button" class="close js-close-modal" data-dismiss="modal" aria-label="Close">
                         <span routerLink="/reservaciones/{{session.route.name}}/paso1" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <h2>{{this.notifTitle}}</h2>
                    <p>{{this.notifBody}}</p>
                    <p>{{this.notifBody1}}<a href="/trenes/horarios-tarifas" target="_blank">{{this.notifBody11}}</a></p>
                    <p>{{this.notifBody2}}</p>
                    <p>{{this.notifBody3}}</p>
                </div>
                <div class="modal-footer">
                    <!-- <a href="Javascript:void(0);" class="buttons__link js-close-modal">Cancelar</a>  -->
                    <a routerLink="/reservaciones/{{session.route.name}}/paso1" class="buttons__link buttons--type1">Aceptar</a>
                </div>
            </div>
        </div>

    </div>
</div>