<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
              <div class="row margintop50">
                  <div class=" col-sm-24 gap-left ">
                      <h1>{{'Tac-P00' | translate}}</h1>
                  </div>

                  <div class="col-sm-24 no-gutter-left-mobile">
                      <span class="title-underline c-border-one"></span>
                  </div>

                  <div class="col-sm-24 gap-left margintop30 terminos-condiciones">
                      <h6>
                          <b>{{'Tac-P01' | translate}}</b>
                      </h6>

                      <h5>{{'Tac-P02' | translate}}</h5>

                      <p>{{'Tac-P03' | translate}}</p>

                      <h5>{{'Tac-P04' | translate}}</h5>

                      <p>{{'Tac-P05' | translate}}
                          <a href="http://www.chepe.mx">www.chepe.mx</a>{{'Tac-P06' | translate}}</p>

                      <p>{{'Tac-P07' | translate}}</p>

                      <ul>
                          <li>{{'Tac-P08' | translate}}</li>
                          <li>{{'Tac-P09' | translate}}</li>
                          <li>{{'Tac-P10' | translate}}</li>
                          <li>{{'Tac-P11' | translate}}</li>
                          <li>{{'Tac-P12' | translate}}</li>
                          <li>{{'Tac-P13' | translate}}</li>
                      </ul>

                      <p>{{'Tac-P14' | translate}}</p>
                      <p>{{'Tac-P15' | translate}}</p>

                      <p>{{'Tac-P16' | translate}}
                          <a href="mailto:chepe.reservaciones@ferromex.mx">
                          chepe.reservaciones@ferromex.mx</a>{{'Tac-P17' | translate}}</p>

                      <p>{{'Tac-P18' | translate}}</p>

                      <p>{{'Tac-P19' | translate}}</p>

                      <h5>{{'Tac-P20' | translate}}</h5>

                      <p>{{'Tac-P21' | translate}}</p>

                      <p>{{'Tac-P22' | translate}}</p>

                      <p>{{'Tac-P23' | translate}}</p>

                      <p>{{'Tac-P24' | translate}}</p>

                      <p>{{'Tac-P25' | translate}}</p>

                      <p>{{'Tac-P26' | translate}}</p>

                      <h5>{{'Tac-P27' | translate}}</h5>

                      <p>{{'Tac-P28' | translate}} </p>

                      <p>{{'Tac-P29' | translate}}</p>

                      <p>{{'Tac-P30' | translate}}</p>

                      <p>{{'Tac-P31' | translate}}</p>

                      <p>{{'Tac-P32' | translate}}</p>

                      <p>{{'Tac-P33' | translate}}</p>

                      <p>{{'Tac-P34' | translate}}</p>

                      <p>{{'Tac-P35' | translate}}</p>

                      <ol type="a" class="spacing">
                          <li> {{'Tac-P36' | translate}}</li>

                          <li>{{'Tac-P37' | translate}}</li>

                          <li>{{'Tac-P38' | translate}}</li>

                          <li>{{'Tac-P39' | translate}}</li>

                          <li>{{'Tac-P40' | translate}}</li>

                          <li>{{'Tac-P41' | translate}}</li>
                      </ol>

                      <p>{{'Tac-P42' | translate}}</p>

                      <h5>{{'Tac-P43' | translate}}</h5>

                      <p>{{'Tac-P44' | translate}}</p>

                      <p>{{'Tac-P45' | translate}}</p>

                      <p>{{'Tac-P46' | translate}}</p>

                      <h5>{{'Tac-P47' | translate}}</h5>

                      <p>{{'Tac-P48' | translate}}</p>

                      <h5>{{'Tac-P49' | translate}}</h5>

                      <p>{{'Tac-P50' | translate}}</p>

                      <p>{{'Tac-P51' | translate}}</p>

                      <p>{{'Tac-P52' | translate}}</p>

                      <p>{{'Tac-P53' | translate}}</p>

                      <h5>{{'Tac-P54' | translate}}</h5>

                      <p>{{'Tac-P55' | translate}}</p>

                      <p>{{'Tac-P56' | translate}}</p>

                      <h5>{{'Tac-P57' | translate}}</h5>

                      <p>{{'Tac-P58' | translate}}</p>

                      <h5>{{'Tac-P59' | translate}}</h5>

                      <p>{{'Tac-P60' | translate}}</p>

                      <h5>{{'Tac-P61' | translate}}</h5>

                      <p>{{'Tac-P62' | translate}}</p>

                      <ul>
                          <li>{{'Tac-P63' | translate}}</li>
                          <li>{{'Tac-P64' | translate}}
                              <li>{{'Tac-P65' | translate}}</li>
                              <li>{{'Tac-P66' | translate}}</li>
                              <li>{{'Tac-P67' | translate}}</li>
                              <li>{{'Tac-P68' | translate}} </li>
                      </ul>

                      <p>{{'Tac-P69' | translate}}</p>

                      <ul>
                          <li>{{'Tac-P70' | translate}}</li>
                          <li>{{'Tac-P71' | translate}}</li>
                          <li>{{'Tac-P72' | translate}}</li>
                          <li>{{'Tac-P73' | translate}}</li>
                          <li>{{'Tac-P74' | translate}}</li>
                          <li>{{'Tac-P75' | translate}}</li>
                          <li>{{'Tac-P76' | translate}}</li>
                          <li>{{'Tac-P77' | translate}}</li>
                          <li>{{'Tac-P78' | translate}}</li>
                          <li>{{'Tac-P79' | translate}}</li>
                      </ul>

                      <li>{{'Tac-P80' | translate}}

                          <p>{{'Tac-P81' | translate}}</p>

                          <p>{{'Tac-P82' | translate}}</p>

                          <p>{{'Tac-P83' | translate}}</p>

                          <p>{{'Tac-P84' | translate}}</p>

                          <h5>{{'Tac-P85' | translate}}</h5>

                          <p>{{'Tac-P86' | translate}}</p>

                          <p>{{'Tac-P87' | translate}}</p>

                          <h5>{{'Tac-P88' | translate}}</h5>

                          <p>{{'Tac-P89' | translate}}</p>


                          <ol type="a" class="spacing">
                              <li>{{'Tac-P90' | translate}}</li>

                              <li>{{'Tac-P91' | translate}}</li>

                              <li>{{'Tac-P92' | translate}}</li>

                              <li>{{'Tac-P93' | translate}}</li>
                              <!-- <li>{{'Tac-P94' | translate}}</li> -->


                          </ol>
                          <p>{{'Tac-P95' | translate}}</p>



                          <h5>{{'Tac-P96' | translate}}</h5>

                          <p>{{'Tac-P97' | translate}}</p>

                          <ol type="a" class="spacing">
                              <li>{{'Tac-P98' | translate}}</li>

                              <li> {{'Tac-P99' | translate}}</li>

                              <li>{{'Tac-P100' | translate}}</li>

                              <li>{{'Tac-P101' | translate}}</li>

                              <li>{{'Tac-P102' | translate}}</li>
                              <li>{{'Tac-P103' | translate}}</li>


                          </ol>

                          <p>{{'Tac-P104' | translate}}</p>

                          <h5>{{'Tac-P105' | translate}}</h5>

                          <p>{{'Tac-P106' | translate}}</p>

                          <h5>{{'Tac-P107' | translate}}</h5>

                          <p>{{'Tac-P108' | translate}}</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>