<div class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-sm-24 col-md-16 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-20 gap-left">
                        <h1 class="c-two">{{session.route.name}}</h1>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-two"></span>
                    </div>

                    <div class=" col-sm-20 gap-left">
                        <h3 class=" c-two fontweight400">{{'Step5-P00' | translate}}</h3>
                    </div>

                </div>
            </div>
            <!--<app-cost-box></app-cost-box>-->
            <rch-status></rch-status>
            <div class="col-sm-24 col-md-8" *ngIf="selected_segment">
                <br/>
                <div class="row">
                    <div class="col-xs-24 timeline-seats-box center">
                        <h6 class="uppercase" id="assigned-passengers">
                            <span class="bg-two-light no-pasaje">{{'Step5-P01' | translate}} {{getAssignedSbs()}}/{{session.query.getTotalPassengers()}}</span>
                        </h6>
                    </div>
                </div>
                <div class="row timeline-seats regional">
                    <div class="col-xs-12 timeline-seats-box">
                        <div class="timeline-seats-title"></div>
                        <div class="timeline-seats-line">
                            <span class="dot"></span>
                        </div>
                        <div>
                            <h5>{{selected_segment.src.name}}</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 timeline-seats-box">
                        <div class="timeline-seats-title">
                            <h5 class="fontweight700">{{'Step5-P02' | translate}} {{selected_segment.n}}</h5>
                        </div>
                        <div class="timeline-seats-line">
                            <span class="dot"></span>
                        </div>
                        <div>
                            <h5>{{selected_segment.dst.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margintop50">
            <div class="col-sm-24 no-gutter-left">
                <div class="row ">
                    <div class=" col-sm-24 seat-color gap-left">
                        <div class="row">
                            <div class="col-xs-24 col-sm-7 col-md-6 col-lg-5 seat-color-box">
                                <span class="seat-color-code selected"></span>{{'Step5-P03' | translate}}
                            </div>
                            <div class="col-xs-24 col-sm-7 col-md-6 col-lg-5 seat-color-box">
                                <span class="seat-color-code available">{{'Step5-P04' | translate}}</span>
                            </div>
                            <div class="col-xs-24 col-sm-7 col-md-6 col-lg-5 seat-color-box">
                                <span class="seat-color-code occupied">{{'Step5-P05' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row margintop20" *ngIf="selected_segment ">

            <!-- max number of seats -->
            <div id="seatsnumbermax" data="3"></div>

            <div class="col-sm-24 " *ngFor="let wagon of getWagons(selected_segment)" style="width:50%;box-sizing:border-box;">
                <div class="row">
                    <div class="col-sm-24 center">
                        <h3 class="c-two fontweight400"> {{wagon.name}} {{wagon.type.numero_carro}}
                            <a href="#" data-toggle="modal" data-target="#wagon-details" (click)="selectWagonType(wagon.type)" class="wagon_info">
                                <div class="info-vagon">i</div>
                            </a>
                        </h3>

                    </div>
                    <div class="col-sm-24">
                        <div class="bg-base-light center">
                            <div class="select-seat {{getWagonType2(wagon)}}" id="VC">
                                <div class="wagon-img-classic">
                                    <img class="img-responsive" src="{{wagon.type.img_mobile}}">
                                </div>
                                <div class="block-seats">
                                    <div class="row-seats clearfix {{getRowClasses(i, wagon.type.id)}}" id="VC1" *ngFor="let row of wagon.getRows(); let i = index;">
                                        <div class="{{row.getSeatClasses(j,seat)}}" id="seat_{{seat.id}}" *ngFor="let seat of row.cols; let j = index" (click)="onSeatClicked(seat,wagon,selected_segment,j)">
                                            <label>{{seat.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row margintop20 marginbot40" [ngClass]="{fly:shouldFly()}">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">

                    <div class="col-sm-17 gap-left">
                    </div>

                    <div class="col-xs-12 col-sm-4 col-sm-offset-15 center margintop30">
                        <a class="btn btn-link" routerLink="/reservaciones/{{session.route.name}}/paso4" role="button" *ngIf="selected_segment">
                            <div>
                                <img src="assets/img/icon_left.png">
                            </div>
                            <div *ngIf="isFirstNav()">{{'Step5-P06' | translate}}</div>
                            <div *ngIf="!isFirstNav()">{{'Step5-P07' | translate}} {{selected_segment.n - 1}}</div>
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-3 center margintop30">
                        <a class="btn btn-link c-one" (click)="onNext()" role="button" *ngIf="selected_segment">
                            <div>
                                <img src="assets/img/icon_right.png">
                            </div>
                            <div *ngIf="isLastNav()">{{'Step5-P08' | translate}}</div>
                            <div *ngIf="!isLastNav()">{{'Step5-P09' | translate}} {{selected_segment.n + 1}}</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!-- modal vagon clasico -->
        <div id="wagon-details" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content" *ngIf="selected_wagon_type">
                    <button type="button" class="close absolute" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-xs-24 ">
                            <img src="{{selected_wagon_type.img_banner}}" class="img-responsive border-img-bot c-border-two">
                        </div>
                    </div>
                    <div class="row padding10">
                        <div class="col-xs-19 col-xs-offset-1 col-sm-18 col-sm-offset-4">
                            <h1 class="c-two">{{selected_wagon_type.name}}</h1>
                        </div>
                        <div class="col-xs-19 col-xs-offset-1 col-sm-18 col-sm-offset-4">
                            <span class="title-underline c-border-two"></span>
                        </div>
                        <div class="col-xs-19 col-xs-offset-1 col-sm-18 col-sm-offset-4 paddingbot20">
                            <p>{{selected_wagon_type.details}}</p>
                            <ul class="bull-reser">
                                <li *ngFor="let feature of selected_wagon_type.features">
                                    <em>{{feature}}</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>