.c-trenes.c-urike{
    background: url(/assets/img/bg/domo.jpg) no-repeat top center; 
    background-size: cover;
}

.c-atracciones.c-destinos-y-actividades.c-bahuichivo{
    background: url(/assets/img/bg/bahuichivo.jpg) no-repeat top center; 
    background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-barrancas-cobre{
    background: url(/assets/img/bg/divisadero.jpg) no-repeat center center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-chihuahua{
    background: url(/assets/img/bg/chihuahua.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-comunidades-indigenas{
    background: url(/assets/img/bg/comunidades.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-creel{
    background: url(/assets/img/bg/creel.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-cuauhtemoc{
    background: url(/assets/img/bg/cuauhtemoc.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades{
    background: url(/assets/img/bg/destinos_actividades.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-el-fuerte{
    background: url(/assets/img/bg/el-fuerte.jpg) no-repeat top center; background-size: cover;
}
.c-atracciones.c-destinos-y-actividades.c-los-mochis{
    background: url(/assets/img/bg/los-mochis.jpg) no-repeat top center; background-size: cover;
}