<div class="main-wrapper" [ngClass]="getRoutedClass()">

    <!-- Modal 
    <div class="modal modal-appear">
        <div class="modal-dialog" role="document">
            <div class="modal-header cearfix">
                <button type="button" class="close js-close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <h2> Título en modal</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="buttons__link js-close-modal">Cancelar</a>
                <a href="#" class="buttons__link buttons--type1">Aceptar</a>
            </div>
        </div>
    </div>-->

    <app-header *ngIf="showMainHeader()"></app-header>
    <router-outlet></router-outlet>
    <app-footer *ngIf="showMainFooter()"></app-footer>
</div>