<div class="main-content">
  <div class="container">
    <div class="row margintop60">
      <div class="col-sm-24 col-md-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-24 gap-left ">
            <h1>{{'Faq-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-24  no-gutter-left">
        <div class="row">
          <div class=" col-sm-16 gap-left text-justify faq-box">
            <p class="faq-title">{{'Faq-P01' | translate}}</p>
            <table class="table chepe marginbot10">
              <tbody>
                <tr>
                  <th></th>
                  <th>{{'Faq-P02' | translate}}</th>
                  <th>{{'Faq-P03' | translate}}</th>
                </tr>
                <tr>
                  <th class="bg-three border2">{{'Faq-P04' | translate}}</th>
                  <td>{{'Faq-P05' | translate}}
                    <br>
                    <br /> {{'Faq-P07' | translate}}</td>
                  <td>{{'Faq-P09' | translate}}
                    <br /> {{'Faq-P11' | translate}}</td>
                </tr>
                <tr>
                  <th class="bg-three border2">{{'Faq-P13' | translate}}
                    <br /> {{'Faq-P14' | translate}}</th>
                  <td>{{'Faq-P15' | translate}}</td>
                  <td>{{'Faq-P16' | translate}}</td>
                </tr>
                <tr>
                  <th class="bg-three border2">{{'Faq-P17' | translate}}</th>
                  <td>
                    {{'Faq-P18.2' | translate}} 
                    <br />{{'Faq-P18.2.1' | translate}}
                    <br /> {{'Faq-P18.3' | translate}}
                    <br />{{'Faq-P18.3.1' | translate}}
                  </td>
                  <td>
                      {{'Faq-P09' | translate}}
                      <br /> {{'Faq-P10' | translate}} 
                      <br />{{'Faq-P11' | translate}}
                      <br /> {{'Faq-P18.2.1' | translate}}
                  </td>
                </tr>
                <tr>
                  <th class="bg-three border2">{{'Faq-P19' | translate}}</th>
                  <td>{{'Faq-P20' | translate}}
                    <br /> {{'Faq-P21' | translate}}
                    <br /> {{'Faq-P22' | translate}}
                    <br /> {{'Faq-P23' | translate}}</td>
                  <td>{{'Faq-P24' | translate}}
                    <br /> {{'Faq-P25' | translate}}
                    <br /> {{'Faq-P26' | translate}}
                    <br /> {{'Faq-P27' | translate}}
                    <br /> {{'Faq-P28' | translate}}
                    <br /> {{'Faq-P29' | translate}}
                    <br /> {{'Faq-P30' | translate}}
                    <br /> {{'Faq-P31' | translate}}
                    <br /> {{'Faq-P32' | translate}}
                    <br /> {{'Faq-P33' | translate}}
                    <br /> {{'Faq-P34' | translate}}
                    <br /> {{'Faq-P35' | translate}}</td>
                </tr>
                <tr>
                  <th class="bg-three border2">{{'Faq-P36' | translate}}</th>
                  <td>{{'Faq-P37' | translate}}
                    <br /> {{'Faq-P38' | translate}}
                    <br /> {{'Faq-P39' | translate}}
                    <br /> {{'Faq-P40' | translate}}
                    <br /> {{'Faq-P41' | translate}}
                  </td>
                  <td>{{'Faq-P42' | translate}}
                    <br /> {{'Faq-P43' | translate}}
                  </td>
                </tr>
              </tbody>
            </table>

            <small>{{'Timesfares-P15' | translate}}</small>

            <p class="faq-title">{{'Faq-P44' | translate}}</p>

            <p>
              <strong>{{'Faq-P45' | translate}}</strong> {{'Faq-P46' | translate}}
              {{'Faq-P47' | translate}}
              {{'Faq-P48' | translate}}</p>
            <p>
              <strong>{{'Faq-P49' | translate}}</strong> {{'Faq-P50' | translate}}
              {{'Faq-P51' | translate}}
              {{'Faq-P52' | translate}}</p>

            <p class="faq-title">{{'Faq-P53' | translate}}</p>

            <p>
              <strong>{{'Faq-P54' | translate}}</strong> {{'Faq-P55' | translate}}</p>
            <p>
              <strong>{{'Faq-P56' | translate}}</strong> {{'Faq-P57' | translate}}</p>
            <p>{{'Faq-P58' | translate}}</p>

            <p class="faq-title">{{'Faq-P59' | translate}}</p>
            <strong>{{'Faq-P60' | translate}}</strong>

            <table class="table chepe marginbot10">
              <tbody>
                <tr>
                  <th class="bg-three border2">{{'Faq-P61' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P62' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P63' | translate}}</th>
                </tr>
                <tr>
                  <td>Creel-Divisadero</td>
                  <td>07:30</td>
                  <td>08:47</td>
                </tr>

                <tr>
                  <td>Divisadero-El Fuerte</td>
                  <td>09:02</td>
                  <td>14:24</td>
                </tr>

                <tr>
                  <td>El Fuerte-Los Mochis</td>
                  <td>14:29</td>
                  <td>16:35</td>
                </tr>

                <tr>
                  <td>Los Mochis-El Fuerte</td>
                  <td>07:30</td>
                  <td>09:44</td>
                </tr>

                <tr>
                  <td>El Fuerte-Divisadero</td>
                  <td>09:49</td>
                  <td>15:20</td>
                </tr>

                <tr>
                  <td>Divisadero-Creel</td>
                  <td>15:53</td>
                  <td>17:14</td>
                </tr>

              </tbody>
            </table>

            <!-- <p>{{'Faq-P64' | translate}}</p> -->
            <p>
              <strong>{{'Faq-P65' | translate}}</strong>
            </p>
            <table class="table chepe marginbot10">
              <tbody>
                <tr>
                  <th class="bg-three border2">{{'Faq-P66' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P67' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P68' | translate}}</th>
                </tr>
                <tr>
                  <td>Chihuahua-Cuahutémoc</td>
                  <td>06:00</td>
                  <td>08:25</td>
                </tr>

                <tr>
                  <td>Cuahutémoc-San Juanito</td>
                  <td>08:25</td>
                  <td>11:03</td>
                </tr>

                <tr>
                  <td>San Juanito-Creel</td>
                  <td>11:03</td>
                  <td>11:47</td>
                </tr>

                <tr>
                  <td>Creel-Pitorreal</td>
                  <td>11:47</td>
                  <td>12:42</td>
                </tr>

                <tr>
                  <td>Pitorreal-Divisadero</td>
                  <td>12:42</td>
                  <td>13:41</td>
                </tr>

                <tr>
                  <td>Divisadero-Posada Barrancas</td>
                  <td>13:41</td>
                  <td>13:52</td>
                </tr>

                <tr>
                  <td>Posada Barrancas-San Rafael</td>
                  <td>13:52</td>
                  <td>14:16</td>
                </tr>

                <tr>
                  <td>San Rafael-Cuiteco</td>
                  <td>14:16</td>
                  <td>14:58</td>
                </tr>

                <tr>
                  <td>Cuiteco-Bahuichivo</td>
                  <td>14:58</td>
                  <td>15:12</td>
                </tr>

                <tr>
                  <td>Bahuichivo-Témoris</td>
                  <td>15:12</td>
                  <td>16:12</td>
                </tr>

                <tr>
                  <td>Témoris-El Fuerte</td>
                  <td>16:12</td>
                  <td>19:19</td>
                </tr>

                <tr>
                  <td>El Fuerte-Los Mochis</td>
                  <td>19:19</td>
                  <td>21:28</td>
                </tr>

              </tbody>
            </table>
            <p>&nbsp;</p>
            <table class="table chepe marginbot10">
              <tbody>
                <tr>
                  <th class="bg-three border2">{{'Faq-P69' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P70' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P71' | translate}}</th>
                </tr>
                <tr>
                  <td>Los Mochis-El Fuerte</td>
                  <td>06:00</td>
                  <td>08:19</td>
                </tr>

                <tr>
                  <td>El Fuerte-Témoris</td>
                  <td>08:19</td>
                  <td>11:24</td>
                </tr>

                <tr>
                  <td>Témoris-Bahuichivo</td>
                  <td>11:24</td>
                  <td>12:24</td>
                </tr>

                <tr>
                  <td>Bahuichivo-Cuiteco</td>
                  <td>12:24</td>
                  <td>12:35</td>
                </tr>

                <tr>
                  <td>Cuiteco-San Rafael</td>
                  <td>12:35</td>
                  <td>13:15</td>
                </tr>

                <tr>
                  <td>San Rafael-Posada Barrancas</td>
                  <td>13:15</td>
                  <td>13:46</td>
                </tr>

                <tr>
                  <td>Posada Barrancas-Divisadero</td>
                  <td>13:46</td>
                  <td>13:50</td>
                </tr>

                <tr>
                  <td>Divisadero-Pitorreal</td>
                  <td>13:50</td>
                  <td>14:45</td>
                </tr>

                <tr>
                  <td>Pitorreal-Creel</td>
                  <td>14:45</td>
                  <td>15:39</td>
                </tr>

                <tr>
                  <td>Creel-San Juanito</td>
                  <td>15:39</td>
                  <td>16:23</td>
                </tr>

                <tr>
                  <td>San Juanito-Cuahutémoc</td>
                  <td>16:23</td>
                  <td>19:07</td>
                </tr>

                <tr>
                  <td>Cuahutémoc-Chihuahua</td>
                  <td>19:07</td>
                  <td>21:34</td>
                </tr>

              </tbody>
            </table>

            <p class="faq-title">{{'Faq-P72' | translate}}</p>

            <p>
              <strong>{{'Faq-P73' | translate}}</strong>{{'Faq-P74' | translate}}</p>
            <p>{{'Faq-P75' | translate}}</p>
            <p>{{'Faq-P76' | translate}}</p>
            <p>{{'Faq-P77' | translate}}</p>
            <p>{{'Faq-P78' | translate}}</p>
            <!-- <p>{{'Faq-P79' | translate}}</p> -->

            <!-- <table class="table chepe marginbot10">
              <tbody>
                <tr>
                  <th class="bg-three border2">{{'Faq-P80' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P81' | translate}}</th>
                  <th class="bg-three border2">{{'Faq-P82' | translate}}</th>
                </tr>
                <tr>
                  <td>Creel-Divisadero</td>
                  <td>06:00</td>
                  <td>07:15</td>
                </tr>

                <tr>
                  <td>Divisadero-El Fuerte</td>
                  <td>07:30</td>
                  <td>12:55</td>
                </tr>

                <tr>
                  <td>El Fuerte-Los Mochis</td>
                  <td>13:00</td>
                  <td>15:05</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr>
                  <td>Los Mochis-El Fuerte</td>
                  <td>15:50</td>
                  <td>17:45</td>
                </tr>

                <tr>
                  <td>El Fuerte-Divisadero</td>
                  <td>17:50</td>
                  <td>23:20</td>
                </tr>

                <tr>
                  <td>Divisadero-Creel</td>
                  <td>23:30</td>
                  <td>00:55</td>
                </tr>
              </tbody>
            </table> -->


            <p>
              <strong>{{'Faq-P83' | translate}}</strong> {{'Faq-P84' | translate}}
            </p>
            <p>{{'Faq-P85' | translate}}
              {{'Faq-P86' | translate}}</p>
            <p>{{'Faq-P87' | translate}}</p>
            <p>{{'Faq-P88' | translate}}</p>
            <p>{{'Faq-P89' | translate}}</p>
            <p>{{'Faq-P90' | translate}}</p>
            <p>{{'Faq-P91' | translate}}</p>
            <p>{{'Faq-P92' | translate}}</p>
            <p>{{'Faq-P93' | translate}}</p>
            <p>{{'Faq-P94' | translate}}</p>

            <p class="faq-title">{{'Faq-P95' | translate}}</p>

            <p>
              <strong>{{'Faq-P96' | translate}}</strong> {{'Faq-P97' | translate}}
              {{'Faq-P98' | translate}}
              {{'Faq-P99' | translate}}
            </p>
            <p>
              <strong>{{'Faq-P100' | translate}} </strong>{{'Faq-P101' | translate}}
              {{'Faq-P102' | translate}}
            </p>

            <p class="faq-title">{{'Faq-P103' | translate}}</p>
            <p>
              <strong>{{'Faq-P104' | translate}}</strong>{{'Faq-P105' | translate}}
            </p>
            <p>
              <strong>{{'Faq-P106' | translate}}</strong>{{'Faq-P107' | translate}}
            </p>
            <p class="faq-title">{{'Faq-P108' | translate}}</p>

            <p>
              <strong>{{'Faq-P109' | translate}}</strong> {{'Faq-P110' | translate}}
            </p>
            <p>
              <strong>{{'Faq-P111' | translate}}</strong>{{'Faq-P112' | translate}}
            </p>

            <p class="faq-title">{{'Faq-P113' | translate}}</p>

            <p>
              <strong>{{'Faq-P114' | translate}}</strong>{{'Faq-P115' | translate}}</p>
            <p>
              <strong>{{'Faq-P116' | translate}}</strong>{{'Faq-P117' | translate}}</p>

            <p class="faq-title">{{'Faq-P118' | translate}}</p>

            <p>
              <strong>{{'Faq-P119' | translate}}</strong> {{'Faq-P120' | translate}}
              {{'Faq-P121' | translate}}</p>
            <p>
              <strong>{{'Faq-P122' | translate}}</strong> {{'Faq-P123' | translate}}</p>

            <p class="faq-title">{{'Faq-P124' | translate}}</p>

            <p>{{'Faq-P125' | translate}}</p>

            <p class="faq-title">{{'Faq-P126' | translate}}</p>

            <p>
              <strong>{{'Faq-P127' | translate}}</strong>{{'Faq-P128' | translate}}
              {{'Faq-P129' | translate}} </p>
            <p>
              <strong>{{'Faq-P130' | translate}}</strong> {{'Faq-P131' | translate}}</p>

            <p class="faq-title">{{'Faq-P132' | translate}}</p>

            <p>
              <strong>{{'Faq-P133' | translate}}</strong> {{'Faq-P134' | translate}}
              {{'Faq-P135' | translate}}
              {{'Faq-P136' | translate}}</p>
            <p>
              <strong>{{'Faq-P137' | translate}}</strong> {{'Faq-P138' | translate}}
              {{'Faq-P139' | translate}}
              {{'Faq-P140' | translate}}</p>

            <p class="faq-title">{{'Faq-P141' | translate}}</p>
            <p>
              <strong>{{'Faq-P142' | translate}}</strong>{{'Faq-P143' | translate}}
              {{'Faq-P144' | translate}}</p>
            <p>
              <strong>{{'Faq-P145' | translate}}</strong>{{'Faq-P146' | translate}}
              {{'Faq-P147' | translate}}</p>

            <p class="faq-title">{{'Faq-P148' | translate}}</p>
            <ul>
              <li>{{'Faq-P149' | translate}}</li>
              <li>{{'Faq-P150' | translate}}</li>
            </ul>


            <p class="faq-title">{{'Faq-P151' | translate}}</p>
            <ul>
              <li>{{'Faq-P152' | translate}}</li>
              <li>{{'Faq-P153' | translate}}
                {{'Faq-P154' | translate}}</li>
              <li>{{'Faq-P155' | translate}}</li>
              <li>{{'Faq-P156' | translate}}</li>
              <li>{{'Faq-P157' | translate}}</li>
              <li>{{'Faq-P158' | translate}}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>