<div class="main-content">
    <div class="container">
       <div class="row row--relative" *ngIf="route">
          <div class="col-md-24 no-gutter-left">
             <div class="row">
                <div class=" col-sm-20 gap-left">
                   <h1 class="c-two">{{'Step1-P00' | translate}} {{route.name}}</h1>
                </div>
                <div class="col-sm-24 no-gutter-left-mobile">
                   <span class="title-underline c-border-two"></span>
                </div>
                <div class="col-sm-15 gap-left ">
                   <p>{{'Step1-P01' | translate}} {{route.max_stops}} {{'Step1-P02' | translate}}</p>
                </div>
             </div>
          </div>
          <rch-status></rch-status>
          <!-- Searchblock -->
          <div class="col-md-24 no-gutter-left">
             <div class="row">
                 <!-- title -->
                <div class=" col-sm-20 gap-left">
                   <h3 class="c-two fontweight300">{{'Step1-P03' | translate}}</h3>
                </div>
                <!-- line -->
                <div class="col-sm-24 no-gutter-left-mobile">
                   <span class="title-underline c-border-two"></span>
                </div>
                <div class="col-sm-24 bg-three paddingtop30 paddingbot30">
                   <div class="row">
                        <!-- search wrapp-->
                        <section class="col-xs-24 gap-left search__wrapp">
                            <a href="#" class="mini-map js-open-modal">
                                <i class="glyphicon glyphicon-search"></i>
                                <img src="assets/img/reservacion/map_express.jpg">
                            </a>
                            <div class="col-xs-24 no-gutter search__switch">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-block clearfix">
                                        <label>Redondo</label>
                                        <input type="radio" class="special-radio" checked name="trip" value="redondo">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-block clearfix">
                                        <label>Sencillo</label>
                                        <input type="radio" class="special-radio" name="trip" value="sencillo">
                                    </div>
                                </div>
                            </div>
                            <!-- Search block >> VIAJE DE IDA -->
                            <section class="col-xs-24 search__box">
                                <form>
                                    <div class="row">
                                        <div class="col-xs-24 no-gutter search__block">
                                            <div class="search__title col-xs-24 paddingtop30 paddingbot30">
                                                <h6>Viaje de ida</h6>
                                            </div>
                                            <section class="col-xs-24 no-gutter search__inside">
                                                <section class="col-xs-24 no-gutter search__row">
                                                    <section class="col-xs-24 hide-item">
                                                        <h6>Configura tu escala</h6>
                                                    </section>
                                                    <div class="col-lg-2 col-sm-8 col-xs-12 search__item">
                                                            <div class="form-group" *ngIf="session.route.pick_class">
                                                                <label for="origen">{{'Step1-P07' | translate}}</label>
                                                                <select class="form-control" id="clase" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.class" (ngModelChange)="preflight()">
                                                                    <option [ngValue]="null">{{'Step1-P08' | translate}}</option>
                                                                    <option *ngFor="let c of getClasses(session.route)" [ngValue]="c">{{c.name}}</option>
                                                                </select>
                                                            </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-8 col-xs-12 search__item">
                                                        <div class="form-group">
                                                            <label for="origen">{{'Step1-P031' | translate}}</label>
                                                            <select class="form-control" id="origen" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.src" (ngModelChange)="preflight()">
                                                                <option [ngValue]="null">{{'Step1-P04' | translate}}</option>
                                                                <option *ngFor="let ts of getSrcs(0)" [ngValue]="ts">{{ts.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-8 col-xs-12 search__item">
                                                        <div class="form-group">
                                                            <label for="origen">{{'Step1-P05' | translate}}</label>
                                                            <select class="form-control" id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.dst" (ngModelChange)="preflight()">
                                                                <option [ngValue]="null">{{'Step1-P06' | translate}}</option>
                                                                <option *ngFor="let ts of getDsts(0,session.query.src)" [ngValue]="ts">{{ts.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-sm-8 col-xs-12 search__item">
                                                        <label>{{'Step1-P09' | translate}}</label>
                                                        <div class="box-passenger">
                                                            <div class="row">
                                                                <div class="col-xs-24 passenger-total">
                                                                    <div class="passsenger__hide">
                                                                        <a class="btn btn-block bg-white c-base text-left passenger__btn" role="button" data-toggle="collapse" href="#popover-content-passengers"
                                                                        aria-expanded="false" aria-controls="collapseExample">
                                                                        <span style="text-transform: capitalize;" id="pasajeros">{{getTotalPassengers()}}</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="popover passengers collapse" id="popover-content-passengers">
                                                                <div class="row" *ngFor="let pt of route.passenger_types">
                                                                    <div class="col-xs-12 passenger-label">
                                                                    <label>{{pt.name}}
                                                                    <span *ngIf="pt.details">
                                                                    <br/>{{pt.details}}</span>
                                                                    </label>
                                                                    </div>
                                                                    <div class="col-xs-12">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-xs btn-number" data-type="minus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,-1)">
                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                        </button>
                                                                        </span>
                                                                        <input type="text" name="pt_{{pt.id}}" class="form-control input-number" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.passengers[pt.id]"  (ngModelChange)="preflight()" 
                                                                        min="{{pt.min}}" max="{{pt.max}}" disabled="disabled">
                                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-xs btn-number" data-type="plus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,+1)">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                        </button>
                                                                        </span>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-sm-16 col-xs-24 input-daterange input-group no-gutter search__item">
                                                        <div class="col-xs-12">
                                                            <label for="origen">{{'Step1-P12' | translate}}</label>
                                                            <div class="input-calendar col-xs-24 no-gutter">
                                                                <input type="text" class="form-control" name="start" />
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label for="origen">{{'Step1-P13' | translate}}</label>
                                                            <div class="input-calendar col-xs-24 no-gutter">
                                                                <input type="text" class="form-control" name="end" />
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-sm-8 col-xs-24 search__item hide-item">
                                                        <label>&nbsp;</label>
                                                        <a href="#" class="delete-item js-delete">
                                                            <span>Eliminar</span>
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </a>
                                                    </div>
                                                </section>
                                            </section>
                                            <div class="col-xs-24 ">
                                                <a href="#" class="add-block js-clone"><img src="assets/img/plus-symbol.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                            <!-- Search block >> VIAJE DE REGRESO -->
                            <section class="col-xs-24 search__box search--round-trip margintop30">
                                    <form>
                                        <div class="row">
                                            <div class="col-xs-24 no-gutter search__block">
                                                <div class="search__title col-xs-24 paddingtop30 paddingbot30">
                                                    <h6>Viaje de regreso</h6>
                                                </div>
                                                <section class="col-xs-24 no-gutter search__inside">
                                                        <section class="col-xs-24 no-gutter search__row">
                                                            <section class="col-xs-24 hide-item">
                                                                <h6>Configura tu escala</h6>
                                                            </section>
                                                            <div class="col-lg-2 col-sm-8 col-xs-12 search__item">
                                                                    <div class="form-group" *ngIf="session.route.pick_class">
                                                                        <label for="origen">{{'Step1-P07' | translate}}</label>
                                                                        <select class="form-control" id="clase" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.class" (ngModelChange)="preflight()">
                                                                            <option [ngValue]="null">{{'Step1-P08' | translate}}</option>
                                                                            <option *ngFor="let c of getClasses(session.route)" [ngValue]="c">{{c.name}}</option>
                                                                        </select>
                                                                    </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-8 col-xs-12 search__item">
                                                                <div class="form-group">
                                                                    <label for="origen">{{'Step1-P031' | translate}}</label>
                                                                    <select class="form-control" id="origen" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.src" (ngModelChange)="preflight()">
                                                                        <option [ngValue]="null">{{'Step1-P04' | translate}}</option>
                                                                        <option *ngFor="let ts of getSrcs(0)" [ngValue]="ts">{{ts.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-8 col-xs-12 search__item">
                                                                <div class="form-group">
                                                                    <label for="origen">{{'Step1-P05' | translate}}</label>
                                                                    <select class="form-control" id="destino" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.dst" (ngModelChange)="preflight()">
                                                                        <option [ngValue]="null">{{'Step1-P06' | translate}}</option>
                                                                        <option *ngFor="let ts of getDsts(0,session.query.src)" [ngValue]="ts">{{ts.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-5 col-sm-8 col-xs-12 search__item">
                                                                <label>{{'Step1-P09' | translate}}</label>
                                                                <div class="box-passenger">
                                                                    <div class="row">
                                                                        <div class="col-xs-24 passenger-total">
                                                                            <div class="passsenger__hide">
                                                                                <a class="btn btn-block bg-white c-base text-left passenger__btn" role="button" data-toggle="collapse" href="#popover-content-passengers"
                                                                                aria-expanded="false" aria-controls="collapseExample">
                                                                                <span style="text-transform: capitalize;" id="pasajeros">{{getTotalPassengers()}}</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="popover passengers collapse" id="popover-content-passengers">
                                                                        <div class="row" *ngFor="let pt of route.passenger_types">
                                                                            <div class="col-xs-12 passenger-label">
                                                                            <label>{{pt.name}}
                                                                            <span *ngIf="pt.details">
                                                                            <br/>{{pt.details}}</span>
                                                                            </label>
                                                                            </div>
                                                                            <div class="col-xs-12">
                                                                            <div class="input-group">
                                                                                <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,-1)">
                                                                                <span class="glyphicon glyphicon-minus"></span>
                                                                                </button>
                                                                                </span>
                                                                                <input type="text" name="pt_{{pt.id}}" class="form-control input-number" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.passengers[pt.id]"  (ngModelChange)="preflight()" 
                                                                                min="{{pt.min}}" max="{{pt.max}}" disabled="disabled">
                                                                                <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,+1)">
                                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                                </button>
                                                                                </span>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7 col-sm-16 col-xs-24 input-daterange input-group no-gutter search__item">
                                                                <div class="col-xs-12">
                                                                    <label for="origen">{{'Step1-P12' | translate}}</label>
                                                                    <div class="input-calendar col-xs-24 no-gutter">
                                                                        <input type="text" class="form-control" name="start" />
                                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <label for="origen">{{'Step1-P13' | translate}}</label>
                                                                    <div class="input-calendar col-xs-24 no-gutter">
                                                                        <input type="text" class="form-control" name="end" />
                                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-sm-8 col-xs-24 search__item hide-item">
                                                                <label>&nbsp;</label>
                                                                <a href="#" class="delete-item js-delete">
                                                                    <span>Eliminar</span>
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                </a>
                                                            </div>
                                                        </section>
                                                    </section>
                                                <div class="col-xs-24 ">
                                                    <a href="#" class="add-block js-clone"><img src="assets/img/plus-symbol.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            <div class="col-xs-24 paddingtop20">
                                <small> {{'Step1-P14' | translate}}</small>
                            </div>
                        </section>

                   </div>
                </div>
                <!-- Caja de costo -->
                <div class="cost--fix col-xs-24">
                   <app-cost-box></app-cost-box>
                </div>
             </div>
          </div>

          <div class="col-xs-24 center"> <!-- *ngIf="readyToGoNext()" -->
             <a class="btn btn-link c-one" routerLink="/reservaciones/{{route.name}}/paso2" role="button">
                <div>
                   <img src="assets/img/icon_train.png">
                </div>
                <div>{{'Step1-P18' | translate}}</div>
             </a>
          </div>
         
          <!-- img src="{{route.img_map}}" class="img-responsive" -->
       </div>
    </div>
    <!-- modal map Chepe Express -->
    <div class="modal mapa fade" id="mapa-full">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/reservacion/map_express_full_2.jpg" class="img-responsive" />
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
 </div>
<!-- CODIGO DE VIAJE REDONDO

 <div class="form-group">
        <label for="origen">{{'Step1-P10' | translate}}</label>
        <div class="form-check trip-check">
           <input type="checkbox" class="form-check-input"  id="step1-round"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.round"  (ngModelChange)="preflight()"
           />
           <label class="form-check-label">{{'Step1-P11' | translate}}</label>
        </div>
     </div>


     // Datepicker inicio
     <div class="input-group date datepick--ui" id="inicio">
        <input type="text" class="form-control" value="09/11/2017" name="start"[ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.start"  (ngModelChange)="preflight()"
        id="step1-start-dt" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
        />
        <span class="input-group-addon" (click)="d.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>

    // Datepicker final
    <div class="input-group date datepick--ui" id="fin">
        <input type="text" class="form-control" value="10/11/2017"  name="end"[ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.end"  (ngModelChange)="preflight()"
        id="step1-end-dt" placeholder="yyyy-mm-dd" ngbDatepicker #d2="ngbDatepicker"
        />
        <span class="input-group-addon" (click)="d2.toggle()">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
    <div id="end_warning"></div>


-->