<div class="main-content">

    <!-- Container -->
    <div class="container">

        <!-- Row relative -->
       <div class="row row--relative" *ngIf="route">

          <!-- Top container -->
          <div class="col-md-24 no-gutter-left">
             <div class="row">
                <div class=" col-sm-20 gap-left">
                   <h1 class="c-two">{{'Step1-P00' | translate}} {{route.name}}</h1>
                </div>
                <div class="col-sm-24 no-gutter-left-mobile">
                   <span class="title-underline c-border-two"></span>
                </div>
                <div class="col-sm-15 gap-left ">
                   <p>{{'Step1-P01' | translate}} {{route.max_stops}} {{'Step1-P02' | translate}}</p>
                </div>
             </div>
          </div>


          <!-- Searchblock -->
          <div class="col-md-24 no-gutter">
             <div class="row">
                 <!-- title -->
                <div class=" col-sm-20 gap-left">
                   <h3 class="c-two fontweight300">{{'Step1-P03' | translate}}</h3>
                </div>
                <!-- line -->
                <div class="col-sm-24 no-gutter-left-mobile">
                   <span class="title-underline c-border-two"></span>
                </div>

                <!-- Container -->
                <section class="col-sm-24 search-module paddingtop30 clearfix">
                    <section class="col-md-16 col-full">
                        <article class="col-xs-24 bg-three gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter col-border__b">
                                <div class="search__item col-xs-8 col-little__reset no-gutter-left">
                                    <label>Tipo de viaje</label>
                                    <div class="input-selection clearfix paddingtop10">
                                        <div class="input-block clearfix">
                                            <input type="radio" class="special-radio" checked name="trip" value="redondo">
                                            <label>Redondo</label>
                                            
                                        </div>
                                        <div class="input-block clearfix">
                                            <input type="radio" class="special-radio" name="trip" value="sencillo">
                                            <label>Sencillo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="search__item col-xs-6 col-little">
                                    <label>Clase</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-6 col-little">
                                    <label>Total de pasajeros</label>
                                    <div class="box-passenger box-passenger__reset">
                                        <div class="row">
                                            <div class="col-xs-24 passenger-total">
                                                    <div class="my-tooltip js-my-tooltip">
                                                        i
                                                        <span class="tooltiptext">
                                                            <p class="text-default text-bold text-14">Chepe Regional</p> 
                                                            <p class="text-default text-14">Pasajeros a partir de 5 años</p>
                                                            <p class="text-default text-14">De 0 a 4 años no pagan boleto pero no tienen derecho a asiento.</p>
                                                        </span>
                                                    </div>
                                                <div class="passsenger__hide">
                                                    <a class="btn btn-block bg-white c-base text-left passenger__btn" role="button" data-toggle="collapse" href="#popover-content-passengers"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <span style="text-transform: capitalize;" id="pasajeros">{{getTotalPassengers()}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popover passengers collapse" id="popover-content-passengers">
                                            <div class="row" *ngFor="let pt of route.passenger_types">
                                                <div class="col-xs-12 passenger-label">
                                                    <label>{{pt.name}}
                                                        <span *ngIf="pt.details">
                                                        <br/>{{pt.details}}</span>
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-xs btn-number" data-type="minus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,-1)">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                        </span>
                                                        <input type="text" name="pt_{{pt.id}}" class="form-control input-number" [ngModelOptions]="{standalone: true}" [(ngModel)]="session.query.passengers[pt.id]"  (ngModelChange)="preflight()" 
                                                        min="{{pt.min}}" max="{{pt.max}}" disabled="disabled">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-xs btn-number" data-type="plus" attr.data-field="pt_{{pt.id}}" (click)="add(pt,+1)">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="search__item search__item--small col-md-4 col-map">
                                    <a href="#" class="mini-map js-open-modal mini-map__top">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <img src="assets/img/reservacion/map_express.jpg">
                                    </a>
                                </div>
                            </div>
                        </article>

                        <article class="col-xs-24 bg-three gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter">
                                <div class="search__item col-xs-8 col-md-8 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 1</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-8 col-md-6 col-sm__top col-little">
                                    <label>Destino final</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-8 col-md-6 col-lg-6 input-daterange col-sm__top col-little">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-xs-24 bg-seven gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 search__space">
                               <div class="search__dashed clearfix">
                                   <div class="search__dashed--combo">
                                        <img class="icon-plus" src="assets/img/icon-plus.svg" >
                                        <p class="text-default">Añade tus escalas </p>
                                    </div>
                               </div>                                
                            </div>
                        </article>

                        <article class="col-xs-24 bg-seven gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter border-light__gray">
                                <div class="search__item col-xs-7 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 2</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-little col-sm__top">
                                    <label>Destino</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-lg-6 input-daterange col-little col-sm__top">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="search__item col-xs-3 col-md-4 col-little col-btn__delete">
                                    <div class="btn-delete">
                                        <a href="#" class="btn-delete__link">
                                            <img class="btn-delete__item fl" src="assets/img/icon-delet.svg">
                                            <p class="text-default fl text-delete">Eliminar</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-xs-24 bg-seven gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter">
                                <div class="search__item col-xs-7 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 3</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-little col-sm__top">
                                    <label>Destino</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-lg-6 input-daterange col-little col-sm__top">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="search__item col-xs-3 col-md-4 col-little col-btn__delete">
                                    <div class="btn-delete">
                                        <a href="#" class="btn-delete__link">
                                            <img class="btn-delete__item fl" src="assets/img/icon-delet.svg">
                                            <p class="text-default fl text-delete">Eliminar</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <div class="col-xs-24 col-reset col-both">
                            <div class="col-xs-6 col-sm-3 col-lg-3">
                                    <a href="#" class="add-block js-clone"><img src="assets/img/plus-symbol.png"></a>
                            </div>
                            <div class="col-xs-12 col-reset">
                                <p class="text-default text-default__top">Agregar escala</p>
                            </div>
                        </div>

                        <article class="col-xs-24 bg-three gap-left--2 gap-left__small">
                            <div class="title-combo">
                                <h3 class="fl">VIAJE DE REGRESO</h3>
                                <img class="combo-arrow" src="assets/img/icon-arrow-left.svg">
                            </div>
                            <div class="search__top col-xs-24 no-gutter">
                                <div class="search__item col-xs-7 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 2</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-little col-sm__top">
                                    <label>Destino</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-lg-6 input-daterange col-little col-sm__top">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="search__item col-xs-3 col-md-4 col-little col-btn__delete">
                                    <div class="btn-delete">
                                        <a href="#" class="btn-delete__link">
                                            <img class="btn-delete__item fl" src="assets/img/icon-delet.svg">
                                            <p class="text-default fl text-delete">Eliminar</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    
                        <article class="col-xs-24 bg-seven gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter border-light__gray">
                                <div class="search__item col-xs-7 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 2</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-little col-sm__top">
                                    <label>Destino</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-lg-6 input-daterange col-little col-sm__top">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="search__item col-xs-3 col-md-4 col-little col-btn__delete">
                                    <div class="btn-delete">
                                        <a href="#" class="btn-delete__link">
                                            <img class="btn-delete__item fl" src="assets/img/icon-delet.svg">
                                            <p class="text-default fl text-delete">Eliminar</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    
                        <article class="col-xs-24 bg-seven gap-left--2 gap-left__small">
                            <div class="search__top col-xs-24 no-gutter">
                                <div class="search__item col-xs-7 no-gutter-left no-gutter-left__small col-little">
                                    <div class="combo-elements">
                                        <span class="text-blue">Tramo 3</span>
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                    </div>
                                    <label>Origen</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Los Mochis</option>
                                            <option>Creel</option>
                                            <option>El Fuerte</option>
                                            <option>Divisadero</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-little col-sm__top">
                                    <label>Destino</label>
                                    <div class="form-group" *ngIf="session.route.pick_class">
                                        <select class="form-control" id="clase" >
                                            <option>Elige una opción...</option>
                                            <option>Creel</option>
                                            <option>Los Mochis</option>
                                            <option>Divisadero</option>
                                            <option>El Fuerte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search__item col-xs-7 col-md-6 col-lg-6 input-daterange col-little col-sm__top">
                                    <label for="origen">Fecha</label>
                                    <div class="input-calendar col-xs-24 no-gutter">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="search__item col-xs-3 col-md-4 col-little col-btn__delete">
                                    <div class="btn-delete">
                                        <a href="#" class="btn-delete__link">
                                            <img class="btn-delete__item fl" src="assets/img/icon-delet.svg">
                                            <p class="text-default fl text-delete">Eliminar</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="col-xs-24 col-reset col-both">
                            <div class="col-xs-6 col-sm-3 col-lg-3">
                                    <a href="#" class="add-block js-clone"><img src="assets/img/plus-symbol.png"></a>
                            </div>
                            <div class="col-xs-12 col-reset">
                                <p class="text-default text-default__top">Agregar escala</p>
                            </div>
                        </div>
                    </section>   

                    <aside class="col-md-8 col-full"> 
                        <div class="col-xs-24 bg-three--light box-light">
                            <h3>Resumen <small>Viaje sencillo</small></h3>
                            <div class="title-combo title-combo__reset">
                                <h4 class="subtitle text-blue fl">Viaje de ida</h4>
                                <img class="combo-arrow" src="assets/img/icon-right.svg">
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <span class="text-default text-gray">Ruta</span>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">Los Mochis a Creel</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Inicio de viaje</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">5 agosto 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo route-combo__top clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Escala 1</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">El Fuerte</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Escala 2</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">Divisadero</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 bg-four box-space">
                            <div class="route-text clearfix">
                                <div class="col-xs-24">
                                    <p class="text-default text-gray">Llegarás</p>
                                    <p class="text-default text-bold">5 agosto . 13:00hrs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 bg-three--light box-light">
                            <div class="title-combo title-combo__reset">
                                <h4 class="subtitle text-blue fl">Viaje de regreso</h4>
                                <img class="combo-arrow" src="assets/img/icon-arrow-left.svg">
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <span class="text-default text-gray">Ruta</span>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">Creel Los Mochis</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Inicio de viaje</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">7 agosto 2018</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo route-combo__top clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Escala 1</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">Divisadero</span>
                                    </div>
                                </div>
                            </div>
                            <div class="route-combo clearfix">
                                <div class="col-xs-24 col-sm-10 col-lg-10">
                                    <p class="text-default text-gray">Escala 2</p>
                                </div>
                                <div class="col-xs-24 col-sm-14 col-lg-14">
                                    <div class="combo-elements__normal">
                                        <img class="combo-elements__icon" src="assets/img/icon-right.svg">
                                        <span class="text-bold text-blue">El Fuerte</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-24 bg-four box-space">
                            <div class="route-text clearfix">
                                <div class="col-xs-24">
                                    <p class="text-default text-gray">Llegarás</p>
                                    <p class="text-default text-bold">5 agosto . 13:00hrs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-top">
                            <a class="btn btn-link c-one p-reset center-horizontal" role="button">
                                <div>
                                    <img src="assets/img/icon_right.png">
                                </div>
                                <div>Siguiente</div>
                            </a>
                        </div>
                    </aside>
                </section>
             </div>
          </div>
       </div>
    </div>

    <!-- modal map Chepe Express -->
    <div class="modal mapa fade" id="mapa-full">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="assets/img/reservacion/map_express_full_2.jpg" class="img-responsive" />
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
 </div>
