<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
        <div class="row margintop50">
          <div class=" col-sm-24 gap-left ">
            <h1>{{'Legal-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left margintop30 terminos-condiciones">

            <h6 class="uppercase">{{'Legal-P01' | translate}}
              <br> {{'Legal-P02' | translate}}</h6>

            <p>
              <b>{{'Legal-P03' | translate}}</b>
            </p>

            <p>{{'Legal-P04' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P05' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P06' | translate}}</p>

            <p>
              <b>{{'Legal-P07' | translate}}</b>
            </p>

            <p>{{'Legal-P08' | translate}}</p>

            <p>
              <b>{{'Legal-P09' | translate}}</b>
            </p>

            <ul>
              <li>{{'Legal-P10' | translate}}</li>
              <li>{{'Legal-P11' | translate}}</li>
              <li>{{'Legal-P12' | translate}}</li>
              <li>{{'Legal-P13' | translate}}</li>
              <li>{{'Legal-P14' | translate}}</li>
            </ul>

            <p>
              <b>{{'Legal-P15' | translate}}</b>
            </p>

            <ul>
              <li>{{'Legal-P16' | translate}}</li>
              <li>{{'Legal-P17' | translate}}</li>
              <li>{{'Legal-P18' | translate}}</li>
            </ul>

            <p>{{'Legal-P19' | translate}}</p>

            <p>
              <b>{{'Legal-P20' | translate}}</b>
            </p>

            <p>{{'Legal-P21' | translate}}</p>

            <ul>
              <li>{{'Legal-P22' | translate}}</li>
              <li>{{'Legal-P23' | translate}}</li>
              <li>{{'Legal-P24' | translate}}</li>
              <li>{{'Legal-P25' | translate}}</li>
              <li>{{'Legal-P26' | translate}}</li>
              <li>{{'Legal-P27' | translate}}</li>
              <li>{{'Legal-P28' | translate}}</li>
              <li>{{'Legal-P29' | translate}}</li>
              <li>{{'Legal-P30' | translate}}</li>
              <li>{{'Legal-P31' | translate}}</li>
              <li>{{'Legal-P32' | translate}}</li>
            </ul>

            <p>{{'Legal-P33' | translate}}</p>

            <ul>

              <li>{{'Legal-P34' | translate}}</li>

              <li>{{'Legal-P35' | translate}}</li>

            </ul>

            <p>{{'Legal-P36' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P37' | translate}}</p>
            <ul>
              <li>{{'Legal-P38' | translate}}</li>
              <li>{{'Legal-P39' | translate}}</li>
              <li>{{'Legal-P40' | translate}}</li>
              <li>{{'Legal-P41' | translate}}</li>
              <li>{{'Legal-P42' | translate}}</li>
              <li>{{'Legal-P43' | translate}}</li>
              <li>{{'Legal-P44' | translate}}</li>
            </ul>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P45' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P46' | translate}}</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P47' | translate}}</p>

            <p>{{'Legal-P48' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P49' | translate}}</p>

            <p>{{'Legal-P50' | translate}}</p>

            <p>{{'Legal-P51' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P52' | translate}}</p>

            <p>{{'Legal-P53' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P54' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P55' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P56' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P57' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P58' | translate}}</p>

            <p>{{'Legal-P59' | translate}}</p>


            {{'Legal-P60' | translate}}
            

            <p>
              <b>{{'Legal-P61' | translate}}</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P62' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P63' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P64' | translate}}</p>

            <p>{{'Legal-P65' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P66' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P67' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P68' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P69' | translate}}</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P70' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P71' | translate}}</p>

            <p>
              <b>{{'Legal-P72' | translate}}</b>
            </p>

            <p>{{'Legal-P73' | translate}}
              <a href="mailto:chepe@ferromex.mx">chepe@ferromex.mx</a>{{'Legal-P74' | translate}}</p>

            <p>{{'Legal-P75' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P76' | translate}}</p>

            <p>{{'Legal-P77' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P78' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P79' | translate}}</p>

            <p>{{'Legal-P80' | translate}}</p>

            <p>{{'Legal-P81' | translate}}</p>

            <p>{{'Legal-P82' | translate}}
              <a href="http://www.ifai.org.mx" target="_blank">www.ifai.org.mx</a>.</p>

            <p>
              <b>{{'Legal-P83' | translate}}</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P84' | translate}}</p>

            <p>{{'Legal-P85' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P86' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P87' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P88' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P89' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>.</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P90' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P91' | translate}}</p>

            <p>
              <b>{{'Legal-P92' | translate}}</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P93' | translate}}
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> {{'Legal-P94' | translate}}
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>.</p>

            <p>{{'Legal-P95' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P96' | translate}}
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> {{'Legal-P97' | translate}}
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>{{'Legal-P98' | translate}}</p>

            <p>{{'Legal-P99' | translate}}</p>





          </div>

        </div>
      </div>

    </div>
  </div>
</div>