<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
        <div class="row margintop50">
          <div class=" col-sm-24 gap-left ">
            <h1>Aviso Legal</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left margintop30 terminos-condiciones">

            <h6 class="uppercase">Aviso de Privacidad para compra de boletos
              <br> (Vía internet, telefónica y de forma directa)</h6>

            <p>
              <b>Estimado Cliente y/o Usuario:</b>
            </p>

            <p>Conforme a lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en
              lo sucesivo “Ley”) Ferrocarril Mexicano, S.A. de C.V., (en adelante
              <span class="c-one fontweight600">“Ferromex”</span>), con domicilio en Bosques de Ciruelos número 99, Colonia Bosques de las Lomas, Delegación
              Miguel Hidalgo, México, D.F., C.P. 11700, en cumplimiento a la obligación a cargo de
              <span class="c-one fontweight600">“Ferromex”</span> (y/o Chepe®) de proteger los Datos Personales de sus clientes/o usuarios de sus productos
              y servicios, hace de su conocimiento lo siguiente:</p>

            <p>
              <b>Finalidades del tratamiento de los Datos Personales de clientes y/o usuarios</b>
            </p>

            <p>Los Datos Personales y crediticios que le son solicitados, serán tratados con las siguientes finalidades:</p>

            <p>
              <b>A) Finalidades Primarias:</b>
            </p>

            <ul>
              <li>Proveer los servicios requeridos por cliente y/o usuario</li>
              <li>Informar sobre cambios o nuevos productos o servicios que estén relacionados con el contratado o adquirido
                por el cliente y/o usuario.</li>
              <li>Dar cumplimiento a obligaciones contraídas con nuestros clientes y/o usuarios.</li>
              <li>Facturación del servicio prestado.</li>
              <li>Gestión de la cobranza y procedimiento de pago</li>
            </ul>

            <p>
              <b>B) Finalidades Secundarias</b>
            </p>

            <ul>
              <li>Comunicarle novedades respecto a nuestros servicios.</li>
              <li>Envió de publicidad y promociones sobre nuestros productos y servicios.</li>
              <li>Análisis a fin de determinar la eficacia de nuestra publicidad y promociones.</li>
            </ul>

            <p>LosDatos Personales de menores de edad, personas en estado de interdicción y con capacidades diferentes, serán
              tratados con la finalidad primaria de proveer los servicios al amparo de su compra.</p>

            <p>
              <b>Contenido de los Datos Personales, privacidad y protección</b>
            </p>

            <p>De conformidad con la Ley, se entiende por “Datos Personales” cualquier información concerniente a una persona
              física identificada o identificable, en dicho sentido, para llevar a cabo las finalidades descritas en el presente
              aviso de privacidad, utilizaremos los siguientes Datos Personales:</p>

            <ul>
              <li>Nombre</li>
              <li>Dirección</li>
              <li>Número de teléfono fijo y/o de teléfono celular</li>
              <li>Edad</li>
              <li>Fecha de nacimiento</li>
              <li>Sexo</li>
              <li>Nacionalidad</li>
              <li>Dirección de correo electrónico</li>
              <li>Datos de carácter patrimonial, crediticio y financiero: Registro Federal de Contribuyentes, domicilio fiscal.</li>
              <li>Número de tarjeta de crédito, fecha de vencimiento, número de seguridad de la misma, nombre del tarjetahabiente,
                y banco emisor) se considerará que está otorgando al Responsable del presente aviso su consentimiento expreso
                para el tratamiento de estos datos.</li>
              <li>Imagen recabada mediante videograbación en las salas de espera y abordo de los trenes de pasajeros (El Responsable
                borrará dicha imagen dentro de las 72 horas siguientes al finalizar el trayecto ferroviario i, siempre y
                cuando no se hubiese suscitado ningún inconveniente; la imagen únicamente podrá ser transferida cuando sea
                requerida por solicitud de la autoridad.</li>
            </ul>

            <p>Le informamos que es de nuestro especial interés cuidar los Datos Personales de los menores de edad, personas
              en estado de interdicción y capacidades diferentes, en términos de la ley y a través del establecimiento de
              las siguientes medidas específicas:</p>

            <ul>

              <li>La obtención del consentimiento de los padres o tutores, la cual se da por aceptación tácita del presente Aviso
                de Privacidad cuando no manifiesten su oposición por conducto del siguiente correo electrónico chepe@ferromex.mx.</li>

              <li>La implementación y mantenimiento de medidas de seguridad más estrictas a efectos de asegurar la confidencialidad
                de los menores de edad, personas en estado de interdicción y con capacidades diferentes.</li>

            </ul>

            <p>En todo caso,
              <span class="c-one fontweight600">“Ferromex”</span> solo podrá realizar el tratamiento de Datos Personales de menores de edad, personas en estado
              de interdicción y con capacidades diferentes, siguientes:</p>
            <ul>
              <li>Nombre</li>
              <li>Dirección de contacto</li>
              <li>Número de teléfono fijo y/o de teléfono celular de contacto</li>
              <li>Sexo</li>
              <li>Edad</li>
              <li>Fecha de nacimiento</li>
              <li>Nacionalidad</li>
            </ul>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> velará en todo momento por el uso adecuado de los Datos Personales de menores de edad, personas
              en estado de interdicción y con capacidades diferentes, y sólo realizará el tratamiento respetando la normatividad
              aplicable y asegurando el respeto de sus derechos fundamentales.
              <span class="c-one fontweight600">“Ferromex”</span> no recolecta Datos Personales provenientes de Usuarios y/o Clientes menores de 13 (trece)
              años de edad residentes de los Estados Unidos Mexicanos..</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> tratará los Datos Personales por el tiempo que sea necesario a fin de cumplir con las finalidades
              descritas en el presente Aviso de Privacidad y/o de conformidad con lo que establezcan las disposiciones legales
              aplicables</p>

            <p>Los Datos Personales proporcionados a
              <span class="c-one fontweight600">“Ferromex”</span> serán tratados, resguardados y administrados por este, en términos de lo dispuesto en la
              legislación aplicable de la República Mexicana, en tal sentido, nos comprometemos a salvaguardar tal información
              bajo los principios de lealtad y responsabilidad.</p>

            <p>Los Datos Personales que se recaban, serán conservados por un periodo de 6 años en medios electrónicos (tomando
              en consideración aspectos administrativos, contables, fiscales y jurídicos), después de la conclusión de la
              relación comercial sostenida y posteriormente serán descartados a efecto de evitar un tratamiento indebido
              de los mismos.</p>

            <p>El titular de los datos al registrarse otorga su pleno consentimiento libre y voluntariamente de proporcionar
              los Datos Personales que le sean requeridos, en el entendido de que si el usuario decidiera no proporcionar
              información obligatoria, este no podrá acceder a los servicios que efectivamente requiere dicha información,
              sin embargo, podrá tener acceso a todos los demás servicios que no requieran dicha Información.
              <span class="c-one fontweight600">“Ferromex”</span> en ningún caso y bajo ninguna circunstancia almacena información de Datos Personales sensibles
              como origen racial, étnico, estado de salud actual, información genética, creencias religiosas, filosóficas
              y morales, afiliación sindical, opiniones políticas, preferencia sexual, entre otros.</p>

            <p>Al dar su consentimiento para la transferencia de Datos Personales el titular de los mismos reconoce y acepta
              que
              <span class="c-one fontweight600">“Ferromex”</span> podrá hacer uso de la información internamente.
              <span class="c-one fontweight600">“Ferromex”</span> también recolectará información que es derivada de los gustos, preferencias y en general
              de la utilización que hacen los usuarios respecto de los servicios que le proporciona. Dicha información derivada,
              al igual que la Información personal que el titular proporcione, podrá ser utilizada para diversos objetivos
              comerciales, como lo es el proporcionar datos estadísticos internos, conducir investigaciones de mercadeo y
              otras actividades o promociones que
              <span class="c-one fontweight600">“Ferromex”</span> considere apropiadas.
              <span class="c-one fontweight600">“Ferromex”</span> también podrá revelar información cuando por mandato de ley y/o de autoridad competente le
              fuere requerido o por considerar de buena fe que dicha revelación es necesaria para: I) cumplir con procesos
              legales; II) responder reclamaciones que involucren cualquier Contenido que menoscabe derechos de terceros
              o; III) proteger los derechos, la propiedad, o la seguridad de
              <span class="c-one fontweight600">“Ferromex”</span>, sus Clientes y/o Usuarios y el público en general.</p>

            <p>Para autorizar la transferencia de tus Datos selecciona la casilla a continuación.</p>


            Acepto

            <p>
              <b>Responsabilidad sobre el uso de la Información Financiera y/o crediticia.</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> podrá utilizar su información financiera y/o crediticia para verificar que cumpla con los
              requisitos que contemplan las instituciones financieras del país, para realizar ventas y otras transacciones
              en este Sitio de manera eficiente, para entregar los bienes y servicios que ha solicitado, para inscribirlo
              en programas de descuento, reembolso y otros programas en los cuales el cliente o usuario elige participar
              y para llevar a cabo aseguramiento de calidad. En algunos casos podemos utilizar, y consecuentemente podemos
              proporcionar a proveedores de servicios, su información financiera para ayudarnos a realizar algunas de estas
              tareas. En tales casos,
              <span class="c-one fontweight600">“Ferromex”</span> requerirá a los proveedores de servicios que establezcan acuerdos en cuanto al manejo confidencial
              de su información que deberá de ser igual cuando menos al tratamiento que le da
              <span class="c-one fontweight600">“Ferromex”</span> a la misma.</p>

            <p>Podríamos revelar información financiera y/o crediticia específica cuando determinemos que tal revelación puede
              ser útil para cumplir con la ley, para cooperar con o buscar asistencia por parte de autoridades de seguridad
              pública o para proteger los intereses o seguridad de
              <span class="c-one fontweight600">“Ferromex”</span> o de los otros visitantes al Sitio www.chepe.com.mx o usuarios de servicios o productos proporcionados
              por
              <span class="c-one fontweight600">“Ferromex”</span> o para participar conjuntamente con otras entidades en actividades contra el fraude. También,
              su información financiera podrá ser suministrada a terceros en el caso de una transferencia de propiedad o
              de bienes, o en un proceso de quiebra de
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> no es responsable de cualquier otra divulgación de su información financiera y/o crediticia
              por parte de un tercero con quien
              <span class="c-one fontweight600">“Ferromex”</span> tenga permitido divulgar su información financiera bajo este aviso de privacidad.</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> no es responsable de cualquier uso o divulgación de su información financiera y/o crediticia
              por parte de un tercero con quien
              <span class="c-one fontweight600">“Ferromex”</span> tenga permitido divulgar su información bajo este aviso de privacidad.</p>

            <p>
              <b>Medios para ejercer los derechos “ARCO” y revocación del consentimiento:</b>
            </p>

            <p>Podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición contenidos en la “Ley”, así como
              para limitar su uso y divulgación, enviando un correo electrónico a la siguiente dirección electrónica
              <a href="mailto:chepe@ferromex.mx">chepe@ferromex.mx</a>, en el cual deberá indicar su solicitud y los datos necesarios como son Nombre completo
              (nombre o nombres y apellido o apellidos), anexando una versión digitalizada de la identificación oficial (escaneo),
              teléfono y dirección física o electrónica para fines de notificaciones relacionadas al caso, esta información
              será resguardada bajo la misma ley.</p>

            <p>Una vez recibida su solicitud,
              <span class="c-one fontweight600">“Ferromex”</span> podrá solicitarle en un periodo no mayor a 10 (diez) días hábiles, la información y/o documentación
              necesaria para su seguimiento, así como para la acreditación de su identidad, de acuerdo a los términos que
              marca la Legislación. Por lo que contará con 10 (diez) días hábiles posteriores a su recepción para atender
              este requerimiento. De lo contrario su solicitud se tendrá por no presentada.</p>

            <p>Asimismo, en un plazo posterior de 20 (veinte) días hábiles
              <span class="c-one fontweight600">“Ferromex”</span> emitirá una resolución, la cual le será notificada por los medios de contacto que haya establecido
              en su solicitud. Una vez emitida la resolución y en caso de que la misma sea procedente (parcial o totalmente),
              <span class="c-one fontweight600">“Ferromex”</span> contará con 15 (quince) días hábiles para adoptar dicha resolución.</p>

            <p>Los términos y plazos indicados en los párrafos anteriores, podrán ser ampliados una sola vez en caso de ser
              necesario y se le deberá notificar a través de los medios de contacto que haya establecido.</p>

            <p>La revocación y el ejercicio de los Derechos “ARCO” serán gratuitos, debiendo usted cubrir únicamente los gastos
              justificados de envío, o el costo de reproducción en copias u otros formatos establecidos en su solicitud.</p>

            <p>Asimismo, le informamos que le asiste su derecho para acudir ante el Instituto Federal de Acceso a la Información
              y Protección de Datos en caso de considerar que su derecho a la protección de Datos Personales ha sido vulnerado.
              Para mayor información visite
              <a href="http://www.ifai.org.mx" target="_blank">www.ifai.org.mx</a>.</p>

            <p>
              <b>Uso de "cookies",WebBeacons o tecnologías similares o análogas</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> podrá contratar a uno o varios terceros como proveedores de servicios seleccionados para
              manejar y administrar tanto este Portal como los Datos Personales que se recaba a través de éste, o de cualquier
              otro medio distinto; por lo que, podría incluso transferirlos a dicho(s) tercero(s) sin un fin comercial.</p>

            <p>Los Datos Personales que usted proporciona a
              <span class="c-one fontweight600">“Ferromex”</span> podrán compilarse y fijarse en una base de datos propiedad exclusiva de
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> puede utilizar "cookies" o tecnologías similares para confirmar su identificación, personalizar
              su acceso a este Portal y revisar su uso, con el solo propósito de mejorar su navegación y sus condiciones
              de funcionalidad, por lo tanto,
              <span class="c-one fontweight600">“Ferromex”</span> no recaba mediante el uso de cookies" o tecnologías similares Datos Personales de los usuarios
              que no sean proporcionados por este o sin su consentimiento. Este Portal tiene ligas a otros sitios externos,
              de los cuales el contenido y políticas de privacidad no son responsabilidad de
              <span class="c-one fontweight600">“Ferromex”</span>, por lo que el usuario, en su caso, quedará sujeto a las políticas de privacidad de aquellos
              otros sitios, sin responsabilidad alguna a cargo de
              <span class="c-one fontweight600">“Ferromex”</span>.</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> tiene implementadas medidas de seguridad administrativas, técnicas y físicas para proteger
              sus datos personales, mismas que igualmente exigimos sean cumplidas por los terceros que
              <span class="c-one fontweight600">“Ferromex”</span> contrata como proveedores de servicios seleccionados.</p>

            <p>
              <b>Cambios al Aviso de Privacidad y vulneración de seguridad:</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> tiene el derecho de efectuar cualquier cambio o modificación al Aviso de Privacidad. Tales
              modificaciones, podrán ser consultadas en las páginas de internet:
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> y/o
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>.</p>

            <p>En caso de que ocurra una vulneración de seguridad en cualquier fase del tratamiento de sus Datos Personales,
              <span class="c-one fontweight600">“Ferromex”</span> lo hará del conocimiento general, a través de la cualquiera de las siguientes páginas de
              internet:
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> y/o
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>, para que tome las medidas correspondientes a fin de resguardar sus derechos.</p>

            <p>Fecha de última actualización: abril de 2018</p>





          </div>

        </div>
      </div>

    </div>
  </div>
</div>