<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
        <div class="row margintop50">
          <div class=" col-sm-24 gap-left ">
            <h1>{{'Legal-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left margintop30 terminos-condiciones">

            <h6 class="uppercase">{{'Legal-P01' | translate}}
              <br> {{'Legal-P02' | translate}}</h6>

            <p>
              <b>{{'Legal-P03' | translate}}</b>
            </p>

            <p>{{'Legal-P04' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P05' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P06' | translate}}</p>

            <p>
              <b>{{'Legal-P07' | translate}}</b>
            </p>

            <p>{{'Legal-P08' | translate}}</p>

            <p>
              <b>{{'Legal-P09' | translate}}</b>
            </p>

            <ul>
              <li>{{'Legal-P10' | translate}}</li>
              <li>{{'Legal-P11' | translate}}</li>
              <li>{{'Legal-P12' | translate}}</li>
              <li>{{'Legal-P13' | translate}}</li>
              <li>{{'Legal-P14' | translate}}</li>
            </ul>

            <p>
              <b>{{'Legal-P15' | translate}}</b>
            </p>

            <ul>
              <li>{{'Legal-P16' | translate}}</li>
              <li>{{'Legal-P17' | translate}}</li>
              <li>{{'Legal-P18' | translate}}</li>
            </ul>

            <p>{{'Legal-P19' | translate}}</p>

            <p>
              <b>{{'Legal-P20' | translate}}</b>
            </p>

            <p>{{'Legal-P21' | translate}}</p>

            <ul>
              <li>{{'Legal-P22' | translate}}</li>
              <li>{{'Legal-P23' | translate}}</li>
              <li>{{'Legal-P24' | translate}}</li>
              <li>{{'Legal-P25' | translate}}</li>
              <li>{{'Legal-P26' | translate}}</li>
              <li>{{'Legal-P27' | translate}}</li>
              <li>{{'Legal-P28' | translate}}</li>
              <li>{{'Legal-P29' | translate}}</li>
              <li>{{'Legal-P30' | translate}}</li>
              <li>{{'Legal-P31' | translate}}</li>
              <li>{{'Legal-P32' | translate}}</li>
            </ul>

            <p>{{'Legal-P33' | translate}}</p>

            <ul>

              <li>{{'Legal-P34' | translate}}</li>

              <li>{{'Legal-P35' | translate}}</li>

            </ul>

            <p>{{'Legal-P36' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P37' | translate}}</p>
            <ul>
              <li>{{'Legal-P38' | translate}}</li>
              <li>{{'Legal-P39' | translate}}</li>
              <li>{{'Legal-P40' | translate}}</li>
              <li>{{'Legal-P41' | translate}}</li>
              <li>{{'Legal-P42' | translate}}</li>
              <li>{{'Legal-P43' | translate}}</li>
              <li>{{'Legal-P44' | translate}}</li>
            </ul>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P45' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P46' | translate}}</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P47' | translate}}</p>

            <p>{{'Legal-P48' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P49' | translate}}</p>

            <p>{{'Legal-P50' | translate}}</p>

            <p>{{'Legal-P51' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P52' | translate}}</p>

            <p>{{'Legal-P53' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P54' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P55' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P56' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span> {{'Legal-P57' | translate}}
              <span class="c-one fontweight600">“Ferromex”</span>{{'Legal-P58' | translate}}</p>

            <p>{{'Legal-P59' | translate}}</p>


            Acepto
            

            <p>
              <b>Responsabilidad sobre el uso de la Información Financiera y/o crediticia.</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> podrá utilizar su información financiera y/o crediticia para verificar que cumpla con los
              requisitos que contemplan las instituciones financieras del país, para realizar ventas y otras transacciones
              en este Sitio de manera eficiente, para entregar los bienes y servicios que ha solicitado, para inscribirlo
              en programas de descuento, reembolso y otros programas en los cuales el cliente o usuario elige participar
              y para llevar a cabo aseguramiento de calidad. En algunos casos podemos utilizar, y consecuentemente podemos
              proporcionar a proveedores de servicios, su información financiera para ayudarnos a realizar algunas de estas
              tareas. En tales casos,
              <span class="c-one fontweight600">“Ferromex”</span> requerirá a los proveedores de servicios que establezcan acuerdos en cuanto al manejo confidencial
              de su información que deberá de ser igual cuando menos al tratamiento que le da
              <span class="c-one fontweight600">“Ferromex”</span> a la misma.</p>

            <p>Podríamos revelar información financiera y/o crediticia específica cuando determinemos que tal revelación puede
              ser útil para cumplir con la ley, para cooperar con o buscar asistencia por parte de autoridades de seguridad
              pública o para proteger los intereses o seguridad de
              <span class="c-one fontweight600">“Ferromex”</span> o de los otros visitantes al Sitio www.chepe.com.mx o usuarios de servicios o productos proporcionados
              por
              <span class="c-one fontweight600">“Ferromex”</span> o para participar conjuntamente con otras entidades en actividades contra el fraude. También,
              su información financiera podrá ser suministrada a terceros en el caso de una transferencia de propiedad o
              de bienes, o en un proceso de quiebra de
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> no es responsable de cualquier otra divulgación de su información financiera y/o crediticia
              por parte de un tercero con quien
              <span class="c-one fontweight600">“Ferromex”</span> tenga permitido divulgar su información financiera bajo este aviso de privacidad.</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> no es responsable de cualquier uso o divulgación de su información financiera y/o crediticia
              por parte de un tercero con quien
              <span class="c-one fontweight600">“Ferromex”</span> tenga permitido divulgar su información bajo este aviso de privacidad.</p>

            <p>
              <b>Medios para ejercer los derechos “ARCO” y revocación del consentimiento:</b>
            </p>

            <p>Podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición contenidos en la “Ley”, así como
              para limitar su uso y divulgación, enviando un correo electrónico a la siguiente dirección electrónica
              <a href="mailto:chepe@ferromex.mx">chepe@ferromex.mx</a>, en el cual deberá indicar su solicitud y los datos necesarios como son Nombre completo
              (nombre o nombres y apellido o apellidos), anexando una versión digitalizada de la identificación oficial (escaneo),
              teléfono y dirección física o electrónica para fines de notificaciones relacionadas al caso, esta información
              será resguardada bajo la misma ley.</p>

            <p>Una vez recibida su solicitud,
              <span class="c-one fontweight600">“Ferromex”</span> podrá solicitarle en un periodo no mayor a 10 (diez) días hábiles, la información y/o documentación
              necesaria para su seguimiento, así como para la acreditación de su identidad, de acuerdo a los términos que
              marca la Legislación. Por lo que contará con 10 (diez) días hábiles posteriores a su recepción para atender
              este requerimiento. De lo contrario su solicitud se tendrá por no presentada.</p>

            <p>Asimismo, en un plazo posterior de 20 (veinte) días hábiles
              <span class="c-one fontweight600">“Ferromex”</span> emitirá una resolución, la cual le será notificada por los medios de contacto que haya establecido
              en su solicitud. Una vez emitida la resolución y en caso de que la misma sea procedente (parcial o totalmente),
              <span class="c-one fontweight600">“Ferromex”</span> contará con 15 (quince) días hábiles para adoptar dicha resolución.</p>

            <p>Los términos y plazos indicados en los párrafos anteriores, podrán ser ampliados una sola vez en caso de ser
              necesario y se le deberá notificar a través de los medios de contacto que haya establecido.</p>

            <p>La revocación y el ejercicio de los Derechos “ARCO” serán gratuitos, debiendo usted cubrir únicamente los gastos
              justificados de envío, o el costo de reproducción en copias u otros formatos establecidos en su solicitud.</p>

            <p>Asimismo, le informamos que le asiste su derecho para acudir ante el Instituto Federal de Acceso a la Información
              y Protección de Datos en caso de considerar que su derecho a la protección de Datos Personales ha sido vulnerado.
              Para mayor información visite
              <a href="http://www.ifai.org.mx" target="_blank">www.ifai.org.mx</a>.</p>

            <p>
              <b>Uso de "cookies",WebBeacons o tecnologías similares o análogas</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> podrá contratar a uno o varios terceros como proveedores de servicios seleccionados para
              manejar y administrar tanto este Portal como los Datos Personales que se recaba a través de éste, o de cualquier
              otro medio distinto; por lo que, podría incluso transferirlos a dicho(s) tercero(s) sin un fin comercial.</p>

            <p>Los Datos Personales que usted proporciona a
              <span class="c-one fontweight600">“Ferromex”</span> podrán compilarse y fijarse en una base de datos propiedad exclusiva de
              <span class="c-one fontweight600">“Ferromex”</span>.
              <span class="c-one fontweight600">“Ferromex”</span> puede utilizar "cookies" o tecnologías similares para confirmar su identificación, personalizar
              su acceso a este Portal y revisar su uso, con el solo propósito de mejorar su navegación y sus condiciones
              de funcionalidad, por lo tanto,
              <span class="c-one fontweight600">“Ferromex”</span> no recaba mediante el uso de cookies" o tecnologías similares Datos Personales de los usuarios
              que no sean proporcionados por este o sin su consentimiento. Este Portal tiene ligas a otros sitios externos,
              de los cuales el contenido y políticas de privacidad no son responsabilidad de
              <span class="c-one fontweight600">“Ferromex”</span>, por lo que el usuario, en su caso, quedará sujeto a las políticas de privacidad de aquellos
              otros sitios, sin responsabilidad alguna a cargo de
              <span class="c-one fontweight600">“Ferromex”</span>.</p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> tiene implementadas medidas de seguridad administrativas, técnicas y físicas para proteger
              sus datos personales, mismas que igualmente exigimos sean cumplidas por los terceros que
              <span class="c-one fontweight600">“Ferromex”</span> contrata como proveedores de servicios seleccionados.</p>

            <p>
              <b>Cambios al Aviso de Privacidad y vulneración de seguridad:</b>
            </p>

            <p>
              <span class="c-one fontweight600">“Ferromex”</span> tiene el derecho de efectuar cualquier cambio o modificación al Aviso de Privacidad. Tales
              modificaciones, podrán ser consultadas en las páginas de internet:
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> y/o
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>.</p>

            <p>En caso de que ocurra una vulneración de seguridad en cualquier fase del tratamiento de sus Datos Personales,
              <span class="c-one fontweight600">“Ferromex”</span> lo hará del conocimiento general, a través de la cualquiera de las siguientes páginas de
              internet:
              <a href="http://www.chepe.mx" target="_blank">www.chepe.mx</a> y/o
              <a href="http://www.ferromex.mx" target="_blank">www.ferromex.mx</a>, para que tome las medidas correspondientes a fin de resguardar sus derechos.</p>

            <p>Fecha de última actualización: abril de 2018</p>





          </div>

        </div>
      </div>

    </div>
  </div>
</div>