<div class="main-content">
  <div class="container">
    <div class="row margintop40 c-two center">
      <div class="col-sm-14 col-sm-offset-5 col-md-10 col-md-offset-7">
        <h3 class="orange-t">{{content.title}}</h3>
        <hr class="orange-hr" />
        <h5 class="c-one" *ngIf="content.reference !== undefined && content.reference !== ''">
          <b>Referencia: {{content.reference}}</b>
        </h5>        
        <h5 class="c-one" *ngIf="content.amount !== undefined && content.amount !== ''">
          <b>Monto: $ {{content.amount}} {{content.moneda}}</b>
        </h5>       
        <h5 class="c-one" *ngIf="content.nombre !== undefined && content.nombre !== ''">
          <b>Nombre: $ {{content.nombre}}</b>
        </h5>     
        <h5 class="c-one" *ngIf="content.num_tarjeta !== undefined && content.num_tarjeta !== ''">
          <b>Núm. Tarjeta: ************{{content.num_tarjeta}}</b>
        </h5>
        <h5 class="c-one" *ngIf="content.tipo_tarjeta !== undefined && content.tipo_tarjeta !== ''">
          <b>Tipo Tarjeta: {{content.tipo_tarjeta}}</b>
        </h5>
        <h5 class="c-one" *ngIf="content.auth_num !== undefined && content.auth_num !== ''">
          <b>Número de autorización: {{content.auth_num}}</b>
        </h5>
        <h5 class="c-one" *ngIf="content.operation_num !== undefined && content.operation_num !== ''">
          <b>Número de operación: {{content.operation_num}}</b>
        </h5>
        <h5 class="c-one" *ngIf="content.code_resp !== undefined && content.nbError !== ''">
          <b>{{content.code_resp}} / {{content.nbError}}</b>
        </h5>
        <p class="blue-express fontweight600" [innerHTML]="content.main"></p>
        <p class="blue-express fontweight600" [innerHTML]="content.extra"></p>
        <br/>
        <!-- <h5 class="c-one">
          <b>Gracias por tu preferencia</b>
        </h5> -->
      </div>
    </div>
    <div class="row margintop10">
      <div class="col-xs-12 col-sm-4 center icon__cross">
        <a class="btn btn-link" onclick="JavaScript: parent.location.href='/reservaciones';" role="button">
          <div>
            <img src="assets/img/icon_cross.png">
          </div>
          <div>Cerrar</div>
        </a>
      </div>
    </div>
  </div>
</div>