<div class="main-content transparent margintop100">
  <div class="container">
    <div class="row">
      <div class="col-sm-15 no-gutter-left text-justify bg-six col transparent equalheight">
        <div class="row margintop50">
          <div class=" col-sm-24 gap-left">
            <h1 class="c-five">Restaurante Urike</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-five"></span>
          </div>

          <div class="col-sm-22 gap-left">
            <p>Conoce los sabores de la sierra a través de los platillos de temporada, en un carro de dos niveles en el que
              no te perderás ningún detalle del paisaje gracias a su domo panorámico.
              <br>Recuerda que es importante reservar tu lugar.</p>
            <h5 class="margintop20">
              <em class="c-five">1er. Nivel</em>
            </h5>
            <ul class="colored dots-c-five">
              <li>
                <em>Ventanas panorámicas</em>
              </li>
              <li>
                <em>6 Mesas cada una con capacidad para 4 comensales</em>
              </li>
              <li>
                <em>4 Pantallas HD</em>
              </li>
              <li>
                <em>Sistema de audio premium</em>
              </li>
            </ul>

            <h5 class="margintop20">
              <em class="c-five">2do. Nivel</em>
            </h5>
            <ul class="colored dots-c-five">
              <li>
                <em>Ventanas tipo domo</em>
              </li>
              <li>
                <em>6 Mesas cada una con capacidad para 4 comensales</em>
              </li>
              <li>
                <em>Sistema de audio premium</em>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-sm-9 no-gutter-right equalheight bg-five col transparent ">
        <!-- <div class="row paddingtop100">
                  <div class="col-sm-23 center margintop30">
                          <a class="btn btn-link c-white" href="#" data-toggle="modal" data-target="#urike-menu-1">
                          <div><img class="big"  src="assets/img/icon_menu1_white.png"></div>
                          <div>MENÚ 1</div>
                          </a>
                  </div>
                  <div class="col-sm-23 center margintop20">
                          <a class="btn btn-link c-white" href="#" data-toggle="modal" data-target="#urike-menu-1">
                          <div><img class="big"  src="assets/img/icon_menu2_white.png"></div>
                          <div>MENÚ 2</div>
                          </a>
                  </div>
                  <div class="col-sm-23 center margintop20">
                          <a class="btn btn-link c-white" href="trenes-reservaciones-urike.html" role="button">
                          <div><img class="small"  src="assets/img/icon_urike.png"></div>
                              <div>RESERVACIONES <br> <span class="lowercase">Urike</span></div>
                          </a>
                  </div> 
              </div>-->
      </div>
    </div>
  </div>
</div>




<!-- modal urike menu 1 -->
<div class="modal fade" id="urike-menu-1" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Menú 1</h4>
      </div>
      <div class="modal-body">
        Menu...
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- modal urike menu 2 -->
<div class="modal fade" id="urike-menu-2" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Menú 2</h4>
      </div>
      <div class="modal-body">
        Menu...
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->