<div class="container header-topbar">
  <div class="row">
      <div class="container">
          <div class="row">
              <div class="col-md-24">
                  <span class="lang"><a href="" class="active">Esp</a> / <a href="">Eng</a></span>
                  <span class="chat bold"><a href="#"><img src="assets/img/chat-white.png"> CHAT</a></span>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container navbar-affix-height menu-r">
  <div class="row">
      
      <nav class="navbar navbar-default" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="img-responsive" src="assets/img/chepe_white.png"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="big-l">T</span>renes<span class="caret hidden-md hidden-lg"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="big-l">T</span>renes</a></li>
                  <li><a href="trenes-express.html"><span class="big-l">C</span>hepe Express</a></li>
                  <li><a href="trenes-regional.html"><span class="big-l">C</span>hepe Regional</a></li>
                  <li><a href="trenes-horarios-tarifas.html"><span class="big-l">H</span>orarios y tarifas</a></li>
                  <li><a href="trenes-restaurante-urike.html"><span class="big-l">R</span>estaurante Urike</a></li>
                  <li><a href="trenes-galeria.html"><span class="big-l">G</span>alería</a></li>
                  <li><a href="reservaciones.html"><span class="big-l">R</span>eservaciones</a></li>
                </ul>
              </li>
              <li class="active" ><a routerLink="/"><span class="big-l">R</span>eservaciones</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="big-l">A</span>tracciones<span class="caret hidden-md hidden-lg"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><span class="big-l">A</span>tracciones</a></li>
                      <li><a href="atracciones-destinos-actividades.html"><span class="big-l">D</span>estinos y Actividades</a></li>
                      <li><a href="atracciones-chepexplora.html"><span class="big-l">C</span>hepeXplora</a></li>
                      <li><a href="atracciones-comunidades-indigenas.html"><span class="big-l">C</span>omunidades <span class="big-l">I</span>ndígenas</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="big-l">G</span>uía de viaje<span class="caret hidden-md hidden-lg"></span></a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="#">
                          <span class="big-l">G</span>uía de viaje
                          </a>
                      </li>
                      <li>
                          <a href="guia-viaje-itinerarios-sugeridos.html">
                          <span class="big-l">I</span>tinerarios Sugeridos
                          </a>
                      </li>
                      <li><a href="guia-viaje-conexiones-aereas.html"><span class="big-l">C</span>onexiones Aéreas</a></li>
                      <li><a href="guia-viaje-directorio-hoteles.html"><span class="big-l">D</span>irectorio de Hoteles</a></li>
                      <li><a href="guia-viaje-testimonios.html"><span class="big-l">T</span>estimonios</a></li>
                      <li><a href="guia-viaje-preguntas-frecuentes.html"><span class="big-l">P</span>reguntas Frecuentes</a></li>
                  </ul>
              </li>
              <li><a href="contacto.html"><span class="big-l">C</span>ontacto</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  </div>
</div>