<div class="container-fluid " [ngClass]="getHeaderClasses()">
    <div class="row">

        <nav class="navbar navbar-inverse full-nav-plain bg-one small-nav navbar-fixed-top">
            <div class="container">

                <div class="header-topbar small-top-bar transparent-topbar">
                    <span class="lang"><a (click)="switchLanguage('es')" >Esp</a> / <a (click)="switchLanguage('en')" class="active">Eng</a></span>
                    <!--<span class="chat bold"><a href="#"><img src="assets/img/chat-white.png"> CHAT</a></span>-->
                    <!-- Start of ferromex Zendesk Widget script -->
                    <!-- 
                        <script>/*<![CDATA[*/window.zE || (function (e, t, s) {
var n = window.zE = window.zEmbed = function () { n._.push(arguments) }, a = n.s = e.createElement(t), r = e.getElementsByTagName(t)[0];
n.set = function (e) { n.set._.push(e) }, n._ = [], n.set._ = [], a.async = true, a.setAttribute("charset", "utf-8")
                                    , a.src = "https://static.zdassets.com/ekr/asset_composer.js?key=" + s, n.t = +new Date, a.type = "text/javascript", r.parentNode.insertBefore(a, r)
                            })(document, "script", "fae787f1-71d8-4827-85b4-d699fb05daeb");/*]]>*/</script>
                    -->
                    <!-- End of ferromex Zendesk Widget script -->
                </div>


                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/">
                        <img class="img-responsive" src="assets/img/chepe_white_small_nav.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Dropdown-menu1-P0' | translate}}
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a routerLink="/trenes/chepe-express">{{'Dropdown-menu1-P1' | translate}}</a>
                              </li>
                              <li>
                                <a routerLink="/trenes/chepe-regional">{{'Dropdown-menu1-P2' | translate}}</a>
                              </li>
                              <li>
                                <a routerLink="/trenes/horarios-tarifas">{{'Dropdown-menu1-P3' | translate}}</a>
                              </li>
                              <!--<li><a routerLink="/trenes/restaurante-urike">{{'Dropdown-menu1-P4' | translate}}</a></li>-->
                              <li>
                                <a routerLink="/trenes/galeria">{{'Dropdown-menu1-P5' | translate}}</a>
                              </li>
                              <li>
                                <a routerLink="/reservaciones">{{'Dropdown-menu1-P6' | translate}}</a>
                              </li>
                            </ul>
                        </li>
                        <li>
                          <a routerLink="/reservaciones">{{'Dropdown-menu2-P0' | translate}}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Dropdown-menu3-P0' | translate}}
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="/atracciones/destinos-y-actividades">{{'Dropdown-menu3-P1' | translate}}</a>
                                </li>
                                <!--<li><a href="atracciones-chepexplora.html">ChepeXplora</a></li>-->
                                <li>
                                    <a routerLink="/atracciones/comunidades-indigenas">{{'Dropdown-menu3-P2' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Dropdown-menu4-P0' | translate}}
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="/guia-de-viaje/itinerarios-sugeridos">{{'Dropdown-menu4-P1' | translate}}</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/conexiones-aereas">{{'Dropdown-menu4-P2' | translate}}</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/hoteles">{{'Dropdown-menu4-P3' | translate}}</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/testimonios">{{'Dropdown-menu4-P4' | translate}}</a>
                                </li>
                                <li>
                                    <a routerLink="/preguntas-frecuentes">{{'Dropdown-menu4-P5' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/contacto">{{'Dropdown-menu5-P0' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
