<div class="container-fluid ">
    <div class="row">

        <nav class="navbar navbar-inverse full-nav-plain bg-one small-nav navbar-fixed-top">
            <div class="container">

                <div class="header-topbar small-top-bar transparent-topbar">
                    <!--<span class="lang"><a href="#" class="active">Esp</a> / <a href="#">Eng</a></span>-->
                    <!--<span class="chat bold"><a href="#"><img src="assets/img/chat-white.png"> CHAT</a></span>-->
                    <!-- Start of ferromex Zendesk Widget script -->
                    <!-- 
                        <script>/*<![CDATA[*/window.zE || (function (e, t, s) {
var n = window.zE = window.zEmbed = function () { n._.push(arguments) }, a = n.s = e.createElement(t), r = e.getElementsByTagName(t)[0];
n.set = function (e) { n.set._.push(e) }, n._ = [], n.set._ = [], a.async = true, a.setAttribute("charset", "utf-8")
                                    , a.src = "https://static.zdassets.com/ekr/asset_composer.js?key=" + s, n.t = +new Date, a.type = "text/javascript", r.parentNode.insertBefore(a, r)
                            })(document, "script", "fae787f1-71d8-4827-85b4-d699fb05daeb");/*]]>*/</script>
                    -->
                    <!-- End of ferromex Zendesk Widget script -->
                </div>


                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/">
                        <img class="img-responsive" src="assets/img/chepe_white_small_nav.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trenes
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="/trenes/chepe-express">Chepe Express</a>
                                </li>
                                <li>
                                    <a routerLink="/trenes/chepe-regional">Chepe Regional</a>
                                </li>
                                <li>
                                    <a routerLink="/trenes/horarios-tarifas">Horarios y Tarifas</a>
                                </li>
                                <!--<li><a routerLink="/trenes/restaurante-urike">Restaurante Urike</a></li>-->
                                <li>
                                    <a routerLink="/trenes/galeria">Galería</a>
                                </li>
                                <li>
                                    <a routerLink="/reservaciones">Reservaciones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/reservaciones">Reservaciones</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atracciones
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="/atracciones/destinos-y-actividades">Destinos y actividades</a>
                                </li>
                                <!--<li><a href="atracciones-chepexplora.html">ChepeXplora</a></li>-->
                                <li>
                                    <a routerLink="/atracciones/comunidades-indigenas">Comunidades indígenas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guía de Viaje
                                <span class="caret hidden-md hidden-lg"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="/guia-de-viaje/itinerarios-sugeridos">Itinerarios sugeridos</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/conexiones-aereas">Conexiones aéreas</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/hoteles">Directorio de hoteles</a>
                                </li>
                                <li>
                                    <a routerLink="/guia-de-viaje/testimonios">Testimonios</a>
                                </li>
                                <li>
                                    <a routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>