<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
                <div class="row margintop50">
                    <div class=" col-sm-24 gap-left ">
                        <h1>{{'Tac-P00' | translate}}</h1>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left margintop30 terminos-condiciones">
                        <h6>
                            <b>{{'Tac-P01' | translate}}</b>
                        </h6>
                        
                        <h5><a routerLink="/terminos-y-condiciones-express">{{'Tac-P02' | translate}}</a></h5>

                        <h5><a href="{{'Tac-pdf-P110' | translate}}" target="_blank">{{'Tac-P109' | translate}}</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>