<div class="main-content">
  <div class="container">
      <div class="row" >
          <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
              <div class="row margintop50">
                  <div class=" col-sm-24 gap-left ">
                      <h1>Términos y Condiciones</h1>
                  </div>

                  <div class="col-sm-24 no-gutter-left-mobile">
                      <span class="title-underline c-border-one"></span>
                  </div>
                  
                  <div class="col-sm-24 gap-left margintop30 terminos-condiciones">
                      <h7><b>TERMINOS Y CONDICIONES PARA LOS SERVICIOS DE PASAJEROS EN LAS SIGUIENTES CLASES:</b></h7>
      
                      <h5>CHEPE EXPRESS: (TURISTA Y EJECUTIVA)</h5>

                      <p>Acepta el pasajero los siguientes términos y condiciones del servicio de pasajeros, desde el momento en que adquiere el boleto:</p>

                      <h5>1.- RESERVACION Y VENTA DE BOLETOS</h5>

                      <p>El cliente podrá comprar a través del portal de internet <a href="http://www.chepe.mx">www.chepe.mx</a>, así como enviando un correo electrónico a: chepe.reservaciones@ferromex.mx o telefónicamente en el 01 8001 224373</p>

                      <p>Para la reservación y compra de boletos el cliente deberá proporcionar la siguiente información:</p>

                      <ul>
                      <li>Nombres completos de las personas que desean viajar;</li>
                      <li>Edades de cada uno;</li>
                      <li>En caso de ser una persona con discapacidad deberá informarlo;</li> 
                      <li>Correo electrónico;</li>
                      <li>Itinerario detallado por fechas y estaciones, y</li> 
                      <li>Especificar qué servicio desea reservar y/o comprar: Turista o Ejecutiva</li>
                      </ul>

                      <p>Para grupos mayores a 15 personas, en caso de realizar una reservación, el cliente recibirá una confirmación vía correo electrónico informando los detalles de la reservación, así como la forma y fecha límite de pago.</p>
                      <p>El pago se podrá hacer a través de: compra directa con tarjeta de crédito desde el portal de internet y/o Transferencia electrónica y/o depósito bancario, cuando se solicita a través del correo electrónico. </p>
                      
                      <p>Al momento de realizar el pago desde el portal se le harán llegar sus boletos. En el caso de trasferencia electrónica o depósito bancario deberá enviar el comprobante de pago al correo electrónico siguiente, junto con el número de confirmación de reserva: <a href="mailto:c%68%65&#112;e.re&#115;e%72%76aci&#111;%6ees@&#102;%65%72%72&#111;m&#101;x.mx"> chepe.reservaciones@ferromex.mx</a>, una vez que se tenga el pago correspondiente se le harán llegar sus boletos vía correo. Estos boletos deberá presentarlos impresos para poder abordar en el tren según el servicio comprado.</p>

                      <p>Al momento de realizar el pago, el Cliente acepta que la información detallada en la confirmación de reserva es totalmente correcta; por lo tanto, en caso de solicitar cualquier cambio por error del cliente, el cliente deberá pagar la debida penalización por el cambio observada en el punto 12 de este documento.</p>

                      <p>En caso de que el error sea por parte del Ferrocarril, se hará la modificación sin cargos.</p>

                      <h5>2.- BOLETO </h5>

                      <p>El boleto es el documento oficial para cualquier aclaración y ampara su seguro del viajero.</p> 

                      <p>Los boletos son válidos para viajes con o hasta 2 paradas, sin cargo adicional, iniciando en la estación de origen en la fecha marcada en el boleto.</p> 

                      <p>El valor del boleto solo incluye el traslado a bordo del tren en asiento asignado para el pasajero y su equipaje no mayor a tres piezas y en total no podrán exceder 50 kilos.</p>

                      <p>El boleto es personal e intransferible. No podrá ser, revendido y/o alterado. (la empresa se reserva el derecho de exigir la identificación del pasajero).</p>

                      <p>En el valor del boleto está incluido el Seguro de Viajero, mismo que entre otros, cuenta con la siguiente cobertura: Gastos Médicos, Gastos Funerarios, Perdida de Equipaje y Muerte Accidental a bordo del tren y estaciones.</p>  

                      <p>Todo Pasajero que aborde el tren deberá mostrar su boleto, así como documento de Identificación con fotografía. Ferromex/Ferrocarril Chepe se reserva el derecho de revisar el boleto antes y durante el viaje.</p>

                      <h5>3.- ABORDAJE</h5>

                      <p>Las salas de espera de las estaciones terminales de Chihuahua y Creel en el Estado de Chihuahua y Los Mochis, Sin. se abrirán una hora antes del abordaje permitiendo que los pasajeros ingresen aún si la ventanilla se encuentra cerrada. </p>

                      <p>El pasajero deberá estar en la estación de abordaje por lo menos una hora antes de la salida del tren correspondiente.</p> 

                      <p>Al momento de abordar deberá exhibir el boleto al personal de Ferromex/Ferrocarril Chepe, así como su identificación oficial con fotografía.</p>

                      <p>Ferromex/Ferrocarril Chepe  no asume ninguna obligación ni responsabilidad por cualquier cambio o retraso, razonablemente necesario o inevitable, previo o posterior al inicio de la prestación del servicio contratado, y el resultado de acción, omisión o cualquier otro hecho, acto o circunstancia inesperada, o imprevisible que se halle fuera del control de Ferromex/Ferrocarril Chepe.</p>

                      <p>Razones climatológicas, inconvenientes derivados por acción de la naturaleza y/o cualquier otra causa fortuita o imprevista fuera del control de Ferromex/Ferrocarril Chepe, pueden ocasionar retrasos y/o paradas no programadas, lo cual no implicará bajo ningún concepto algún tipo de obligación o responsabilidad por parte de Ferromex/Ferrocarril Chepe.</p>

                      <p>Si el pasajero, sin existir una situación de peligro inminente por cualquier causa, razón o plazo, decide descender del medio de transporte antes de su destino final indicado en el boleto, lo hará bajo su propio riesgo y responsabilidad. Por otro lado, Ferromex/Ferrocarril Chepe, para cumplir el servicio requiere proveer de otra forma de transporte alternativo y/o complementario y el pasajero decide por cualquier causa o razón no utilizar dicho servicio y continuar el viaje por sus propios medios, asumirá en forma personal y exclusiva todo el costo, riesgo y responsabilidad derivados de dicha decisión, sin obligación alguna para Ferromex/Ferrocarril Chepe.</p>

                      <p>Ferromex/Ferrocarril Chepe, en razón a cualquier incidente de caso fortuito o fuerza mayor, contingencia o situación antes mencionadas, no tendrá obligación de asumir ningún tipo de responsabilidad frente al pasajero o terceros por retrasos o imposibilidad de tomar conexiones con otros medios de transporte, o no cumplir o gozar adecuadamente de las obligaciones o derechos, respectivamente, acordados con hoteles, restaurantes o compromisos en general pactados con cualquier persona, entidad o empresa, sea cual fuere su giro u objeto social.</p>

                      <p>Ferromex/Ferrocarril Chepe , se reserva el derecho de proporcionar el servicio sin que esto implique el derecho del usuario de algún reclamo, demanda, pago o cualquier otra responsabilidad civil o mercantil, si ocurre alguno de los siguientes eventos:</p> 
                          
                      <ol type="a" class="spacing">
                      <li> Si existen condiciones climatológicas que impidan la realización del viaje y/o demora del mismo.</li>

                      <li>Si el pasajero se presentara bajo los efectos del alcohol, y/o alguna sustancia tóxica o prohibida.</li> 

                      <li>Porte armas, explosivos, sustancias peligrosas, mercancías ilícitas o, en general, cualquier otro elemento que constituya un riesgo para los demás pasajeros.</li>

                      <li>Si el pasajero no acata las instrucciones del personal de Ferromex/Ferrocarril Chepe </li>

                      <li>Si se utiliza un boleto que no corresponda al pasajero y/o que sea objeto de la reventa o alterado.</li>

                      <li>Por no presentarse el usuario en los horarios indicados para abordar con anticipación.</li>
                      </ol>

                      <p>Ferromex/Ferrocarril Chepe, se reserva el derecho de sustituir coches de servicio, por causas de fuerza mayor y por necesidades de servicio a demanda de éste.</p>

                      <h5>4.- ASIGNACIÓN DE ASIENTOS </h5>

                      <p>Al momento de realizar su reservación y/o compra se le asignarán los asientos de los tramos del viaje a recorrer. La designación de los asientos se lleva a cabo en el orden de reservación, procurando que personas que viajan en grupo queden juntas.</p>

                      <p>En el caso de que no haya suficientes lugares juntos, deberán tomar los asientos disponibles.</p> 

                      <p>No se podrá acceder de un servicio a otro cuando ya haya comenzado su viaje. Sin embargo, si solicita cualquier cambio antes de 30 días de su viaje se aplicarán las reglas mencionadas en el punto 12 de este documento. </p>

                      <h5>5.- PASAJE PARA NIÑOS MENORES DE EDAD</h5>

                      <p>Los niños menores de 18 años deberán viajar acompañados de un adulto responsable de ellos.</p>  

                      <h5>6.- EQUIPAJE</h5>

                      <p>El boleto ampara solamente tres piezas que no excedan los 50 kilogramos en total.</p> 

                      <p>No está permitido transportar, motocicletas, paquetes de dimensiones mayores que incomoden a los demás pasajeros, hieleras, costales, bultos grandes o cajas, paquetería en general.  El pasajero tendrá que utilizar los servicios que se proporcionen para tal fin.</p> 

                      <p>Los pasajeros con discapacidad, podrán abordar con sus dispositivos de asistencia y movilidad requerida para su traslado, tales como sillas de ruedas, andaderas, bastón, muletas, etc. de igual forma, podrán llevar a bordo algún dispositivo de asistencia que requieran. El pasajero podrá llevar a la mano una cantidad razonable de medicinas y artículos de uso personal.</p>

                      <p>Se recomienda que el pasajero no incluya en su equipaje artículos de valor (dinero, joyas, etc.), objetos frágiles o delicados. Ferromex/Ferrocarril Chepe no será responsable por pérdidas o rupturas, ni efectuará ninguna indemnización.</p>

                      <h5>7.- ALIMENTOS</h5>

                      <p>Está prohibido abordar con bebidas y/o alimentos al tren.</p>

                      <p>No se permite llevar a la vista botellas de vino o bebidas embriagantes, podrá llevarlas si se encuentran cerradas y dentro de su equipaje.</p>

                      <h5>8.- PROHIBIDO FUMAR </h5>

                      <p>No se permite fumar a bordo del tren, así como en todas las estaciones de la ruta.</p>

                      <h5>9.- TRANSPORTE DE ANIMALES</h5>

                      <p>Está permitido viajar a bordo del tren de pasajeros con cualquier tipo de perros de compañía, siempre y cuando no representen un riesgo para los demás pasajeros y los propietarios asuman desde el momento de la compra del boleto, la responsabilidad de ellos en todo momento y ante cualquier eventualidad.</b></p>

                      <h5>10.- PERSONAS CON DISCAPACIDAD, ENFERMOS O MUJERES EMBARAZADAS</h5>

                      <p>No podrán viajar:</p>
                      
                      <ul>
                      <li>Niños menores a 18 años solos;</li>
                      <li>Las mujeres que se encuentren en estado de gravidez a partir de los siete meses de gestación;
                      <li>Las personas que pretendan viajar solas que sufran de alguna discapacidad y
                      que médicamente necesiten un cuidador;</li>
                      <li>Las personas que, por la naturaleza de su enfermedad, presenten riesgos para los demás pasajeros, o que por su estado de salud su transportación pueda implicar un riesgo para su vida;</li>
                      <li>Las personas que se encuentren en estado de ebriedad o bajo la influencia de estupefacientes o psicotrópicos salvo que cuenten, en este último caso, con prescripción médica, y </li>
                      <li>Las personas que porten armas sin el permiso respectivo, explosivos, sustancias peligrosas o en general, cualquier otro elemento que constituya un riesgo para los usuarios. </li>
                      </ul>

                      <p>En caso expreso, deberán portar Certificados Médicos. Será obligatorio indicar al momento de reservar o hacer su compra si:</p>
                      
                      <ul>
                      <li>Necesita oxígeno médico a bordo, en este caso el certificado médico deberá indicar su necesidad de oxígeno y el nivel de flujo que requiere por minuto. Viaja con su concentrador de oxígeno (Sólo los autorizados por la FAA).</li>
                      <li>Tiene la necesidad de viajar en camilla.</li>
                      <li>Requiere transportar a un bebé o infante en incubadora.</li>
                      <li>Tiene alguna infección o enfermedad transmisible.</li>
                      <li>Tiene un problema de salud que ponga en duda razonable la conclusión de su viaje con tranquilidad, sin necesidad de asistencia médica especial durante el viaje.</li>
                      <li>Daño cerebral, se requiere que el pasajero viaje acompañado.</li>
                      <li>Estado de coma. Adicional al certificado médico, sólo podrá viajar si es acompañado por un familiar o un facultativo.</li>
                      <li>Enfermedad en etapa terminal o desahucio por causas distintas. Adicional al certificado médico, Se requiere que el pasajero viaje acompañado.</li>
                      <li>Epilepsia, Se requiere que el pasajero viaje acompañado.</li>
                      <li>Enfermedad infectocontagiosa. No se permitirá el viaje si la enfermedad es fácilmente transmisible en ambientes cerrados. </li>
                          </ul>

                      <li>Comentarios: 

                      <p>El personal de Ferrocarril Mexicano, S.A. de C.V., se esfuerza al máximo por satisfacer sus necesidades de viaje, a la vez que toma en cuenta la salud y la seguridad de los demás pasajeros.</p> 

                      <p>Tome en cuenta que nuestro personal no está autorizado para ayudarle a comer, asistirle dentro del sanitario, atender necesidades fisiológicas en su asiento ni tampoco prestarle servicios médicos.</p> 

                      <p>Muchas de las discapacidades no son del todo visibles, por lo que dependemos de la información que usted desee proporcionarnos, misma que nos permitirá servirle de acuerdo a sus necesidades.</p> 

                      <p>Con la intención de no incomodarle haciéndole preguntas referentes a su discapacidad, nos gustaría conocer los servicios que usted podría requerir para lograr que su viaje sea placentero. </p>

                      <h5>11.- TARIFAS</h5>

                      <p>La Empresa podrá modificar las tarifas sin previo aviso.</p>

                      <p>Los menores de 3 años no pagan boleto y no tienen derecho a asiento.</p>

                      <h5>12.- SOLICITUD DE CAMBIOS, CANCELACIONES O REEMBOLSOS POR PARTE DEL PASAJERO</h5>

                      <p>Todos los trenes están sujetos a cambios de horarios o demoras en ruta debido a condiciones climatológicas o de caso fortuito, en cuyo caso no se podrá aplicar por parte del pasajero acciones en contra de la empresa. Cuando alguna de estas situaciones se presente, Ferromex/Ferrocarril Chepe  determinarán los movimientos del tren. El uso de cualquier porción del boleto significará la aceptación del pasajero a estas normas y condiciones.</p>
                      
                     
                      <ol type="a" class="spacing">
                     <li>Todas las modificaciones por parte del pasajero a una venta causan un 10% de cargo.</li>

                      <li>El boleto comprado no se podrá cancelar</li> 

                      <li>Se podrán realizar cambios si se informa a través del correo electrónico chepe.reservaciones@ferromex.mx, con al menos treinta días antes de la fecha de viaje, y se podrá utilizar durante el año siguiente desde la fecha de la compra, pagando el 10% sobre el valor total para poder viajar con los nuevos datos</li>

                      <li>Si el pasajero o pasajeros cancelan un tramo del viaje no habrá rembolso.</li>
                      <li>El reembolso procederá cuando se cancele el servicio por caso fortuito o fuerza mayor atribuible al pasajero y solo se reembolsará el 70% del valor del boleto.</li>
                          
                          
                      </ol>
                          <p>En estos casos el pasajero o pasajeros deberán enviar su boleto escaneado así como una carta solicitando dicho reembolso, los datos de su cuenta bancaria y un teléfono donde localizarlo. Esto se deberá enviar al correo: chepe@ferromex.mx.  El reembolso se realizará en los siguientes 15 días hábiles y se enviará al cliente la ficha de depósito como comprobante de la transacción a través de correo electrónico. Con la solicitud de reembolso, la ficha de depósito y la copia del boleto se abrirá un expediente para cualquier aclaración.</p>
                    
                      

                      <h5>13.- CAMBIOS O CANCELACIONES POR PARTE DE FERROMEX</h5>

                      <p>En los casos de que el pasajero ya se encuentre con boleto comprado y ocurra algún evento de caso fortuito o de fuerza mayor, Ferromex se obliga a:</p>
                      
                      <ol type="a" class="spacing">
                      <li> La devolución del 100% del tramo no ocupado.</li>

                      <li> En los casos en que proceda se podrá ocupar el boleto para tomar el tren en un tramo contrario, debiendo pagar la diferencia cuando corresponda.</li>

                      <li> En los casos que se considere procedente y tomando en cuenta la seguridad del pasajero, Ferromex determinará si fuera conveniente contratar un servicio externo de transporte terrestre como autobuses o camionetas de turismo autorizados. </li>

                      <li> En los casos en donde los pasajeros sean trasladados por otro medio conforme al inciso anterior, en los tramos que habían comprado su boleto, este no se reembolsará ya que el servicio se tomará como otorgado.</li>

                      <li> Ferromex no está obligado a cubrir los gastos de alimentos ni de hotel, que resulten de caso fortuito o fuerza mayor no atribuible a este.</li>
                          <li>La devolución de boletos por causas imputables a Ferromex causará la devolución del importe correspondiente al 100% del segmento no utilizado y sólo aplica a la presentación del boleto emitido por Ferrocarril Chepe. El cliente tendrá treinta días para reclamar su reembolso o hacer uso del mismo para la fecha que solicite el pasajero, no excediendo de doce meses a partir de ocurrido el evento </li>

                      
                      </ol>

                      <p>En estos casos el reembolso se depositará a la cuenta que el pasajero determine de 15 a 30 días posteriores a la solicitud.</p>

                      <h5>14.- FACTURACIÓN </h5>

                      <p>El pasajero podrá solicitar la factura por la compra de su boleto, enviando la copia de su boleto escaneado y su cédula fiscal así como sus datos en el cuerpo del correo a la dirección  cduran@ferromex.mx con copia a fescarcega@ferromex.mx, en tres días hábiles Ferromex enviará la factura electrónica a través de este mismo medio contado a partir de que se reciba el correo. La solicitud deberá enviarse dentro del mes que realizó la compra, de lo contrario, no podrá ser sujeto a facturación. Las facturas solicitadas del día 1 al día 28 del mes saldrán con la fecha del mes en curso, las solicitadas a partir del día 29 del mes se realizarán con la fecha del mes siguiente.</p>

                      <h5>15.- CONDICIONES DEL CONTRATO DE TRANSPORTE FERROVIARIO</h5>

                      <p>Ningún agente, servidor, representante, transportista, o tercera persona, tiene la facultad o la capacidad para modificar, restringir o ampliar los términos de este documento.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>