<div class="main-content transparent margintop70">
  <div class="container">
    <div class="row">
      <div class="col-sm-15 no-gutter-left text-justify bg-six col transparent equalheight paddingtop50">
        <div class="row">
          <div class=" col-sm-24 gap-left">
            <h1 class="">El Fuerte</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left">
            <p>El Municipio de El Fuerte se localiza dentro del Circuito Ecoturístico Mar de Cortés - Barrancas del Cobre. Posee
              grandes atractivos naturales, históricos, arquitectónicos, culturales y arraigadas tradiciones indígenas.
              <br> Este municipio recibe su nombre debido a que en 1610 los españoles construyeron un fuerte para protegerse
              del ataque de la población local. El Fuerte fue un importante centro minero, donde la riqueza de la región
              se puede apreciar en sus antiguas mansiones, actualmente convertidas en preciosos hoteles además de la catedral
              y la plaza central con frondosa vegetación.</p>
          </div>

          <div class=" col-sm-24 gap-left">
            <h3 class="">¿Qué hacer?</h3>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

          <div class="col-sm-24 gap-left margintop30">

            <ul class="colored dots-c-one">
              <li>Caminata por el malecón del Río “El Fuerte” y por el pueblo</li>
              <li>Kayak en el Río “El Fuerte”</li>
              <li>Paseo en Balsa por el Río “El Fuerte” </li>
              <li>Pláticas sobre la Flora y Fauna del lugar en el Río “El Fuerte”</li>
              <li>Espectáculo de danzas locales</li>
              <li>Comida con vista al rio” El Fuerte”</li>
            </ul>


          </div>

        </div>

      </div>
      <div class="col-sm-9 no-gutter bg-one col transparent equalheight paddingtop130">
        <div class="row">
          <div class=" col-sm-24 center">
            <div class="box-carousel-thumbnail">
              <img src="assets/img/atraciones/el-fuerte.jpg" class="img-responsive">
            </div>
            <a class="btn btn-link c-white margintop50" href="#" data-toggle="modal" data-target="#modal-galeria">
              <div>
                <img src="assets/img/icon_gallery.png">
              </div>
              <div>Galería</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- modal galeria -->
<div class="modal galeria fade" id="modal-galeria" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carousel-slider-thumbnail" class="carousel slide " data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/danza-del-venado-elfuerte.jpg">
              <!--<div class="excerpt">Descripción de la foto</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/elfuerte-1.jpg">
              <!--<div class="excerpt">Otra descripción de la foto</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/elfuerte-2.jpg">
              <!--<div class="excerpt">Otra descripción de la foto</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/elfuerte-3.jpg">
              <!--<div class="excerpt">Otra descripción de la foto</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/elfuerte-4.jpg">
              <!--<div class="excerpt">Otra descripción de la foto</div>-->
            </div>
            <div class="item">
              <img class="img-responsive" src="assets/img/atraciones/elfuerte/elfuerte-5.jpg">
              <!--<div class="excerpt">Otra descripción de la foto</div>-->
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->