<!-- Modalbox -->
<div class="modalbox">
    <div class="modalbox-content">
        <div class="modalbox-inside">
        <a href="#" class="icon-close__modal js-close__modal">
            <i class="fa fa-times icon-close__item"></i>
        </a>
        <div class="modalbox-text">
            <p>A partir del 11 de enero habrá cambios de frecuencia y horario en los servicios</p>
        </div>
        </div>
    </div>
</div>

<div class="main-content">
  <div class="container margintop150">
    <div class="row">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-24 gap-left ">
            <a href="#" class="js-open__modal"><h1>{{'Timesfares-P00' | translate}}</h1></a>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

        </div>
        <div class="row no-gutter-left margintop30">

          <div class="col-sm-12 gap-left">
            <h3>{{'Timesfares-P01' | translate}}</h3>

            <p>{{'Timesfares-P02' | translate}}</p>

            <div class="table-responsive margintop30">
              <table class="table chepe marginbot10">

                <tbody>
                  <tr>
                    <th class="bg-three border2" scope="row" rowspan="2">{{'Timesfares-P03' | translate}}
                      <br>
                      <small>{{'Timesfares-P04' | translate}}
                        <br>{{'Timesfares-P05' | translate}}</small>
                    </th>
                    <td class="c-one">{{'Timesfares-P06' | translate}}
                      <br>
                      <br />{{'Timesfares-P07' | translate}}</td>
                    <td class="bg-one-light">{{'Timesfares-P08' | translate}}
                      <br>
                      <br />{{'Timesfares-P09' | translate}}</td>
                  </tr>
                  <tr>
                    <td class="c-one">{{'Timesfares-P10' | translate}}
                      <br>
                      <br />{{'Timesfares-P11' | translate}}</td>
                    <td class="bg-one-light">{{'Timesfares-P12' | translate}}
                      <br>
                      <br />{{'Timesfares-P13' | translate}}</td>
                  </tr>
                  <!-- <tr>
                                      <th class="bg-three border2" scope="row" style="border-bottom: 2px solid #1f285b;">TARIFAS</th>
                                      <td class="c-one">MXP$9,000 <br><br>MXP$14,100</td>
                                      <td class="bg-one-light">Viaje redondo (Turista) <br><br>Viaje redondo (**Ejecutiva)</td>
                                  </tr>-->
                </tbody>
              </table>
            </div>

            <small>{{'Timesfares-P14' | translate}}
              <br/>
            </small>
            <small>{{'Timesfares-P15' | translate}}</small>

            <div class="row">
              <div class="col-xs-24">
                <p class="text-20">{{'Timesfares-P16' | translate}}
                    <strong>
                        <a href="{{'Timesfares-Fares-Exp-Pdf' | translate}}" target="_blank" class="link__orange">{{'Timesfares-P16__link' | translate}}</a>
                    </strong>
                    {{'Timesfares-P16.1' | translate}}
                  <strong>
                    <a href="{{'Timesfares-Fares-Exp-Pdf' | translate}}" target="_blank" class="link__orange">{{'Timesfares-P17' | translate}}</a>
                  </strong>
                </p>
              </div>
            </div>

            <p>{{'Timesfares-P-Viaje-Redondo' | translate}}</p>

            <div class="row">
              <div class=" col-sm-14 col-sm-offset-5 margintop30">
                <a href="#" data-toggle="modal" data-target="#mapa-chepe-express">
                  <img class="img-responsive" src="{{'Timesfares-P34' | translate}}">
                </a>
              </div>
            </div>
            <!-- <div class="center margintop30">
                          <a class="btn btn-link c-one" href="reservaciones-express1.html" role="button">
                              <div><img src="assets/img/icon_calendar.png"></div>
                              <div>Reservaciones</div>
                          </a>
                      </div> -->

          </div>

          <div class="col-sm-12 gap-right">
            <h3 class="c-five">{{'Timesfares-P18' | translate}}</h3>

            <p>{{'Timesfares-P19' | translate}}</p>

            <div class="table-responsive margintop30">
              <table class="table chepe four marginbot10">

                <tbody>
                  <tr>
                    <th class="bg-three border2" scope="row" rowspan="2">{{'Timesfares-P20' | translate}}</th>
                    <td class="c-five">{{'Timesfares-P21' | translate}}
                      <br>
                      <br>{{'Timesfares-P22' | translate}}</td>
                    <td class="bg-five-light">{{'Timesfares-P23' | translate}}
                      <br>{{'Timesfares-P24' | translate}}
                      <br>{{'Timesfares-P25' | translate}}</td>
                  </tr>
                  <tr>
                    <td class="c-five">{{'Timesfares-P26' | translate}}
                      <br>
                      <br>{{'Timesfares-P27' | translate}}</td>
                    <td class="bg-five-light">{{'Timesfares-P28' | translate}}
                      <br>{{'Timesfares-P29' | translate}}
                      <br>{{'Timesfares-P30' | translate}}</td>
                  </tr>
                  <!--<tr>
                                      <th class="bg-three border2" scope="row" style="border-bottom: 2px solid #1A3235;">TARIFAS</th> 
                                      <td class="c-five">MXP$6,460</td> <td class="bg-five-light">Viaje sencillo <br>(Turista Regional)</td>
                                  </tr>-->
                </tbody>
              </table>
            </div>

            <small>{{'Timesfares-P31' | translate}}</small>
            <small class="hidden-xs hidden-sm hidden-md">
              <br />&nbsp;</small>

            <div class="row">
              <div class="col-xs-24">
                <p class="text-20">{{'Timesfares-P32' | translate}}
                    <strong>
                        <a href="{{'Timesfares-Fares-Reg-Pdf' | translate}}" target="_blank" class="link__orange"> {{'Timesfares-P32__link' | translate}}</a>
                    </strong>
                    {{'Timesfares-P32.1' | translate}}
                  <strong>
                    <a href="{{'Timesfares-Fares-Reg-Pdf' | translate}}" target="_blank" class="link__orange">{{'Timesfares-P33' | translate}}</a>
                  </strong>
                </p>
              </div>
            </div>

            <div class="row">
              <div class=" col-sm-14 col-sm-offset-5 margintop30">
                <a href="#" data-toggle="modal" data-target="#mapa-chepe-regional">
                  <img class="img-responsive" src="{{'Timesfares-P36' | translate}}">
                </a>
              </div>
            </div>
            <!--  <div class="center margintop30">
                          <a class="btn btn-link c-one" href="reservaciones-regional1.html" role="button">
                              <div><img src="assets/img/icon_calendar.png"></div>
                              <div>Reservaciones</div>
                          </a>
                      </div> -->

          </div>

        </div>

        <!--<div class="row no-gutter-left margintop30 gap-right">
                  <div class="col-sm-24 gap-left gap-right">
                      <div class="row">
                          <div class="col-sm-24">
                              <h4 class="c-four fontweight300 underline"><a href="guia-viaje-preguntas-frecuentes.html" class="c-four">Principales diferencias entre Chepe Express y Chepe Regional </a></h4>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-24">
                              <h3 class="fontweight500">Tarifas por tramo *</h3>
                              <small>Si deseas, puedes cotizar tu viaje completo o por tramo desde aquí: </small>
                          </div>
                      </div>
                      <div class="row margintop20 marginbot20 paddingtop10 paddingbot10 bg-three">
                          <div class="col-sm-8">
                              <label>Total de pasajeros</label>
                              <div class="box-passenger">
                                              <div class="row">
                                                  <div class="col-xs-24 passenger-total" >
                                                          <a class="btn btn-block bg-white c-base text-left" role="button" data-toggle="collapse" href="#popover-content-passengers" aria-expanded="false" aria-controls="collapseExample" id="btn-passenger-total"><i class="fa fa-user" aria-hidden="true" ></i> <span id="total-passengers">1</span></a>
                                                      </div>
                                                   
                                              </div>
                                              <div  class="popover passengers collapse" id="popover-content-passengers">
                                              
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>Adultos</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="adultos">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="adultos" class="form-control input-number" value="1" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="adultos">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>Menor <br>(de 5 a 11 años)</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="menor" disabled="disabled">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="menor" class="form-control input-number" value="0" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="menor">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>INSEN</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="insen" disabled="disabled">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="insen" class="form-control input-number" value="0" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="insen">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>Estudiante</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="estudiente" disabled="disabled">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="estudiente" class="form-control input-number" value="0" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="estudiente">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>Profesor</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="profesor" disabled="disabled">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="profesor" class="form-control input-number" value="0" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="profesor">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-xs-12 passenger-label">
                                                      <label>Personas con discapacidad</label>
                                                  </div>
                                                  <div class="col-xs-12">
                                                          <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="minus" data-field="discapacidad" disabled="disabled">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="discapacidad" class="form-control input-number" value="0" min="0" max="10" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-xs btn-number" data-type="plus" data-field="discapacidad">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                          </div>
                                                  </div>
                                              </div>
                                              </div>
                                          </div>
                              
                              <div class="form-group">
                                  <label for="origen">Origen</label>
                                  <select class="form-control" id="origen">
                                      <option>De los Mochis</option>
                                      <option>De los Mochis</option>
                                      <option>De los Mochis</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="origen">Destino</label>
                                  <select class="form-control" id="origen">
                                      <option>A creel</option>
                                      <option>A creel</option>
                                      <option>A creel</option>
                                  </select>
                              </div>
                              
                          </div>
                          
                          <div class="col-sm-8">
                              <div class="form-group">
                                  <label for="escala1">Escala 1</label>
                                  <select class="form-control" id="escala1">
                                      <option></option>
                                      <option></option>
                                      <option></option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="escala2">Escala 2</label>
                                  <select class="form-control" id="escala2">
                                      <option></option>
                                      <option></option>
                                      <option></option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="escala3">Escala 3</label>
                                  <select class="form-control" id="escala3">
                                      <option></option>
                                      <option></option>
                                      <option></option>
                                  </select>
                              </div>
                              <a href="#"><b>Agregar más escalas <i class="fa fa-caret-right" aria-hidden="true"></i></b></a>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                              <small>* Las Tarifas son aproximadas y pueden variar de acuerdo a la temporada. </small>
                          </div>
                          
                          <div class="col-sm-12 text-right">
                              <a class="btn btn-link c-one" href="#" role="button">
                                  <div><img src="assets/img/icon_calculator.png"></div>
                                  <div>COTIZAR</div>
                              </a>
                          </div>
                          
                      </div>
                  </div>
              </div>-->

      </div>

    </div>
  </div>
</div>


<!-- modal map Chepe Express -->
<div class="modal mapa fade" id="mapa-chepe-express" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{'Timesfares-P35' | translate}}" class="img-responsive">
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- modal map Chepe Regional -->
<div class="modal mapa fade" id="mapa-chepe-regional" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{'Timesfares-P37' | translate}}" class="img-responsive">
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->