<div class="container-fluid">
  <div class="row">
      <div id="carousel-slider-header" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="img-slider" style="background-image: url('assets/img/historia.jpg');"></div>
              </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-slider-header" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-slider-header" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>-->
      </div>
  </div>
</div>
<div class="main-content">
<div class="container">
  <div class="row" >
      <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
          <div class="row">
              <div class=" col-sm-24 gap-left ">
                  <h1>{{'History-P00' | translate}}</h1>
              </div>

              <div class="col-sm-24 no-gutter-left-mobile">
                  <span class="title-underline c-border-one"></span>
              </div>
              
              <div class="col-sm-24 gap-left margintop30">
                  <ul class="spacing">
                      <li>{{'History-P01' | translate}} <b>{{'History-P02' | translate}} </b>{{'History-P03' | translate}}</li>

                      <li>{{'History-P04' | translate}}</li>

                      <li>{{'History-P05' | translate}} <b>{{'History-P06' | translate}} </b>{{'History-P07' | translate}}</li>

                      <li>{{'History-P08' | translate}} <b>{{'History-P09' | translate}} </b>{{'History-P10' | translate}}</li>

                      <li>{{'History-P11' | translate}} <b>{{'History-P12' | translate}} </b>{{'History-P13' | translate}}</li>
                  </ul>
              </div>
              
          </div>
      </div>

  </div>
</div>
</div>
