<div class="container-fluid">
  <div class="row">
      <div id="carousel-slider-header" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="img-slider" style="background-image: url('assets/img/historia.jpg');"></div>
              </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-slider-header" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-slider-header" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>-->
      </div>
  </div>
</div>
<div class="main-content">
<div class="container">
  <div class="row" >
      <div class="col-sm-20 col-md-15 no-gutter-left text-justify">
          <div class="row">
              <div class=" col-sm-24 gap-left ">
                  <h1>Nuestra Historia</h1>
              </div>

              <div class="col-sm-24 no-gutter-left-mobile">
                  <span class="title-underline c-border-one"></span>
              </div>
              
              <div class="col-sm-24 gap-left margintop30">
                  <ul class="spacing">
                      <li>En <b>1861</b> comienza la construcción de la línea que uniría Ojinaga con el Puerto de Topolobampo.</li>

                      <li>La conexión total tarda más de 100 años en construirse dado los obstáculos de la imponente Sierra Tarahumara.</li>

                      <li>El <b>24 de Noviembre de 1961</b> el Presidente Adolfo López Mateos inaugura el Ferrocarril Chihuahua Pacífico.</li>

                      <li>Fue el <b>11 de junio de 1987</b> cuando FERROMEX forma parte del sistema ferroviario nacional (Ferrocarriles Nacionales de México).</li>

                      <li>En <b>1997</b> se otorga la concesión a Ferrocarril Mexicano, S.A. De C.V., e inicia operaciones el 19 de febrero de 1998.</li>
                  </ul>
              </div>
              
          </div>
      </div>

  </div>
</div>
</div>
