<div class="container-fluid">
    <div class="row">
        <div id="carousel-slider-header" class="carousel slide border-img-bot c-border-one" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <!--<div class="img-slider" style="background-image: url('assets/img/trenes/sunset-express.jpg');"></div>-->
                    <div class="img-slider" style="background-image: url('assets/img/trenes/header-tren-express.jpg');"></div>
                </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-slider-header" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-slider-header" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>-->
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-24 gap-left margintop20">
                        <h1>Chepe Express</h1>
                    </div>

                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-15 no-gutter-left text-justify">
                <div class="row">

                    <div class="col-sm-24 gap-left margintop10">
                        <p>Vive una experiencia única en México por lugares increíbles a bordo de nuestros trenes.</p>

                        <p>El tren está integrado por 6 carros de pasajeros, un carro bar, un restaurante y una terraza, con
                            una capacidad total para transportar a 340 personas.</p>

                        <p>Podrás disfrutar de las mayores comodidades, durante el recorrido de más de 350 kilómetros. En el
                            trayecto podrás visitar la terraza y el bar, además de conocer los sabores de la región que ofrece
                            el restaurante Urike. También tendrás la posibilidad de bajar en El Fuerte, Divisadero y Creel.</p>


                        <h3 class="margintop50">Conoce nuestros vagones:</h3>

                        <div class="express-vagones">
                            <p>
                                <a routerLink="/trenes/chepe-express#vagon-premium">EJECUTIVA</a>
                                <span class="c-one">&nbsp;|&nbsp;</span>
                                <a routerLink="/trenes/chepe-express#vagon-clasico">TURISTA</a>
                                <span class="c-one">&nbsp;|&nbsp;</span>
                                <a routerLink="/trenes/chepe-express#vagon-bar">BAR</a>
                                <span class="c-one">&nbsp;|&nbsp;</span>
                                <a routerLink="/trenes/chepe-express#vagon-urike"> RESTAURANTE URIKE</a>
                                <span class="c-one">&nbsp;|&nbsp;</span>
                                <a routerLink="/trenes/chepe-express#vagon-terraza">TERRAZA</a>
                            </p>
                            <img src="assets/img/trenes/express_tren_illu.png" class="img-responsive">
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-9 no-gutter-right">
                <div class="row">
                    <div class=" col-sm-21 col-sm-offset-3">
                        <h3>Ruta Chepe Express</h3>
                    </div>

                    <div class="col-sm-21 col-sm-offset-3 no-gutter-right-mobile">
                        <span class="title-underline-full c-border-one"></span>
                    </div>

                    <div class=" col-sm-17 col-sm-offset-3">
                        <a href="#" data-toggle="modal" data-target="#mapa-chepe-express">
                            <img src="assets/img/reservacion/map_express_2.jpg" class="img-responsive">
                        </a>

                    </div>
                </div>
            </div>
        </div>


        <!-- row -->
        <div class="row text-justify margintop100">
            <div class="col-sm-24 col-md-12 no-gutter-left marginbot30" id="vagon-premium">
                <div id="" class="row">
                    <div class=" col-sm-24">
                        <div class="box-img-border c-border-one">
                            <img class="img-responsive" src="assets/img/trenes/express-premium.jpg">
                        </div>
                    </div>
                    <div class=" col-sm-24 gap-left">
                        <h1 class="">Ejecutiva</h1>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <p>Déjate consentir con el confort de nuestro servicio de clase ejecutiva, con los asientos más cómodos
                            y ventanas panorámicas para que no pierdas ni un detalle del majestuoso paisaje de la Sierra
                            Tarahumara.</p>
                        <ul class="margintop20 colored dots-c-one">
                            <li>
                                <em>Ventanas panorámicas</em>
                            </li>
                            <li>
                                <em>48 asientos ergonómicos reclinables con mesa central</em>
                            </li>
                            <li>
                                <em>Servicio de snacks y bebidas</em>
                            </li>
                            <li>
                                <em>Barra con vista panorámica</em>
                            </li>
                            <li>
                                <em>Atención y servicio a bordo</em>
                            </li>
                            <li>
                                <em>4 Pantallas HD</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                            <li>
                                <em>2 Baños de lujo</em>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-24 col-md-12 no-gutter-right marginbot30" id="vagon-clasico">
                <div id="" class="row">
                    <div class=" col-sm-24">
                        <div class="box-img-border c-border-one">
                            <img class="img-responsive" src="assets/img/trenes/express_classico.jpg">
                        </div>
                    </div>
                    <div class=" col-sm-24 gap-right">
                        <h1 class="">Turista</h1>
                    </div>

                    <div class="col-sm-24 gap-right">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-right">
                        <p>Excelente opción para disfrutar de un viaje familiar cómodo, relajado y con vistas inolvidables.</p>
                        <ul class="margintop20 colored dots-c-one">
                            <li>
                                <em>Ventanas panorámicas</em>
                            </li>
                            <li>
                                <em>60 asientos reclinables</em>
                            </li>
                            <li>
                                <em>4 Pantallas HD</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                            <li>
                                <em>2 Baños de lujo</em>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- row -->
        <div class="row text-justify">
            <div class="col-sm-24 col-md-12 no-gutter-left marginbot30" id="vagon-bar">
                <div id="" class="row">
                    <div class=" col-sm-24">
                        <div class="box-img-border c-border-one">
                            <img class="img-responsive" src="assets/img/trenes/express-bar.jpg">
                        </div>
                    </div>
                    <div class=" col-sm-24 gap-left">
                        <h1 class="">Bar</h1>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <p>Convive con tus amigos y/o familia mientras disfrutas de un coctel en un ambiente moderno y con todas
                            las comodidades.</p>
                        <ul class="margintop20 colored dots-c-one">
                            <li>
                                <em>Ventanas panorámicas</em>
                            </li>
                            <li>
                                <em>Barra de snacks y bebidas</em>
                            </li>
                            <li>
                                <em>4 Periqueras para 16 pasajeros</em>
                            </li>
                            <li>
                                <em>2 Salas lounge para 14 pasajeros</em>
                            </li>
                            <li>
                                <em>Capacidad total para 40 personas</em>
                            </li>
                            <li>
                                <em>5 Pantallas HD</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                            <li>
                                <em>1 Baño de lujo</em>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-24 col-md-12 no-gutter-right marginbot30" id="vagon-terraza">
                <div id="" class="row">
                    <div class=" col-sm-24">
                        <div class="box-img-border c-border-one">
                            <img class="img-responsive" src="assets/img/trenes/express-terraza.jpg">
                        </div>
                    </div>
                    <div class=" col-sm-24 gap-right">
                        <h1 class="">Terraza</h1>
                    </div>

                    <div class="col-sm-24 gap-right">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-right">
                        <p>Disfruta de impresionantes vistas y prepara tu cámara para tomar las mejores fotos mientras respiras
                            el aire de la Sierra Tarahumara. </p>
                        <ul class="margintop20 colored dots-c-one">
                            <li>
                                <em>Terraza con ventanas abatibles</em>
                            </li>
                            <li>
                                <em>2 Barras de snacks y bebidas</em>
                            </li>
                            <li>
                                <em>Área lounge</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                            <li>
                                <em>1 Pantalla HD</em>
                            </li>
                            <li>
                                <em>1 Baño de lujo</em>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row bg-five" id="vagon-urike">
            <div class="col-sm-24 banner-urike">
                <img class="img-responsive" src="assets/img/logo-urike.png">
                <div class="icon-urike">
                    <img width="74px" src="assets/img/icon_urike.png">
                </div>
            </div>
        </div>
        <div class="row margintop30">
            <div class="col-sm-24 col-md-12 no-gutter-left marginbot30">
                <div id="" class="row">
                    <div class=" col-sm-24 gap-left">
                        <h1 class="c-five">Restaurante Urike</h1>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <span class="title-underline c-border-five"></span>
                    </div>

                    <div class="col-sm-24 gap-left">
                        <p>Conoce los sabores de la sierra a través de los platillos de temporada, en un carro de dos niveles
                            en el que no te perderás ningún detalle del paisaje gracias a su domo panorámico.</p>
                        <h5 class="margintop20">
                            <em class="c-five">1er. Nivel</em>
                        </h5>
                        <ul class="colored dots-c-one">
                            <li>
                                <em>Ventanas panorámicas</em>
                            </li>
                            <li>
                                <em>6 Mesas cada una con capacidad para 4 comensales</em>
                            </li>
                            <li>
                                <em>4 Pantallas HD</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                        </ul>

                        <h5 class="margintop20">
                            <em class="c-five">2do. Nivel</em>
                        </h5>
                        <ul class="colored dots-c-one">
                            <li>
                                <em>Ventanas tipo domo</em>
                            </li>
                            <li>
                                <em>6 Mesas cada una con capacidad para 4 comensales</em>
                            </li>
                            <li>
                                <em>Sistema de audio premium</em>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-24 col-md-12 no-gutter-right margintop50">
                <div id="" class="row">
                    <div class="col-sm-17  col-sm-offset-7">
                        <div class="row ">
                            <div class=" col-sm-24">
                                <h3 class=" c-five">Galería</h3>
                            </div>

                            <div class="col-sm-24 no-gutter-right-mobile">
                                <span class="title-underline-full c-border-five"></span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-7 equalheight">
                  <div class="row bottom">
                       <div class="col-sm-24 text-right margintop30">
                          <a class="btn btn-link c-five" href="trenes-tour-virtual.html" role="button">
                              <div><img src="assets/img/icon_360.png"></div>
                              <div>TOUR VIRTUAL</div>
                          </a>
                      </div>
                  </div>
              </div>-->
                    <div class="col-sm-17 col-sm-offset-7 equalheight">
                        <div class="row">

                            <div class=" col-sm-17">
                                <a href="#" data-toggle="modal" data-target="#modal-galeria">
                                    <img src="assets/img/trenes/urike-thumbnail.jpg" class="img-responsive">
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-17 col-sm-offset-7">
                  <div class="row">
                      <div class="col-sm-17 center margintop30">
                              <a class="btn btn-link c-five" href="#" data-toggle="modal" data-target="#urike-menu-1">
                              <div><img class="big" src="assets/img/icon_menu1.png"></div>
                              <div>MENÚ 1</div>
                              </a>
                              <a class="btn btn-link c-five" href="#" data-toggle="modal" data-target="#urike-menu-1">
                              <div><img class="big" src="assets/img/icon_menu2.png"></div>
                              <div>MENÚ 2</div>
                              </a>
                      </div>
                       <div class="col-sm-17 center margintop20">
                              <a class="btn btn-link c-five" href="trenes-reservaciones-urike.html" role="button">
                              <div><img class="small" src="assets/img/icon_urike.png"></div>
                                  <div>RESERVACIONES <br> <span class="lowercase">Urike</span></div>
                              </a>
                      </div>
                      <div class="col-sm-17 center margintop20">
                              <a class="btn btn-link c-one" href="reservaciones-express1.html" role="button">
                              <div><img class="small"  src="assets/img/icon_calendar.png"></div>
                                  <div>RESERVACIONES <br> CHEPE EXPRESS</div>
                              </a>
                      </div> 
                  </div>
              </div>-->
                </div>
            </div>
        </div>

    </div>
</div>

<!-- modal map Chepe Express -->
<div class="modal mapa fade" id="mapa-chepe-express" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="assets/img/reservacion/map_express_full_2.jpg" class="img-responsive">
            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- modal galeria -->
<div class="modal galeria fade" id="modal-galeria" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carousel-slider-thumbnail" class="carousel slide " data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike0.jpg">
                            <!--<div class="excerpt bg-five">Descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike1.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike2.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike3.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike4.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike5.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="assets/img/trenes/urike/urike6.jpg">
                            <!--<div class="excerpt bg-five">Otra descripción de la foto</div>-->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-slider-thumbnail" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- modal urike menu 1 -->
<div class="modal fade" id="urike-menu-1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Menú 1</h4>
            </div>
            <div class="modal-body">
                Menu...
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- modal urike menu 2 -->
<div class="modal fade" id="urike-menu-2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Menú 2</h4>
            </div>
            <div class="modal-body">
                Menu...
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->