<div class="main-content">
  <div class="container">
    <div class="row margintop50">

      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-20 gap-left">
            <h1>{{'Contacto-P00' | translate}}</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-15 no-gutter-left">
        <form action="enviar-correo.asp" method="POST">
          <div class="row">
            <div class="col-sm-24 gap-left bg-three">
              <div class="row margintop30 marginbot20">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="nombre-apellido">{{'Contacto-P01' | translate}}</label>
                    <input type="text" class="form-control" id="nombre-apellido" name="nombre-apellido">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="correo-electronico">{{'Contacto-P02' | translate}}</label>
                    <input type="text" class="form-control" id="correo-electronico" name="correo-electronico">
                  </div>
                </div>
                <div class="col-sm-24">
                  <div class="form-group">
                    <label for="mensaje">{{'Contacto-P03' | translate}}</label>
                    <textarea id="mensaje" class="form-control" rows="7" name="mensaje"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="row margintop20">

            <div class=" col-xs-24 col-sm-24 text-right">
              <button class="btn btn-link c-one" type="submit">
                <div>
                  <img src="assets/img/icon_envelope.png">
                </div>
                <div>{{'Contacto-P04' | translate}}</div>
              </button>
            </div>

          </div>

        </form>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-24">
            <div class="contact-info topspace">
              <img width="50px" src="assets/img/icon_phone.png">
              <br> {{'Contacto-P05' | translate}}
              <br> {{'Contacto-P06' | translate}}
              <br>
              <span>{{'Contacto-P07' | translate}}</span>
              <br> {{'Contacto-P08' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>