<div class="main-content">
    <div class="container">
        <div class="row margintop40 c-two center">
            <div class="col-sm-14 col-sm-offset-5 col-md-10 col-md-offset-7">
                <h3 class="orange-t">Tu reservación se realizó con éxito</h3>
                <hr class="orange-hr" />
                <p class="blue-express fontweight600">En breve recibirás tus boletos electrónicos
                    <br/>y clave de reservación por correo electrónico.
                </p>
                <p class="blue-express fontweight600">Te recomendamos imprimas tus boletos y los lleves
                    <br/>contigo el día que vayas a abordar el tren.</p>
                <br/>
                <h5 class="c-one">
                    <b>Gracias por tu preferencia</b>
                </h5>
            </div>
        </div>
        <div class="row margintop50">
            <div class="col-xs-12 col-sm-4 center icon__cross">
                <a class="btn btn-link" routerLink="/reservaciones" role="button">
                    <div>
                        <img src="assets/img/icon_cross.png">
                    </div>
                    <div>Cerrar</div>
                </a>
            </div>
            <!--<div class="col-xs-12 col-sm-4 center">
        <a class="btn btn-link" href="#" role="button">
            <div><img src="assets/img/icon_file.png"></div>
            <div>Facturar</div>
        </a>
    </div>-->
            <!--<div class="col-xs-12 col-sm-4 center">
        <a class="btn btn-link c-one" routerLink="/reservaciones" role="button">
            <div><img src="assets/img/icon_calendar.png"></div>
            <div>Reservar</div>
        </a>
    </div>-->
        </div>
    </div>
</div>