<div class="main-content">
  <div class="container">
      <div class="row margintop60" >
          <div class="col-sm-24 col-md-24 no-gutter-left">
              <div class="row">
                  <div class=" col-sm-24 gap-left ">
                      <h1>Directorio de hoteles</h1>
                  </div>

                  <div class="col-sm-24 no-gutter-left-mobile">
                      <span class="title-underline c-border-one"></span>
                  </div>
                  
              </div>
              <div class="row">
                  <div class=" col-sm-22 gap-left">
                      <div class="row directorio-hoteles">
                          <div class=" col-sm-8">
                              
                              <h3 class="title-country">Chihuahua</h3>
                              <p><strong>Sheraton</strong><br />01 (614) 429 2929<br /><a href="http://www.starwoodhotels.com" target="_blank" rel="noopener">www.starwoodhotels.com</a></p>
                              <p><strong>Wingate</strong>    <br />01 (614) 180 3030<br /><a href="http://www.wyndhamhotels.com" target="_blank" rel="noopener">www.wyndhamhotels.com</a></p>
                              <p><strong>Copper Canyon Boutique Hotel</strong>   <br />01 (614) 158 0808<br /><a href="http://www.coppercanyonhotel.com" target="_blank" rel="noopener">www.coppercanyonhotel.com</a></p>
                              <p><strong>Holiday Inn Express Juventud</strong>   <br />01 (614) 545 1600<br /><a href="http://www.ihg.com" target="_blank" rel="noopener">www.ihg.com</a></p>
                              <p><strong>Staybridge Suites</strong>   <br />01 (614) 545 0330<br /><a href="http://www.ihg.com" target="_blank" rel="noopener">www.ihg.com</a></p>
                              <p><strong>Hampton Inn By Hilton</strong>   <br />01 (614) 439 8000<br /><a href="http://www.hamptoninn3.hilton.com" target="_blank" rel="noopener">www.hamptoninn3.hilton.com</a>&nbsp;</p>
                              <p><strong>Casa Grande</strong>    <br />01 (614) 439 4444<br /><a href="http://www.hcg.com.mx" target="_blank" rel="noopener">www.hcg.com.mx</a></p>
                              <p><strong>Courtyard By Marriott</strong>   <br />01 (614) 311 0220<br /><a href="http://www.marriott.com" target="_blank" rel="noopener">www.marriott.com</a></p>
                              <p><strong>Quality Inn San Francisco</strong>   <br />01 (614) 439 9000<br /><a href="http://www.qualityinnchihuahua.com" target="_blank" rel="noopener">www.qualityinnchihuahua.com</a></p>
                              <p><strong>Encore</strong>    <br />01 (800) 832 8494<br /><a href="http://www.ramdaencorechihuahua.com" target="_blank" rel="noopener">www.ramdaencorechihuahua.com</a></p>
                              
                              <h3 class="title-country">Divisadero</h3>
                              <p><strong>Posada Mirador<br> (incluye 3 alimentos por persona)</strong>  <br />01 (635) 578 3020<br /> <a href="http://www.hotelesbalderrama.com" target="_blank" rel="noopener">www.hotelesbalderrama.com</a></p>
                              <p><strong> Divisadero Barrancas<br> (incluye 3 alimentos por persona)</strong>   <br />01 (614) 415 1199<br /><a href="http://www.hoteldivisadero.com.mx" target="_blank" rel="noopener">www.hoteldivisadero.com.mx</a></p>
                              
                              
                              
                              
                              
                              
                                  
                          </div>
                          <div class=" col-sm-8">
                              
                              <h3 class="title-country">Creel</h3>
                              <p><strong>Best Western Creel (rustico)</strong> <br />01 (800) 716 3562<br /><a href="http://www.thelodgeatcreel.com" target="_blank" rel="noopener">www.thelodgeatcreel.com</a></p>
                              <p><strong>Quinta Misi&oacute;n (rustico)</strong><br />01 (800) 711 4268<br /><a href="http://www.quintamansion.com" target="_blank" rel="noopener">www.quintamansion.com</a></p>
                              <p><strong>Villa Mexicana</strong>   <br />01 (800) 710 6422<br /><a href="http://www.vmcoppercanyon.com" target="_blank" rel="noopener">www.vmcoppercanyon.com</a></p>
                              
                              
                              <h3 class="title-country">El Fuerte</h3>
                              <p><strong>Posada del Hidalgo</strong>    <br />01 (668) 818 7046<br /><a href="http://www.hotelposadadelhidalgo.com" target="_blank" rel="noopener">www.hotelposadadelhidalgo.com</a></p>
                              <p><strong>Mansi&oacute;n Serrano</strong>    <br />01 (698) 893 0505<br /><a href="http://www.mansionserrano.com" target="_blank" rel="noopener">www.mansionserrano.com</a></p>
                              <p><strong>Torres (hotel Boutique)</strong>    <br />01 (698) 8931974<br /><a href="http://www.hotelriovista.business.com" target="_blank" rel="noopener">www.hotelriovista.business.com</a></p>
                              <p><strong>Hotel Rio Vista</strong>    <br />01 (698) 893 0414<br />Facebook</p>
                              <p><strong>El Fuerte</strong>    <br />01 (698) 893 1246<br /><a href="http://www.hotelelfuerte.com.mx" target="_blank" rel="noopener">www.hotelelfuerte.com.mx</a></p>
                              <p><strong>Rinc&oacute;n M&aacute;gico</strong>    <br />01 (667) 185 5582<br /><a href="http://www.hotelrinconmagicoelfuerte.com" target="_blank" rel="noopener">www.hotelrinconmagicoelfuerte.com</a></p>
                              
                              
                              
                              
                              
                              
                              
                              

                          </div>
                          <div class=" col-sm-8">
                              <h3 class="title-country">Los Mochis</h3>
                               <p><strong>Plaza Inn</strong>   <br />01 (800) 672 6677<br /><a href="http://www.plazainnhotel.com.mx" target="_blank" rel="noopener">www.plazainnhotel.com.mx</a></p>
                              <p><strong>Best Western Plus</strong>    <br />01 (800) 716 3562<br /><a href="http://www.thelodgeatcreel.com" target="_blank" rel="noopener">www.thelodgeatcreel.com</a></p>
                              <p><strong>Santa Anita</strong>   <br />01 (688) 816 7046<br /><a href="http://www.santaanitahotel.com" target="_blank" rel="noopener">www.santaanitahotel.com</a></p>
                               
                              <h3 class="title-country">Bahuichivo (Cerocahui)</h3>
                              <p><strong>Misi&oacute;n de Cerocahui<br> (incluye 3 alimentos/pax)</strong>  <br />01 (635) 456 5294<br /><a href="http://www.hotelmision.com" target="_blank" rel="noopener">www.hotelmision.com</a></p>
                              <p><strong>Paraiso del Oso<br> (incluye 3 alimentos por persona)</strong>  <br />01 (614) 421 3372<br /><a href="http://www.mexicohorse.com" target="_blank" rel="noopener">www.mexicohorse.com</a></p>
                              
                          </div>
                      </div>
                  </div> 
              </div>
          </div>

      </div>
  </div>
</div>