<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-20 col-md-15 text-justify">
                <div class="row margintop50">
                    <div class=" col-sm-24 gap-left ">
                        <h1>TÉRMINOS Y CONDICIONES</h1>
                    </div>
                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>

                    <div class="col-sm-24 gap-left margintop30 terminos-condiciones">

                        <h6 class="uppercase"> TREN CHEPE EXPRESS: CLASES EJECUTIVA Y TURISTA</h6>

                        <p>
                            <b>Acepta el pasajero los siguientes términos y condiciones del servicio, desde el momento en que adquiere
                el boleto:</b>
                        </p>

                        <p><b>1.- RESERVACIÓN Y VENTA DE BOLETOS</b></p>
                        <span class="c-one fontweight600"></span> El horario de venta de boletos en las taquillas de Chihuahua, Chih. y Los Mochis, Sin. es de: lunes a viernes de 05:00 a 05:50 hrs. y de 9:00 a 17:00hrs. Sábado de 05:00 a 05:50. y de 9:00
                        a 11:00 hrs. Domingos de 05:00 a 05:50 hrs. y de 09:00 a 10:00 hrs.

                        <p>
                            <b> El cliente podrá reservar y pagar sus boletos hasta con un año de anticipación, haciendo su
                reservación:</b>
                        </p>
                        <ol>
                            <li>Vía telefónica a través del número sin costo 01800-122-4373</li>
                            <li>Por correo electrónico chepe.reservaciones@ferromex.mx o chepe.mochis@ferromex.mx</li>
                            <li>Directamente a través de la taquilla de Chihuahua, Chih. o Los Mochis, Sin. </li>
                        </ol>

                        <p>
                            <b>Para la reservación y compra de boletos el cliente deberá proporcionar la siguiente información:</b>
                        </p>

                        <ul>
                            <li>Especificar el servicio que desea reservar y/o comprar: Ejecutiva o Turista</li>
                            <li>Fecha del viaje</li>
                            <li>Nombre completo de las personas que desean viajar </li>
                            <li>Edades de cada una de las personas que viajarán</li>
                            <li>Indicar si requiere atención especial y especificarla</li>
                            <li>Datos de contacto: teléfono con clave lada y correo electrónico</li>
                            <li>Itinerario detallado por fechas y terminales</li>
                            <li>Forma de pago: depósito bancario o tarjeta de crédito</li>
                        </ul>

                        <p> Para reservación de grupos mayores a 25 pasajeros, deberá enviar un correo a chepe.grupos@ferromex.mx o llamar sin costo al 01-800-122-4373</p>

                        <p>
                            El cliente recibirá la confirmación de su reservación vía correo electrónico, así como la forma y fecha límite de pago.
                        </p>


                        <p> <b>El pago se podrá hacer a través de: </b></p>

                        <ul>
                            <li>Depósito o transferencia bancaria.</li>
                            <li>Pago con tarjeta de crédito a través de la liga de internet. Para esta opción es necesario solicitarlo al reservar.</li>
                            <li>Al momento de realizar el pago desde la liga de internet, se le harán llegar sus boletos en automático al correo que proporcionó.</li>
                            <li>En el caso de pago a través de trasferencia electrónica o depósito bancario, deberá enviar el comprobante de pago al correo electrónico chepe.mochis@ferromex.mx, junto con el número de confirmación de la reservación. Una vez
                                que se registre el pago correspondiente se le harán llegar sus boletos vía correo electrónico.</li>
                        </ul>

                        <p> Al momento de realizar el pago el cliente acepta que la información detallada en la confirmación de reserva es correcta, en caso de solicitar algún cambio, se aplicará un cargo adicional del 10% por trámites administrativos.</p>

                        <p>En caso de que el error sea por parte de Ferromex, se hará la modificación sin cargo adicional.
                        </p>


                        <p><b>2.- BOLETO:</b></p>


                        <p>El boleto es el título legal del contrato entre el transportista y el pasajero, por lo que debe conservarse para cualquier reclamación y/o aclaración.</p>

                        <p>El valor del boleto solo incluye el traslado a bordo del tren en asiento asignado en el itinerario detallado. El boleto es válido para viajes hasta con dos escalas sin cargo adicional, iniciando en la estación de origen indicada
                            en el boleto y en la fecha marcada en el mismo. Las paradas se deben indicar al momento de realizar la reservación.</p>

                        <p>Al momento de realizar una reservación o compra, el pasajero deberá cerciorarse que todos los datos del viaje sean correctos ya que cualquier cambio ocasionará un 10% de cargo sobre el valor total del boleto ya pagado.</p>

                        <p>El servicio Chepe Express Clase Ejecutiva incluye un alimento, ya sea desayuno o comida o snack, así como una bebida no alcohólica con el consumo del alimento correspondiente.</p>

                        <p>El boleto es personal e intransferible. No podrá ser revendido y/o alterado.</p>

                        <p>En el valor del boleto está incluido el Seguro de Viajero, mismo que entre otros, cuenta con la siguiente cobertura: gastos médicos, gastos funerarios, pérdida de equipaje y muerte accidental a bordo del tren y estaciones.</p>

                        <p><b> 3.- TARIFAS </b></p>

                        <p> La empresa podrá modificar las tarifas sin previo aviso, por lo que solicitamos revisarlas en la página chepe.mx previo a su reservación y/o compra </p>

                        <p><b> 4.- PASAJE PARA NIÑOS, ADULTOS MAYORES, ESTUDIANTES, MAESTROS Y PERSONAS CON DISCAPACIDAD </b></p>


                        <ul>

                            <li>Los menores de 0 a 2 años se transportarán gratuitamente.</li>
                            <li>Los niños y jóvenes menores de 18 años deberán viajar acompañados de un adulto responsable de ellos.
                            </li>
                            <li>En este servicio no se realizan descuentos para niños mayores de 3 años en adelante, estudiantes, maestros y adultos mayores.</li>
                            <li>En este servicio no aplica descuentos para personas con discapacidad.</li>

                        </ul>


                        <p><b> Seguro del Viajero / Cuota mínima:</b> </p>


                        <p>Al aplicarse las cuotas relativas al Seguro del Viajero, deben observarse las siguientes disposiciones, conforme a lo señalado en el Artículo 127 de la Ley de Vías Generales de Comunicación y sus reformas, artículo 50 de la Ley
                            Reglamentaria del Servicio Ferroviario, así como el artículo 176 del Reglamento del Servicio Ferroviario.
                        </p>

                        <ol type="a">
                            <li> En las Clases Ejecutiva y Turista las personas que hagan uso de pases para transportarse gratuitamente y las que estén exentas de pago de transporte, deberán cubrir una cuota mínima para cubrir la prima del seguro del viajero
                                y el impuesto al valor agregado correspondiente. </li>
                            <li> Los viajeros que por alguna concesión obtengan un descuento en su pasaje, deberán pagar el total de la prima correspondiente al pasaje regular. En el boleto respectivo se incluirá la diferencia, adicionada con el impuesto al
                                valor agregado. </li>
                        </ol>


                        <p><b> 5.- ABORDAJE: </b></p>

                        <p>Las salas de espera de las estaciones de y Creel, Chih. y Los Mochis, Sin. se abrirán una hora antes del abordaje.
                        </p>
                        <p>El pasajero deberá estar en la estación de abordaje una hora antes de la salida del tren correspondiente.
                        </p>
                        <p>Al momento de abordar deberá exhibir el boleto impreso o en su dispositivo electrónico al personal del Chepe Express, así como su identificación oficial con fotografía (credencia de elector, pasaporte, etc.)
                        </p>
                        <p> Ferromex/Chepe Express no asume ninguna obligación ni responsabilidad por cualquier cambio o retraso, razonablemente necesario o inevitable, previo o posterior al inicio de la prestación del servicio contratado, y el resultado
                            de acción, omisión o cualquier otro hecho, acto o circunstancia inesperada, o imprevisible que se halle fuera de su control.
                        </p>
                        <p>Razones climatológicas, inconvenientes derivados por acción de la naturaleza y/o cualquier otra causa fortuita o fuerza mayor imprevista fuera del control de Ferromex/Ferrocarril Chepe, pueden ocasionar retrasos y/o paradas no
                            programadas, lo cual no implicará bajo ningún concepto algún tipo de obligación o responsabilidad por parte de Ferromex/Chepe Express.
                        </p>
                        <p>Si el pasajero, sin existir una situación de peligro inminente por cualquier causa, decide descender del medio de transporte antes de su destino final indicado en el boleto, lo hará bajo su propio riesgo y responsabilidad.
                        </p>
                        <p>Por otro lado, si Ferromex/Chepe Express, para cumplir el servicio requiere proveer de una forma de transporte alternativo y/o complementario y el pasajero decide por cualquier causa o razón no utilizar dicho servicio y continuar
                            el viaje por sus propios medios, asumirá en forma personal y exclusiva todo el costo, riesgo y responsabilidad derivados de dicha decisión, sin obligación alguna para Ferromex/Chepe Express.
                        </p>
                        <p>En razón a cualquier incidente de caso fortuito o fuerza mayor, contingencia o situación antes mencionadas, Ferromex/Chepe Express no tendrá obligación de asumir ningún tipo de responsabilidad frente al pasajero o terceros por
                            retrasos o imposibilidad de tomar conexiones con otros medios de transporte, o no cumplir o gozar adecuadamente de las obligaciones o derechos respectivamente acordados con hoteles, restaurantes o compromisos en general pactados
                            con cualquier persona, entidad o empresa, sea cual fuere su giro u objeto social.
                        </p>

                        <p>Ferromex/Chepe Express, se reserva el derecho de proporcionar el servicio sin que esto implique el derecho del usuario de algún reclamo, demanda, pago o cualquier otra responsabilidad, si ocurre alguno de los siguientes eventos:</p>

                        <ol type="a">
                            <li> Si existen condiciones climatológicas que impidan la realización del viaje y/o demora de este.</li>
                            <li> Si el pasajero no acata las instrucciones del personal de Ferromex/Chepe Express.</li>
                            <li> Si se utiliza un boleto que no corresponda al pasajero y/o que sea objeto de la reventa o esté alterado. </li>
                            <li> Por no presentarse el usuario en los horarios indicados para abordar con anticipación. </li>
                        </ol>

                        <p>Ferromex/Chepe Express, se reserva el derecho de sustituir coches de servicio, por causas de fuerza mayor y por necesidades de servicio a demanda de éste.</p>

                        <p><b> 6.- ASIGNACIÓN DE ASIENTOS: </b></p>

                        <p>Al momento de realizar su reservación y/o compra se le asignarán los asientos de los tramos del viaje a recorrer. La designación de los asientos se lleva a cabo de acuerdo con el orden con el que se recibe la reservación, procurando
                            que personas que viajan en grupo queden juntas.
                        </p>
                        <p>En el caso de que no haya suficientes lugares juntos, deberán tomar los asientos disponibles.
                        </p>
                        <p>Cuando el usuario abordo solicite pasar de una clase inferior a una superior, se cobrará la diferencia en cuotas y se aplicarán el cargo del 10%. Estos cambios están sujetos a disponibilidad de asientos.
                        </p>
                        <p>Cuando a petición del usuario solicite pasar de una clase superior a otra inferior y existan asientos disponibles, no se cubrirá reembolso alguno. Cuando el cambio sea por causas imputables a Ferromex, se reintegrará al usuario
                            la diferencia en cuotas.
                        </p>
                        <p><b> 7.- EQUIPAJE: </b></p>

                        <p>El boleto ampara solamente tres piezas que no excedan los 50 kilogramos en total.
                        </p>
                        <p>Se considera como pieza: maleta, silla de ruedas, o carriolas, siempre y cuando no excedan de 65 cm. de largo, 40 de ancho y 40 de alto y que puedan colocarse de modo que no molesten a los demás usuarios.
                        </p>
                        <p>No se admitirán como equipaje los bultos cuyo peso exceda de 50 Kg., ya que se considerarán como remesas, por lo que los pasajeros deberán remitirlo por el tren de carga, el cual se presta semanalmente.
                        </p>
                        <p>El equipaje viajará en un vagón maletero, designado especialmente para esta función.
                        </p>
                        <p>El pasajero deberá entregar su equipaje 45 minutos antes de abordar el tren en el área designada. Su equipaje será etiquetado e identificado y se entregará al pasajero un comprobante por cada maleta. Al momento de llegar a su estación
                            de destino deberá ir por su equipaje presentando su comprobante, ya que sin este no podrá ser entregado dicho equipaje.
                        </p>
                        <p>El pasajero podrá abordar a los vagones solo con una pieza de equipaje de mano. Los pasajeros con discapacidad podrán abordar con sus dispositivos de asistencia y movilidad requerida para su traslado, tales como sillas de ruedas,
                            andaderas, bastón, muletas, etc. de igual forma, podrán llevar a bordo algún dispositivo de asistencia que requieran. El pasajero podrá llevar a la mano una cantidad razonable de medicinas y artículos de uso personal.
                        </p>
                        <p>Se recomienda que el pasajero no incluya en su equipaje artículos de valor (dinero, joyas, etc.), líquidos inflamables, productos peligrosos, objetos frágiles o delicados. Ferromex/Chepe Express no será responsable por pérdidas
                            o daños parciales o totales, o cualquier otro, ni efectuará ninguna indemnización.
                        </p>


                        <p><b> 8.- ALIMENTOS: </b></p>

                        <p>Está prohibido abordar con bebidas y/o alimentos al tren.</p>

                        <p>No se permite llevar a la vista botellas de vino o bebidas embriagantes. Sólo podrá llevarlas si se encuentran cerradas dentro de su equipaje.
                        </p>
                        <p><b> 9.- TREN LIBRE DE HUMO </b></p>

                        <p>No se permite fumar a bordo del tren, excepto vagón Terraza.
                        </p>
                        <p><b> 10.- TRANSPORTE DE ANIMALES </b></p>

                        <p>Está prohibido viajar a bordo del tren de pasajeros con cualquier tipo de animales, excepto perro de servicio para asistencia de persona que lo requiera. Se entiende por perro de servicio aquel entrenado para ayudar y asistir a
                            una persona con discapacidad o como soporte emocional.
                        </p>

                        <ol type="1">
                            <li>Los perros pueden viajar de forma gratuita siempre que acompañen a sus dueños y estén correctamente identificados.
                            </li>
                            <li>Solo se admite un perro por pasajero.</li>
                            <li>Solo se admite un perro por coche.</li>
                            <li>No se aceptan mascotas menores a 4 meses o en la lactancia, enfermas, muertas, violentas o hembras preñadas.
                            </li>
                            <li>No existe limitación de peso</li>
                            <li>El perro deberá estar siempre bajo el control del dueño en todo el tiempo que dure el viaje y deberá viajar a sus pies.</li>
                            <li>No es obligatorio que el perro viaje en jaula, siempre y cuando se encuentre con correa y bozal durante todo el viaje, la cual no podrá ser extensible ni superior al metro y medio, para facilitar tener el control por su dueño
                                todo el tiempo.</li>
                            <li>El perro deberá ser alimentado e hidratado únicamente en el baño. Y deberá hacer sus necesidades higiénicas en el mismo, el dueño deberá limpiar y dejar las instalaciones del mismo modo como las encontró.</li>
                            <li>Chepe Express y su personal, en determinados casos, se reserva el derecho de limitar el transporte o solicitar cambio de asiento o coche, cuando alguno de los pasajeros así lo solicite, o moverlo de asiento en el caso de que
                                el perro por su tamaño obstaculice el paso normal de los pasajeros.
                            </li>
                            <li>Los perros deberán cumplir con las condiciones higiénicas y sanitarias y estar correctamente documentados. </li>
                            <li>En ningún caso el perro podrá subirse a un asiento, sillón, banco o mesa de ninguno de los coches. Deberá permanecer siempre junto a los pies de su dueño de forma que interfiera lo menos posible con el resto de los pasajeros.</li>
                            <li>Ferromex/Chepe Express no se hacen responsables de pagar ninguna compensación, retribución o gastos en ningún caso en que el perro sufra algún un accidente, pérdida, enfermedad o muerte. Ni los gastos de transportación o veterinario
                                que resulte de esto.</li>
                            <li>El dueño se compromete a pagar cualquier destrozo que el perro realice en perjuicio del mobiliario del tren, de manera inmediata y en efectivo, a consideración del Subgerente del tren.</li>
                            <li>En caso de que el perro dañe físicamente a otro pasajero el dueño deberá arreglar la situación con dicho pasajero y compensarle económicamente si este así lo solicita. Ferromex/Chepe Express ni su personal, serán responsables
                                de cualquier arreglo que se dé entre los mismos. </li>
                        </ol>

                        <p><b> 11.- ATENCIÓN ESPECIAL: </b></p>

                        <p>Pasajeros con discapacidad. El tren Chepe Express es un sistema de transporte que arriba a destinos serranos y las condiciones de accesibilidad son limitadas, por lo que estamos trabajando para ofrecerles un mejor servicio. Es
                            por esta razón que en ciertos casos necesitamos saber con anticipación si requiere asistencia especial.
                        </p>

                        <ul>

                            <li>Si viaja con animal de servicio para asistencia. Favor de consultar numeral 10. </li>
                            <li>Podrá documentar sin costo adicional su silla de ruedas, muletas, andadera, bastones, entre otros.
                            </li>
                            <li>Deberá considerar que el tren por sus características físicas tiene pasillos muy estrechos, por lo que no es posible transitar con silla de ruedas por los coches de pasajeros.</li>
                            <li>Hay que considerar que nuestro personal no está posibilitado para ayudarle a comer, asistirle dentro del sanitario, atender necesidades fisiológicas en su asiento ni tampoco prestarle servicios médicos.</li>
                            <li>El personal a bordo le brindará la atención general.</li>
                            <p>Pasajeros enfermos. En caso expreso, deberán portar certificados médicos. Será obligatorio indicar al momento de reservar o hacer su compra si:</p>
                            <li>Tiene un problema de salud que ponga en duda razonable la conclusión de su viaje con tranquilidad, sin necesidad de asistencia médica especial durante el viaje.</li>
                            <li>Daño cerebral, se requiere que el pasajero viaje acompañado.</li>
                            <li>Enfermedad en etapa terminal o desahucio por causas distintas. Adicional al certificado médico, se requiere que el pasajero viaje acompañado.</li>
                            <li>Enfermedad infectocontagiosa. No se permitirá el viaje si la enfermedad es fácilmente transmisible en ambientes cerrados. </li>

                        </ul>

                        <p><b> 12.- ENTRADA A LOS ANDENES E INSTALACIONES FERROVIARIAS: </b></p>

                        <p>Sólo será permitida la entrada a los andenes de las estaciones, a los pasajeros que presenten sus boletos de pasaje, para viajar en alguno de los trenes.
                        </p>
                        <p>De acuerdo con el Artículo 63 del Reglamento del Servicio Ferroviario, el concesionario podrá rehusarse a transportar y no se permitirá el acceso a las instalaciones ferroviarias ni el abordaje de trenes a:
                        </p>

                        <ul>

                            <li>A menores de 12 años solos </li>
                            <li>A las mujeres en estado de gravidez de siete meses en adelante </li>
                            <li>A las personas que pretendan viajar solas que sufran de alguna discapacidad en términos del artículo 450 fracción II del Código Civil para el Distrito Federal en Materia Común y para toda la República en Materia Federal, y
                                </li>
                            <li>A las personas que, por la naturaleza de su enfermedad, presenten riesgos para los demás pasajeros, o que por su estado de salud su transportación pueda implicar un riesgo para su vida.En caso de que el concesionario acepte
                                transportar a las personas a que se refiere este artículo, será bajo la estricta responsabilidad de aquél y deberá tomar las medidas necesarias para proteger la seguridad durante el trayecto de aquellos a quienes transporta.
                            </li>

                            <li>Las personas que se encuentran en estado de ebriedad o bajo la influencia de estupefacientes o sicotrópicos, salvo que cuenten, en este último caso, con prescripción médica.</li>
                            <li>Las personas que porten armas, sin el permiso respectivo, explosivos, sustancias peligrosas o en general cualquier otro elemento que constituya un riesgo para los usuarios.</li>

                        </ul>

                        <p><b> 13.- SOLICITUD DE CAMBIOS, CANCELACIONES O REEMBOLSOS POR PARTE DEL PASAJERO: </b></p>

                        <p>Todas las modificaciones a una venta causan un 10% de cargo por gastos administrativos.
                        </p>
                        <p>Todos los trenes están sujetos a cambios de horarios o demoras en ruta debido a condiciones climatológicas o de caso fortuito, en cuyo caso no se podrá aplicar por parte del pasajero acciones en contra de la empresa. Cuando alguna
                            de estas situaciones se presente, Ferromex/Chepe Express determinará los movimientos del tren. El uso de cualquier tramo del viaje significará la aceptación del pasajero a estas normas y condiciones.
                        </p>

                        <ol type="a">
                            <li>Se podrá cancelar el viaje por causas imputables al usuario si se informa mediante el envío de un correo electrónico a la dirección atencionclientes.chepe@ferromex.mx con al menos siete días antes de la fecha de viaje, el importe
                                pagado se reembolsará con un cargo del 30%.
                            </li>
                            <li>Si su aviso lo realiza con menos de seis días hábiles antes del viaje enviando un correo electrónico a la dirección atencionclientes.chepe@ferromex.mx el costo del boleto no se reembolsará, no obstante, si se cubre un 10% como
                                penalización sobre la tarifa comprada, tendrá derecho a utilizarlo en otra fecha reservando anticipadamente y con una vigencia de un año. En caso de que la tarifa al momento de querer hacer el viaje se haya incrementado,
                                el cliente deberá cubrir la diferencia de tarifas.</li>
                            <li>Si se avisa el día del viaje o una fecha posterior al viaje, ya no aplicará reembolso ni se podrá utilizar para viajar después. </li>
                            <li> Si alguno de los pasajeros incluidos en una compra grupal cancela su viaje por motivos personales en la fecha determinada, se podrá hacer el reembolso por el monto proporcional al pasajero o pasajeros que cancelen su viaje
                                de acuerdo con el inciso a) y b) anteriores. </li>

                            <p> Si el pasajero o pasajeros cancelan un tramo del viaje se reembolsará de acuerdo con los incisos a) y b) anteriores tomando como fecha de viaje el inicio de este. Y se reembolsará por el monto proporcional al tramo no utilizado.
                                </p><br>


                            <li> Si el pasajero da aviso de la cancelación del viaje mismo día o después de la fecha del viaje, NO habrá reembolso y NO tendrá derecho a utilizarlo en otra fecha. </li>
                            <li> En el caso de compras con dos días de anticipación no habrá reembolso y podrá utilizar el mismo boleto durante los próximos 365 días, previa reservación y sujeto a disponibilidad. </li>
                            <li> En el caso de tramos no utilizados, imputable al pasajero, se tomará como base el inciso a) y b) de acuerdo con el monto no utilizado. </li>
                            <li> Para el trámite de reembolso el pasajero o pasajeros deberán enviar su boleto escaneado, así como una carta solicitando dicho reembolso, los datos de su cuenta bancaria y un teléfono donde localizarlo. Esto se deberá enviar
                                al correo: atencionclientes.chepe@ferromex.mx El reembolso se realizará en los siguientes 30 días hábiles. Y se enviará al cliente la ficha de depósito como comprobante de la transacción a través de correo electrónico.
                                Con la solicitud de reembolso, la ficha de depósito y la copia del boleto se abrirá un expediente para cualquier aclaración. </li>
                        </ol>

                        <p><b> 14.- CAMBIOS O CANCELACIONES POR PARTE DE FERROMEX: </b></p>

                        <p>En los casos de que el pasajero ya se encuentre con boleto comprado y ocurra algún evento fuera del control de Ferromex, que haga imposible el viaje, este se obliga a:
                        </p>


                        <ol type="a">
                            <li> La devolución del 100% del tramo no ocupado.</li>
                            <li> En los casos en que proceda se podrá ocupar el boleto para tomar el tren en un tramo contrario. </li>
                            <li> En los casos que se considere procedente y tomando en cuenta la seguridad del pasajero, Ferromex/Chepe Express determinará si fuera conveniente contratar un servicio externo de transporte terrestre como autobuses o camionetas
                                de turismo autorizados. </li>
                            <li> En los casos en donde los pasajeros sean trasladados por otro medio conforme al inciso anterior, en los tramos que habían comprado su boleto, este no se reembolsará, ya que el servicio se tendrá como otorgado.
                            </li>
                            <li> Ferromex no está obligado a cubrir los gastos de alimentos ni de hotel, que resulten de caso fortuito o fuerza mayor no atribuible a este. </li>
                            <li> La devolución de boletos por causas imputables a Ferromex causará la devolución del importe correspondiente al 100% del segmento no utilizado y sólo aplica a la presentación del boleto emitido por Ferromex/Chepe Express. </li>
                            <li> El cliente tendrá 30 días para reclamar su reembolso o hacer uso de este para la fecha que solicite el pasajero, no excediendo de doce meses desde la fecha del evento, en estos casos, el reembolso se depositará a la cuenta
                                que el pasajero determine a los 30 días naturales posteriores a la solicitud.
                            </li>
                        </ol>

                        <p><b> 15.- FACTURACIÓN: </b></p>

                        <p>El pasajero podrá solicitar la factura por la compra de su boleto, enviando la copia de su boleto escaneado y su cédula fiscal, así como sus datos en el cuerpo del correo a la dirección a chepe.facturacion@ferromex.mx. En tres
                            días hábiles Ferromex enviará la factura electrónica a través de este mismo medio contado a partir de que se reciba el correo.
                        </p>
                        <p>La solicitud deberá enviarse dentro del mes que realizó la compra, de lo contrario, no podrá ser sujeto a facturación. Las facturas solicitadas del día 1 al día 28 del mes saldrán con la fecha del mes en curso, las solicitadas
                            a partir del día 29 del mes se realizarán con la fecha del mes siguiente.
                        </p>
                        <p><b> 16.- CONDICIONES DEL CONTRATO DE TRANSPORTE FERROVIARIO: </b></p>

                        <p> Ningún agente, servidor, representante, transportista, o tercera persona, tiene la facultad o la capacidad para modificar, restringir o ampliar los términos de este documento.
                        </p>




                    </div>
                </div>

            </div>
        </div>
    </div>