<div class="main-content">
    <section class="billing">
        <br>
        <br>
         <!-- BEGIN: TITLE -->
         <div class="row margintop50 mb-1">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-24 col-md-24  no-gutter-left">
                        <div class=" col-sm-24 gap-left ">
                            <h1> {{'ComBill-P00' | translate}} </h1>
                        </div>
                       
                    </div>
                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-one"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: TITLE -->
        <!-- BEGIN: STEPS -->
        <div class="wizard-steps">
            <ul>
                <li>
                    <a>
                        <span>{{'ComBill-P01' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>{{'ComBill-P02' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>{{'ComBill-P03' | translate}}
                        </span>
                    </a>
                </li>
                <li>
                    <a class="active">
                        <span>{{'ComBill-P04' | translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END: STEPS -->
        <!-- BEGIN: BILLING -->
        <section class="billing-box">

            <!-- BEGIN: BILLING BLOCK 6-->

            <div class="billing-block billing-6">
                <div class="row-field set-keyDate row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>{{'BillSearch-P00' | translate}}</label>
                            <input class="form-control disabled-style" type="text">
                        </div>
                    </div>
                </div>
                <div class="billing-center row">
                    <div class="row-field">
                        <h4 class="align-center">{{'BillSearch-P01' | translate}}
                        </h4>
                        <div class="download-docs">
                            <div class="col-md-12">
                                <a href="#" class="bill-download icon-pdf">
                                    <strong>{{'BillSearch-P02' | translate}} </strong>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="bill-download icon-xml">
                                    <strong>{{'BillSearch-P02' | translate}} </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-set">
                    <a routerLink="/Facturacion" class="btnForm btn-blue close-btn btn-size1" aria-label="Close" data-dismiss="modal">{{'BillSearch-P03' | translate}}</a>
                </div>
            </div>
            <!-- END: BILLING BLOCK 6-->


        </section>
        <!-- END: BILLING -->
    </section>
</div>