<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class=" col-sm-20 gap-left">
            <h1>ChepeXplora</h1>
          </div>

          <div class="col-sm-24 no-gutter-left-mobile">
            <span class="title-underline c-border-one"></span>
          </div>

        </div>
      </div>
    </div>
    <div class="row margintop30 grid-image">
      <div class="col-sm-24 no-gutter-left">
        <div class="row">
          <div class="col-sm-24 gap-left gap-right">
            <div class="row">
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/chepexplora/detalles#los-mochis">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/chihuahua.jpg">
                    <div class="hover-text">LOS MOCHIS</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/chepexplora/detalles#el-fuerte">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/cuauhtemoc.jpg">
                    <div class="hover-text">EL FUERTE</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6 clearfix">
                <a routerLink="/atracciones/chepexplora/detalles#tren-fuerte-bahuichivo">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/creel.jpg">
                    <div class="hover-text">TRASLADO EN TREN ENTRE EL FUERTE Y BAHUICHIVO</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6 clearfix">
                <a routerLink="/atracciones/chepexplora/detalles#bahuichivo-cerocachui">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/barancas-cobre.jpg">
                    <div class="hover-text">Bahuichivo / Cerocachui </div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6 clearfix">
                <a routerLink="/atracciones/chepexplora/detalles#creel">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/bahuichivo.jpg">
                    <div class="hover-text">CREEL</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/chepexplora/detalles#cuauhtemoc">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/el-fuerte.jpg">
                    <div class="hover-text">CUAUHTÉMOC</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/chepexplora/detalles#anahuac">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/los-mochis.jpg">
                    <div class="hover-text">ANÁHUAC</div>
                  </div>
                </a>
              </div>
              <div class=" col-sm-12 col-md-6">
                <a routerLink="/atracciones/chepexplora/detalles#chihuahua">
                  <div class="box-image">
                    <img class="img-responsive" src="assets/img/atraciones/la-paz.jpg">
                    <div class="hover-text">CHIHUAHUA</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>