<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-16 no-gutter-left">
                <div class="row">
                    <div class=" col-sm-20 gap-left">
                        <h1 class="c-two">{{route1.seats[0].route.name}}</h1>
                    </div>
                    <div class="col-sm-24 no-gutter-left-mobile">
                        <span class="title-underline c-border-two"></span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-8 col-md-offset-1 col-md-6 paddingtop20 no-gutter-right" *ngIf="session.rb">
              <table class="table uppercase">
                  <tbody>
                      <tr>
                          <th class="bg-three border2 c-one" scope="row">Total</th>
                          <td class="bg-two-darker border2 c-one" *ngFor="let c of getCosts()">{{c.amount | currency}} {{c.currency}}</td>
                      </tr>
                      <tr>
                          <th class="bg-three c-one" scope="row">Pasajeros</th>
                          <td class="bg-two-darker c-one">{{session.query.getTotalPassengers()}}</td>
                      </tr>
                  </tbody>
              </table>
          </div> -->
        </div>

        <div class="row">
            <div class="col-sm-24 no-gutter-left">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="table-responsive">
                            <br>
                            <br>
                            <table class="table chepe three center">

                                <thead class="uppercase">
                                    <tr>
                                        <th>{{'Com1-P01' | translate}}</th>
                                        <th>{{'Com1-P02' | translate}}</th>
                                        <th>{{'Com1-P03' | translate}}</th>
                                        <th>{{'Com1-P04' | translate}}</th>
                                        <th>{{'Com1-P05' | translate}}</th>
                                        <th>{{'Com1-P06' | translate}}</th>
                                        <th>{{'Com1-P07' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let segment of tabla1">
                                        <td>{{segment.n}}</td>
                                        <td class="bg-two-medium">{{segment.src.name}}</td>
                                        <td>{{segment.selected_travel.getDate()}}</td>
                                        <td class="bg-three">{{segment.selected_travel.arrival.time}} hrs</td>
                                        <td class="bg-two-medium">{{segment.dst.name}}</td>
                                        <td>{{segment.selected_travel.departure.time}} hrs</td>
                                        <td class="bg-three">{{segment.selected_travel.getDuration()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24 gap-left">
                        <p>{{'Com1-P10' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-24 no-gutter-left">
            <div class="row">
                <div class="col-sm-10 col-md-offset-3 col-md-6 paddingtop20 no-gutter-left">
                    <table class="table uppercase">
                        <thead class="uppercase">
                            <tr>
                                <th>TIPO PASAJERO</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let person of tabla.rb.persons;let i = index;">
                            <tr>
                                <td class="bg-two-medium" *ngIf="person.id_passenger_type == '1'">ADULTO</td>
                                <td class="bg-two-medium" *ngIf="person.id_passenger_type == '2'">MENOR</td>
                                <td class="bg-two-medium" *ngIf="person.id_passenger_type == '8'">INFANTE</td>

                                <td class="bg-three">{{person.name}}</td>

                                <td class="bg-two-medium">{{person.lastname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <iframe id="webpay_sframe" [src]="url" height="560px" width="400px" frameborder="0" scrolling="no"
                    seamless="seamless" *ngIf="url!==undefined && url!==null"></iframe>


            </div>
        </div>
        <!-- <div class="col-sm-10 col-md-offset-13 col-md-6 paddingtop20 no-gutter-right">
            <table class="table uppercase">
                <tbody>
                    <tr>
                        <th class="bg-three border2 c-one" scope="row">{{'Costo por pasajero' | translate}}</th>
                        <td class="bg-two-darker border2 c-one">{{schedule.cost / query.getTotalPassengers()| currency}}
                            {{schedule.currency}}</td>
                    </tr>
                    <tr>
                        <th class="bg-three c-one" scope="row">{{'Com1-P00' | translate}}</th>
                        <td class="bg-two-darker c-one">{{query.getTotalPassengers()}}</td>
                    </tr>
                    <tr>
                        <th class="bg-three border2 c-one" scope="row">Total</th>
                        <td class="bg-two-darker border2 c-one">{{schedule.cost | currency}} {{schedule.currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->

    </div>
</div>