<div class="row" >
    <div class="col-md-12  marginbot80 no-gutter-left">                        
        <div class="row">

            <div class="col-sm-24 no-gutter-mobile">
                <div class="border-img-bot c-border-one ">
                    <img class="img-responsive" src="assets/img/reservacion/header-reserva-express.jpg">
                </div>
            </div>

            <div class=" col-sm-21 gap-small-left">
                    <h1 class="blue-express">Chepe Express</h1>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
                <span class="title-underline-half c-border-one"></span>
            </div>

            <div class="col-sm-22 gap-small-left margintop30">
                <div class="table-responsive">
                    <table class="table chepe">

                        <tbody>
                            <tr>
                                <th class="bg-three border2" scope="row">VAGONES</th> <td colspan="2">PREMIUM, CLÁSICO, BAR, TERRAZA Y RESTAURANTE URIKE</td>
                            </tr>
                            <tr>
                                <th class="bg-three border2" scope="row" rowspan="2">SALIDAS<br> DIARIAS</th>
                                <td class="c-one">7:00 hrs <br> 14:30 hrs</td>
                                <td class="bg-one-light">Sale de Los Mochis <br> Llega a Creel</td>
                            </tr>
                            <tr>
                                <td class="c-one">16:00 hrs <br> 23:00 hrs</td> <td class="bg-one-light">Sale de Creel <br> Llega a Los Mochis</td>
                            </tr>
                            <tr>
                                <th class="bg-three border2" scope="row">TARIFAS</th> <td class="c-one">$2,373.50 <br> $4,747.00</td> <td class="bg-one-light">Viaje sencillo <br> Viaje redondo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" col-sm-12 col-sm-offset-6 margintop50">
                <a href="#" data-toggle="modal" data-target="#mapa-chepe-express">
                <img class="img-responsive" src="assets/img/reservacion/map_express.jpg">
                </a>
            </div>
            <div class=" col-sm-24 center margintop30">
                <a class="btn btn-link c-one" href="reservaciones-express1.html" role="button">
                    <div><img src="assets/img/icon_train.png"></div>
                    <div>BUSCAR TRENES</div>
                </a>
            </div>
        </div>


    </div>
    <div class="col-md-12 marginbot80 no-gutter-right">
            
        <div class="row">

            <div class="col-sm-24 no-gutter-mobile">
                <div class="border-img-bot c-border-two">
                    <img class="img-responsive" src="assets/img/reservacion/header-reserva-regional.jpg">
                </div>
            </div>
        
            <div class="col-sm-21 gap-small-left">
                    <h1 class="c-two blue-regio">Chepe Regional</h1>
            </div>

            <div class="col-sm-24 no-gutter-left-mobile">
                <span class="title-underline-half c-border-two"></span>
            </div>

            <div class=" col-sm-22 gap-small-left margintop30">
                <div class="table-responsive">
                    <table class="table chepe secondary">

                        <tbody>
                            <tr>
                                <th class="bg-three border2" scope="row">VAGONES</th> <td colspan="2">TURISTA Y CAFETERÍA</td>
                            </tr>
                            <tr>
                                <th class="bg-three border2" scope="row" rowspan="2">SALIDAS<br> TERCIADAS</th>
                                <td class="c-two">7:00 hrs <br><br> 22:38 hrs</td>
                                <td class="bg-two-light">Sale de Chihuahua <br> Lunes, jueves y sábado <br> Llega a los Mochis</td>
                            </tr>
                            <tr>
                                <td class="c-two">7:00 hrs <br><br> 21:54 hrs</td> <td class="bg-two-light">Sale de los Mochis <br> Martes, viernes y domingo <br> Llega a Chihuahua</td>
                            </tr>
                            <tr>
                                <th class="bg-three border2" scope="row">TARIFAS</th> <td class="c-two">$3,277.00</td> <td class="bg-two-light">Viaje sencillo <br>(Incluye 3 escalas)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <div class=" col-sm-12 col-sm-offset-6 margintop30">
                <a href="#" data-toggle="modal" data-target="#mapa-chepe-regional">
                <img class="img-responsive" src="assets/img/reservacion/map_regional.jpg">
                </a>
            </div>
        
            <div class="col-sm-24 center margintop30">
                <a class="btn btn-link c-one" href="reservaciones-regional1.html" role="button">
                    <div><img src="assets/img/icon_train.png"></div>
                    <div>BUSCAR TRENES</div>
                </a>
            </div>
            
            
        
    </div>
</div>

<!-- modal map Chepe Express -->  
<div class="modal mapa fade" id="mapa-chepe-express" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
                <img src="assets/img/reservacion/map_express_full.jpg" class="img-responsive">
        </div>
        
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal map Chepe Regional -->  
    <div class="modal mapa fade" id="mapa-chepe-regional" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
                <img src="assets/img/reservacion/map_regional_full_select.jpg" class="img-responsive">
        </div>
        
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->