<div class="col-xs-32" *ngIf="session.schedule">
    <table class="table uppercase">
        <tbody>
            <tr>
                <th class="bg-three border2 c-one" scope="row">{{'Step2-P12' | translate}}</th>
                <td class="bg-two-darker border2 c-one">{{session.schedule.cost | currency}} {{session.schedule.currency}}</td>
            </tr>
            <tr>
                <th class="bg-three c-one" scope="row">{{'Step2-P13' | translate}}</th>
                <td class="bg-two-darker c-one">{{session.query.getTotalPassengers()}}</td>
            </tr>
        </tbody>
    </table>
</div>